<ul class="list-group">
  <li class="list-group-item">
    <div class="row">
      <b>
      <div class="col-md-2">
        ID
      </div>    
      <div class="col-md-2">
        Retour
      </div>
      <div class="col-md-2">
        Client
      </div>    
      <div class="col-md-2">
        Statut   
      </div>
      <div class="col-md-2">
        Total
      </div>
      <div class="col-md-2">

      </div>
      <div class="col-md-2">

      </div>
    </b>
    </div>        
  </li>

<% @return_boxes.order("return_date DESC").each do |return_box| %>

<li class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      <%= return_box.id %>
        <%= link_to return_box_path(return_box) do %>
          <%= content_tag(:i, "", class: "fa fa-eye") %>
        <% end %>
    </div>
    <div class="col-md-1">
      <% if return_box.offer.lln_daily %>
      <b>LLN</b>
      <% end %>
    </div>  
    <div class="col-md-2">
      Att: <%= return_box.return_date.strftime("%d/%m/%Y") if return_box.return_date %><br>
      <b>Eff: <%= return_box.return_time.strftime("%d/%m/%Y") if return_box.return_time %></b>
    </div>
    <div class="col-md-2">
      <%= return_box.offer.organizer.name %>
    </div>    
    <div class="col-md-2">
      <% if return_box.is_back %>
      Rentré<br>
      <% end %>
      <% if return_box.is_controlled %>
      Contrôlé<br>
      <% end %>
      <% if return_box.send_wash %>
      Lavage
      <% end %>    
    </div>
    <div class="col-md-2">
      <%= return_box.total_return %>
    </div>
    <div class="col-md-2">

    </div>
    <div class="col-md-2">

    </div>

  </div>
</li>

<% end %>

</ul>
