<div class="row">
<ul class="list-group">
          <li class="list-group-item list-group-item-warning ">
            <h4><%= t("return.to_control") %></h4>
          </li>
</ul>
</div>

  <div class="row">
    <div class="col-md-6">    
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_today") %></h4>
          </li>
        
            <% @not_controlled.back_this_day.each do |return_box| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>
                    
                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-eye") %>
                    <% end %>
                  
                    <%= link_to edit_return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                    <% end %>
                  <br>
                  <%= return_box.return_time.strftime("%d/%m/%Y") %><br>
                  <%= return_box.return_time.strftime("%H:%M") %><br>
                  <%= return_box.delivery.total_boxes %> <%= t("menu.boxes") %> 
                </strong>
                </li>
            <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_yesterday") %></h4>
          </li>

            <% @not_controlled.back_previous_day.each do |return_box| %>


              <li class="list-group-item text-center">
        
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-eye") %>
                    <% end %>                 
                              
                    <%= link_to edit_return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                    <% end %>
                  <br>
                  <%= return_box.return_time.strftime("%d/%m/%Y") %><br>
                  <%= return_box.return_time.strftime("%H:%M") %><br>
                  <%= return_box.delivery.total_boxes %> <%= t("menu.boxes") %> 
                </strong>
              </li>
            <% end %>       
        </ul>
      </div>
      
    </div>  

        
    <div class="col-md-6">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_two_days") %></h4>
          </li>
        
            <% @not_controlled.back_two_days_ago.each do |return_box| %>

              <li class="list-group-item text-center">
        
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-eye") %>
                    <% end %>                 
                                                                  
                    <%= link_to edit_return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                    <% end %>
                  <br>
                  <%= return_box.return_time.strftime("%d/%m/%Y") %><br>
                  <%= return_box.return_time.strftime("%H:%M") %><br>
                  <%= return_box.delivery.total_boxes %> <%= t("menu.boxes") %> 
                </strong>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("return.back_fifteen_days_ago") %></h4>
          </li>

            <% @not_controlled.back_fifteen_days_ago.each do |return_box| %>


              <li class="list-group-item text-center">
        
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-eye") %>
                    <% end %>                 
                                                     
                    <%= link_to edit_return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                    <% end %>
                  <br>
                  <%= return_box.return_time.strftime("%d/%m/%Y") %><br>
                  <%= return_box.return_time.strftime("%H:%M") %><br>
                  <%= return_box.delivery.total_boxes %> <%= t("menu.boxes") %> 
                </strong>
              </li>
            <% end %>       
        </ul>
      </div>
    </div>
  </div>
