  <ul class="list-group">
    <li class="list-group-item">

      <strong>
        <%= t("return.reference") %><%= @return_box.id %> <%= t("word.from") %> <%= @return_box.offer.event.event_name %>    
      </strong>
    </li>

    <li class="list-group-item list-group-item-warning">

      <h5><strong>  
        <%= @return_box.display_difference_ctrl %><br>   
      </strong></h5>
    </li>
  

    <li class="list-group-item">
     <h5><strong><%= t("return.controlled_boxes") %></h5></strong>
    </li>
  
    <li class="list-group-item">


        <% @thisreturndetails.each do |thisreturndetail| %>

          <div class="row">

            <%= simple_form_for(thisreturndetail) do |f| %>
              <%= f.error_notification %>

            <div class="col-md-4 text-center">
              <strong><%= t("box.box_name") %></strong><br>
              <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
            </div>


            <div class="col-md-2 text-center">
              <%= f.input :dirty_ctrl %>
            </div>
         
            <div class="col-md-2 text-center">
              <%= f.input :sealed_ctrl %>
            </div>

            <div class="col-md-2 text-center">
              <%= f.input :clean_ctrl %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        <% end %>

    </li>
  </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h5><strong><%= t("return.add_box")%></strong></h5>
        </li>
      

        <li class="list-group-item">
          <div class="row">
            <%= simple_form_for(@return_detail) do |f| %>
              <%= f.error_notification %>

              <%= f.hidden_field :return_box_id, :value => @return_box.id %>

            <div class="col-md-4 text-center">
              <strong><%= t("box.box_name") %></strong><br>
              <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
            </div>


            <div class="col-md-2 text-center">
              <%= f.input :dirty_ctrl %>
            </div>
         
            <div class="col-md-2 text-center">
              <%= f.input :sealed_ctrl %>
            </div>

            <div class="col-md-2 text-center">
              <%= f.input :clean_ctrl %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        </li>
      </ul>