  <ul class="list-group">
    <li class="list-group-item">

      <strong>
        <%= t("return.reference") %><%= @return_box.id %> <%= t("word.from") %> <%= @return_box.offer.event.event_name %><br>
                    <% if @return_box.offer.organizer.is_lln %>
                      <%= @return_box.offer.organizer.name %><br>
                    <% end %>    
      </strong>
    </li>

    <li class="list-group-item list-group-item-warning">

      <h5><strong>
        <%= @return_box.status %>
      </strong></h5>
    </li>

</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <h4>Situation du retour</h4>
  </li>

  <li class="list-group-item list-group-item-warning">
    <div class="row text-center">

      <div class="col-md-2">
        Nom
      </div>

      <div class="col-md-10">
        <div class="col-md-2">
          <strong>
            Total
            <div class="row text-center">
              <div class="col-md-6">
                Envoyés
              </div>
              <div class="col-md-6">
                Retours 
              </div>
            </div>
          </strong>
        </div>

        <div class="col-md-2">
          Sales

          <div class="row text-center">
            <div class="col-md-6">
              Ret
            </div>
            <div class="col-md-6">
              Cont  
            </div>
          </div>

        </div>

        <div class="col-md-2">
          Scellées
          <div class="row text-center">      
            <div class="col-md-6">
              Ret
            </div>
            <div class="col-md-6">
              Cont  
            </div>      
          </div>

        </div>

        <div class="col-md-2">
          Propres
          <div class="row text-center">
            <div class="col-md-6">
              Ret
            </div>
            <div class="col-md-6">
              Cont          
            </div>      
          </div>

        </div>

        <div class="col-md-2">
          Taguées
          <div class="row text-center">
            <div class="col-md-6">
              Ret
            </div>
            <div class="col-md-6">
              Cont          
            </div>      
          </div>

        </div>

        <div class="col-md-2">
          <strong>
            Difference
            <div class="row text-center">
              <div class="col-md-4">
                Livré
              </div>
              <div class="col-md-8">
                Vérifier          
              </div>      
            </div>
          </strong>
        </div>
      </div>
    </div>
  </li>

  <% Box.closed.find_each do |box| %>

    <% if @return_box.returned_boxes(box) >= 1 %>

      <li class="list-group-item">
        <div class="row text-center">

          <div class="col-md-2">
            <%= box.box_name %>
          </div>

          
          <div class="col-md-10">
            <div class="col-md-2">
              <div class="row text-center">
                <strong>
                  <div class="col-md-6">
                    <% unless @return_box.offer.lln_daily %>
                      <%= @return_box.offer.sent_boxes(box) %>
                    <% end %>
                  </div>
                  <div class="col-md-6">
                    <%= @return_box.returned_boxes(box) %>
                  </div>
                </strong>

              </div>

            </div>

            <div class="col-md-2">

              <div class="row text-center">
                <div class="col-md-6">
                  <%= @return_box.dirty_boxes(box) %>
                </div>
                <div class="col-md-6">
                  <%= @return_box.dirty_ctrl_boxes(box) %>
                </div>
              </div>

            </div>

            <div class="col-md-2">

              <div class="row text-center">      
                <div class="col-md-6">
                  <%= @return_box.sealed_boxes(box) %>
                </div>
                <div class="col-md-6">
                  <%= @return_box.sealed_ctrl_boxes(box) %>
                </div>      
              </div>

            </div>

            <div class="col-md-2">

              <div class="row text-center">
                <div class="col-md-6">
                  <%= @return_box.clean_boxes(box) %>
                </div>
                <div class="col-md-6">
                  <%= @return_box.clean_ctrl_boxes(box) %>
                </div>      
              </div>

            </div>

            <div class="col-md-2">

              <div class="row text-center">
                <div class="col-md-6">
                  <%= @return_box.tagged_boxes(box) %>
                </div>
                <div class="col-md-6">
                  <%= @return_box.tagged_boxes_ctrl(box) %>
                </div>      
              </div>

            </div>

            <div class="col-md-2">

              <div class="row text-center">
                <strong>
                  <div class="col-md-4">
                    <% unless @return_box.offer.lln_daily %>
                      <%= @return_box.difference_delivery(box) %>
                    <% end %>
                  </div>
                  <div class="col-md-8">
                    <%= @return_box.display_dirty_difference(box) %>   
                    <%= @return_box.display_clean_difference(box) %>     
                    <%= @return_box.display_sealed_difference(box) %>       
                    <%= @return_box.display_tagged_box_difference(box) %>       
                  </div>   
                </strong>
     
              </div>

            </div>
          </div>
        </div>
      </li>

    <% end %>
  <% end %>
</ul>

<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <h4>Couvercles</h4>
  </li>

      <li class="list-group-item list-group-item-warning">
        <div class="row">
          <strong>
          <div class="col-md-3">
            Nom
          </div>

          <div class="col-md-3 text-center">
            Tagués
            <div class="row text-center">
              <div class="col-md-6">
                Ret
              </div>
              <div class="col-md-6">
                Cont          
              </div>      
            </div>
          </div>

          <div class="col-md-3 text-center">
            Manquants
            <div class="row text-center">
              <div class="col-md-6">
                Ret
              </div>
              <div class="col-md-6">
                Cont          
              </div>      
            </div>
          </div>

          <div class="col-md-3 text-center">
            Vérifier
          </div>
          </strong>
        </div>

      </li>

    <% Box.is_not_box.closed.find_each do |box| %>


      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= box.box_name %>
          </div>

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-center">
                <%= @return_box.tagged_tops(box) %>
              </div>
              <div class="col-md-6 text-center">
                <%= @return_box.tagged_tops_ctrl(box) %>
              </div>
            </div>
          </div>

          <div class="col-md-3">
            <div class="row">
              <div class="col-md-6 text-center">
                <%= @return_box.missing_tops(box) %>
              </div>
              <div class="col-md-6 text-center">
                <%= @return_box.missing_tops_ctrl(box) %>
              </div>
            </div>          </div>

          <div class="col-md-3 text-center">
            <strong><%= @return_box.display_tagged_tops_difference(box) %><br>
            <%= @return_box.display_missing_tops_difference(box) %></strong>
          </div>
        </div>

      </li>
  <% end %>
</ul>


<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <h4>Modifier encodage</h4>
  </li>

  <li class="list-group-item">
    <div class="row">
      <strong>
        <div class="col-md-3">
          <div class="row">
            <div class="col-md-6">
              Nom
            </div>

            <div class="col-md-6">
              
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="row">
            <div class="col-md-3 text-center">
              Sales
              <div class="row text-center">
                <div class="col-md-6">
                  Ret
                </div>

                <div class="col-md-6">
                  Cont
                </div>
              </div>
            </div>

            <div class="col-md-3 text-center">
              Propres
              <div class="row text-center">
                <div class="col-md-6">
                  Ret
                </div>

                <div class="col-md-6">
                  Cont
                </div>
              </div>
            </div>

            <div class="col-md-3 text-center">
              Scellées
              <div class="row text-center">
                <div class="col-md-6">
                  Ret
                </div>

                <div class="col-md-6">
                  Cont
                </div>
              </div>
            </div>

            <div class="col-md-3 text-center">
              Taguées
              <div class="row text-center">
                <div class="col-md-6">
                  Ret
                </div>

                <div class="col-md-6">
                  Cont
                </div>
              </div>
            </div>
          </div>
        </div>
 
      </strong>

    </div>
  </li>



<% @return_box.return_details.each do |detail| %>

  <li class="list-group-item">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-6">
            <%= detail.box.box_name %>
          </div>

          <div class="col-md-6">

              <!-- Large modal -->
              <button type="button" class="btn btn-default" data-toggle="modal" data-target="#return_detail_<%= detail.id %>">
                Modifier


              </button>

              <div class="modal fade" id="return_detail_<%= detail.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <%= simple_form_for detail do |f| %>

                      <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>

                          <h4 class="modal-title" id="myModalLabel">

                            <div class="row text-center">

                              <div class="col-md-4">
                                 <%= t("box.box_type") %>
                              </div>

                              <div class="col-md-6">
                                <% if detail.box.is_not_box %>
                                  <%= detail.box.box_name %>
                                <% else %>
                                  <%= f.collection_select :box_id, Box.closed.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
                                <% end %>
                              </div>

                              <div class="col-md-2">
                              </div>

                            </div>                     
                           
                          </h4>
                      </div>

                      <div class="modal-body">
                        <div class="row text-center">

                          <% if detail.box.is_not_box %>
                            <div class="col-md-6">
                            <%= t("return.return") %><br>
                              <%= f.input :tagged_top %>
                            </div>

                            <div class="col-md-6">
                            <%= t("return.return") %><br>
                              <%= f.input :missing_top %>
                            </div>

                          <% else %>

                          <div class="col-md-3">
                            <%= t("return.return") %><br>
                            <%= f.input :dirty %>
                          </div>

                          <div class="col-md-3">
                            <%= t("return.return") %><br>
                            <%= f.input :sealed %>
                          </div>

                          <div class="col-md-3">
                            <%= t("return.return") %><br>
                            <%= f.input :clean %>
                          </div>

                          <div class="col-md-3">
                            <%= t("return.return") %><br>
                            <%= f.input :tagged_box %>
                          </div>

                          <% end %>
                        </div>

                        <div class="row text-center">                        

                          <% if detail.box.is_not_box %>
                            <div class="col-md-6">
                              <%= t("return.control") %><br>
                              <%= f.input :tagged_top_ctrl %>
                            </div>

                            <div class="col-md-6">
                              <%= t("return.control") %><br>
                              <%= f.input :missing_top_ctrl %>
                            </div>

                          <% else %>

                            <div class="col-md-3">
                              <%= t("return.control") %><br>
                              <%= f.input :dirty_ctrl %>
                            </div>

                            <div class="col-md-3">
                              <%= t("return.control") %><br>
                              <%= f.input :sealed_ctrl %>
                            </div>

                            <div class="col-md-3">
                              <%= t("return.control") %><br>
                              <%= f.input :clean_ctrl %>
                            </div>

                            <div class="col-md-3">
                              <%= t("return.control") %><br>
                              <%= f.input :tagged_box_ctrl %>
                            </div>
                          <% end %>
                        </div>
                      </div>

                      <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <%= t("menu.close") %>
                        </button>
                
                          <%= f.button :submit, class: "btn btn-info" %>
          
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">

        <div class="col-md-3">
          <div class="row text-center">
            <div class="col-md-6">
              <% if detail.box.is_not_box %>
                <strong>Manquant</strong><br>
                <%= detail.missing_top_value %>
              <% else %>
                <%= detail.dirty_value %>
              <% end %>
            </div>

            <div class="col-md-6">
              <% if detail.box.is_not_box %>
                <strong>Manquant</strong><br>
                <%= detail.missing_top_ctrl_value %>
              <% else %>
                <%= detail.dirty_ctrl_value %>
              <% end %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row text-center">
            <div class="col-md-6">
              <%= detail.clean_value %>
            </div>

            <div class="col-md-6">
              <%= detail.clean_ctrl_value %>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="row text-center">
            <div class="col-md-6">
              <%= detail.sealed_value %>
            </div>

            <div class="col-md-6">
              <%= detail.sealed_ctrl_value %>
            </div>
          </div>
        </div> 

        <div class="col-md-3">
          <div class="row text-center">
            <div class="col-md-6">
              <% if detail.box.is_not_box %>
                <%= detail.tagged_top_value %>
              <% else %>
                <%= detail.tagged_box_value %>
              <% end %>
            </div>

            <div class="col-md-6">
              <% if detail.box.is_not_box %>
                <%= detail.tagged_top_ctrl_value %>
              <% else %>
                <%= detail.tagged_box_ctrl_value %>
              <% end %>            
            </div>
          </div>
        </div> 

        </div>

      </div>

    </div>
  </li>

<% end %>
</ul>
