    <ul class="list-group">
      <li class="list-group-item">

        <strong>
          <%= t("return.reference") %><%= @return_box.id %> <%= t("word.from") %> <%= @return_box.offer.event.event_name %><br>

              <% if @return_box.offer.organizer.is_lln %>
                <%= @return_box.offer.organizer.name %><br>
              <% end %>

        </strong>
      </li>

      <li class="list-group-item list-group-item-warning">

        <h5><strong>
          <%= @return_box.status %>    
        </strong></h5>
      </li>
    

      <li class="list-group-item">
       <h5><strong><%= t("return.to_control_boxes") %></h5></strong>
      </li>

      <li class="list-group-item">

      <% @thisreturndetails.each do |detail| %>

        <!-- Large modal -->
        <button type="button" class="btn btn-lg btn-default" data-toggle="modal" data-target="#return_detail_<%= detail.id %>">

          <%= detail.box.box_name %><br>
          <% if detail.box.is_not_box %>
            <%= detail.tagged_top_value + detail.missing_top_value %>
          <% else %>
            <% if detail.count >= 0 %>
              <%= detail.count %>
            <% end %>
          <% end %>


        </button>

        <div class="modal fade" id="return_detail_<%= detail.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <%= simple_form_for detail do |f| %>

                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                  </button>

                    <h4 class="modal-title" id="myModalLabel">

                      <div class="row text-center">

                        <div class="col-md-4">
                           <%= t("box.box_type") %>
                        </div>

                        <div class="col-md-6">

                          <% if detail.box.is_not_box %>
                            <%= detail.box.box_name %>
                          <% else %>
                            <%= f.collection_select :box_id, Box.is_box.closed.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
                          <% end %>

                        </div>

                        <div class="col-md-2">
                        </div>

                      </div>                     
                     
                    </h4>
                </div>

                <div class="modal-body">
                  <div class="row text-center">

                    <% if detail.box.is_not_box %>
                      <div class="col-md-6">
                        <%= f.input :tagged_top_ctrl %>
                      </div>

                      <div class="col-md-6">
                        <%= f.input :missing_top_ctrl %>
                      </div>

                    <% else %>

                      <div class="col-md-3">
                        <%= f.input :dirty_ctrl %>
                      </div>

                      <div class="col-md-3">
                        <%= f.input :sealed_ctrl %>
                      </div>

                      <div class="col-md-3">
                        <%= f.input :clean_ctrl %>
                      </div>

                      <div class="col-md-3">
                        <%= f.input :tagged_box_ctrl %>
                      </div>
                    <% end %>

                  </div>
                </div>

                <div class="modal-footer">

                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <%= t("menu.close") %>
                  </button>

                 
                    <%= f.button :submit, class: "btn btn-info" %>
    

                </div>

              <% end %>
       

            </div>
          </div>
        </div>

      <% end %>
      </li>
    </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h5><strong>Ajouter un retour</strong></h5>
        </li>
      

        <li class="list-group-item">
          <div class="row">
            <%= simple_form_for(@return_detail) do |f| %>
              <%= f.error_notification %>

              <%= f.hidden_field :return_box_id, :value => @return_box.id %>

            <div class="col-md-4 text-center">
              <strong><%= t("box.box_name") %></strong><br>
              <%= f.collection_select :box_id, Box.is_box.closed.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
            </div>


            <div class="col-md-2 text-center">
              <%= f.input :dirty %>
            </div>
         
            <div class="col-md-2 text-center">
              <%= f.input :sealed %>
            </div>

            <div class="col-md-2 text-center">
              <%= f.input :clean %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        </li>
      </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h5><strong><%= t("return.top")%></strong></h5>
        </li>
      

        <li class="list-group-item">
          <div class="row">
            <%= simple_form_for(@return_detail) do |f| %>
              <%= f.error_notification %>

              <%= f.hidden_field :return_box_id, :value => @return_box.id %>

            <div class="col-md-4 text-center">
              <br>

              <%= f.hidden_field :box_id, :value => Box.is_not_box.is_empty.first.id %>
              <strong><%= Box.is_not_box.is_empty.first.box_name %></strong>
            </div>


            <div class="col-md-3 text-center">
              <%= f.input :tagged_top %>
            </div>
         
            <div class="col-md-3 text-center">
              <%= f.input :missing_top %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        </li>
      </ul>