    <ul class="list-group">
      <li class="list-group-item list-group-item-warning ">
        <h4><%= content_tag(:i, "", class: "fa fa-truck fa-2x fa-flip-horizontal") %> <%= t("return.receive") %> des jours précédents</h4>
      </li>
        
            <% @not_back.before_today.each do |return_box| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-truck fa-3x fa-flip-horizontal") %>
                    <% end %>

                  <br>
                  <%= return_box.return_date.strftime("%d/%m/%Y") %><br>
                  <% unless return_box.offer.organizer.is_lln %>
                  <%= return_box.total_return %> <%= t("menu.boxes") %>
                  <% end %> 
                </strong>
                </li>
            <% end %>
        </ul>



    <ul class="list-group">
      <li class="list-group-item list-group-item-warning ">
        <h4><%= content_tag(:i, "", class: "fa fa-truck fa-2x fa-flip-horizontal") %> <%= t("return.receive") %></h4>
      </li>
    </ul>


  <div class="row">
    <div class="col-md-6">    
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_today") %></h4>
          </li>
        
            <% @not_back.this_day.each do |return_box| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-truck fa-3x fa-flip-horizontal") %>
                    <% end %>

                  <br>
                  <%= return_box.return_date.strftime("%d/%m/%Y") %><br>
                  <% unless return_box.offer.organizer.is_lln %>
                  <%= return_box.total_return %> <%= t("menu.boxes") %>
                  <% end %> 
                </strong>
                </li>
            <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.tomorrow2") %></h4>
          </li>

            <% @not_back.next_day.each do |return_box| %>


              <li class="list-group-item text-center">
        
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-truck fa-3x fa-flip-horizontal") %>
                    <% end %>

                  <br>
                  <%= return_box.return_date.strftime("%d/%m/%Y") %><br>
                  <% unless return_box.offer.organizer.is_lln %>
                  <%= return_box.total_return %> <%= t("menu.boxes") %>
                  <% end %> 
                </strong>
              </li>
            <% end %>       
        </ul>
      </div>
      
    </div>  

        
    <div class="col-md-6">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.two_days") %></h4>
          </li>
        
            <% @not_back.two_days.each do |return_box| %>

              <li class="list-group-item text-center">
        
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-truck fa-3x fa-flip-horizontal") %>
                    <% end %>

                  <br>
                  <%= return_box.return_date.strftime("%d/%m/%Y") %><br>
                  <% unless return_box.offer.organizer.is_lln %>
                  <%= return_box.total_return %> <%= t("menu.boxes") %>
                  <% end %>  
                </strong>
              </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.three_days") %></h4>
          </li>

            <% @not_back.three_days.each do |return_box| %>


              <li class="list-group-item text-center">
        
                <strong>
                  <%= return_box.offer.event.event_name %><br>
                    <% if return_box.offer.organizer.is_lln %>
                      <%= return_box.offer.organizer.name %><br>
                    <% end %>
                                      
                    <%= link_to return_box_path(return_box) do %>
                      <%= content_tag(:i, "", class: "fa fa-truck fa-3x fa-flip-horizontal") %>
                    <% end %>

                  <br>
                  <%= return_box.return_date.strftime("%d/%m/%Y") %><br>
                  <% unless return_box.offer.organizer.is_lln %>
                  <%= return_box.total_return %> <%= t("menu.boxes") %>
                  <% end %>  
                </strong>
              </li>
            <% end %>       
        </ul>
      </div>
    </div>
  </div>