<div class="container-fluid more-padding">

    <% if @return_box.is_back == nil && @return_box.is_controlled == nil %>

      <%= render 'show_not_back' %>

    <% elsif @return_box.is_back == true && @return_box.is_controlled == nil %>

      <%= render 'show_not_controlled' %>

    <% elsif @return_box.is_back == true && @return_box.is_controlled == true %>

    <%= render 'show_controlled' %>

    <% end %>

    <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), return_boxes_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">

        <% if @return_box.is_back == nil && @return_box.is_controlled == nil %>

          <%= simple_form_for(@return_box) do |f| %>
              <%= f.error_notification %>

            <%= f.hidden_field :is_back, :value => true %>
            <%= f.hidden_field :receptionist, :value => current_user.id %>
            <%= f.hidden_field :return_time, :value => Time.now %>
            <%= f.submit t("return.receive2"), class: "btn btn-lg btn-block btn-info" %>
            <% end %>

        <% elsif @return_box.is_back == true && @return_box.is_controlled == nil %>

          <%= simple_form_for(@return_box) do |f| %>
              <%= f.error_notification %>

            <%= f.hidden_field :is_controlled, :value => true %>
            <%= f.hidden_field :ctrler, :value => current_user.id %>
            <%= f.hidden_field :ctrl_time, :value => Time.now %>
            <%= f.submit t("return.ctrl"), class: "btn btn-lg btn-block btn-info" %>
            <% end %>

        <% else %>

            <%= link_to t("return.is_controlled"), return_boxes_path, class: "btn btn-lg btn-block btn-info" %>

        <% end %>

      </div>
    </div>

</div>

