<div class="container-fluid more-padding">

  <% if @return_box.is_back == nil && @return_box.is_controlled == nil %>

    <ul class="list-group">
      <li class="list-group-item">

        <strong>
          <%= t("return.reference") %><%= @return_box.id %> <%= t("word.from") %> <%= @return_box.offer.event.event_name %>    
        </strong>
      </li>

      <li class="list-group-item list-group-item-warning">

        <h5><strong>
          <%= @return_box.display_difference %>    
        </strong></h5>
      </li>
    

      <li class="list-group-item">
       <h5><strong><%= t("return.received_boxes") %></h5></strong>
      </li>
    
      <li class="list-group-item">


          <% @thisreturndetails.each do |thisreturndetail| %>

            <div class="row">

              <%= simple_form_for(thisreturndetail) do |f| %>
                <%= f.error_notification %>

              <div class="col-md-4 text-center">
                <strong><%= t("box.box_name") %></strong><br>
                <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
              </div>


              <div class="col-md-2 text-center">
                <%= f.input :dirty %>
              </div>
           
              <div class="col-md-2 text-center">
                <%= f.input :sealed %>
              </div>

              <div class="col-md-2 text-center">
                <%= f.input :clean %>
              </div>

                <div class="col-md-2 text-center">
                  <br><%= f.button :submit, class: "btn btn-default btn-info" %>
                </div>

                <% end %>
            </div>
          <% end %>

      </li>
    </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h5><strong><%= t("return.add_box")%></strong></h5>
        </li>
      

        <li class="list-group-item">
          <div class="row">
            <%= simple_form_for(@return_detail) do |f| %>
              <%= f.error_notification %>

              <%= f.hidden_field :return_box_id, :value => @return_box.id %>

            <div class="col-md-4 text-center">
              <strong><%= t("box.box_name") %></strong><br>
              <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
            </div>


            <div class="col-md-2 text-center">
              <%= f.input :dirty %>
            </div>
         
            <div class="col-md-2 text-center">
              <%= f.input :sealed %>
            </div>

            <div class="col-md-2 text-center">
              <%= f.input :clean %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        </li>
      </ul>

  <% elsif @return_box.is_back == true && @return_box.is_controlled == nil %>


  <ul class="list-group">
    <li class="list-group-item">

      <strong>
        <%= t("return.reference") %><%= @return_box.id %> <%= t("word.from") %> <%= @return_box.offer.event.event_name %>    
      </strong>
    </li>

    <li class="list-group-item list-group-item-warning">

      <h5><strong>  
        <%= @return_box.display_difference_ctrl %><br>   
      </strong></h5>
    </li>
  

    <li class="list-group-item">
     <h5><strong><%= t("return.conytrolled_boxes") %></h5></strong>
    </li>
  
    <li class="list-group-item">


        <% @thisreturndetails.each do |thisreturndetail| %>

          <div class="row">

            <%= simple_form_for(thisreturndetail) do |f| %>
              <%= f.error_notification %>

            <div class="col-md-4 text-center">
              <strong><%= t("box.box_name") %></strong><br>
              <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
            </div>


            <div class="col-md-2 text-center">
              <%= f.input :dirty_ctrl %>
            </div>
         
            <div class="col-md-2 text-center">
              <%= f.input :sealed_ctrl %>
            </div>

            <div class="col-md-2 text-center">
              <%= f.input :clean_ctrl %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        <% end %>

    </li>
  </ul>

      <ul class="list-group">
        <li class="list-group-item">
          <h5><strong><%= t("return.add_box")%></strong></h5>
        </li>
      

        <li class="list-group-item">
          <div class="row">
            <%= simple_form_for(@return_detail) do |f| %>
              <%= f.error_notification %>

              <%= f.hidden_field :return_box_id, :value => @return_box.id %>

            <div class="col-md-4 text-center">
              <strong><%= t("box.box_name") %></strong><br>
              <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select text-center"} %>
            </div>


            <div class="col-md-2 text-center">
              <%= f.input :dirty_ctrl %>
            </div>
         
            <div class="col-md-2 text-center">
              <%= f.input :sealed_ctrl %>
            </div>

            <div class="col-md-2 text-center">
              <%= f.input :clean_ctrl %>
            </div>

              <div class="col-md-2 text-center">
                <br><%= f.button :submit, class: "btn btn-default btn-info" %>
              </div>

              <% end %>
          </div>
        </li>
      </ul>

  <% elsif @return_box.is_back == true && @return_box.is_controlled == true %>

  <ul class="list-group">
    <li class="list-group-item">

      <strong>
        <%= t("return.reference") %><%= @return_box.id %> <%= t("word.from") %> <%= @return_box.offer.event.event_name %>    
      </strong>
    </li>

    <li class="list-group-item list-group-item-warning">

      <h5><strong>  
        <%= t("return.is_controled") %><br>   
      </strong></h5>
    </li>
  

    <li class="list-group-item">
     <h5><strong><%= t("return.controlled_boxes") %></h5></strong>
    </li>

    <li class="list-group-item">

          <div class="row">

            <div class="col-md-4 text-center">

              <strong><%= t("return.box_id") %></strong>

              <div class="row">

                <div class="col-md-6 text-center">
                </div>

                <div class="col-md-6 text-center">
                  <strong><%= t("return.total") %></strong>
                </div>

              </div>

              <div class="row">

                <div class="col-md-6 text-center">
                   <strong><%= t("box.box_name") %></strong>
                </div>
                
                <div class="col-md-6 text-center">

                  <div class="row">

                    <div class="col-md-4 text-center">
                      <strong><%= t("return.sen") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.rec") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.dif") %></strong>
                    </div>

                  </div>
                  
                </div>
              </div>

            </div>

            <div class="col-md-8 text-center">

              <div class="row">

                <div class="col-md-4 text-center">
                  <strong><%= t("return.dirty") %></strong>

                  <div class="row"><br>

                    <div class="col-md-4 text-center">
                      <strong><%= t("return.rec") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.con") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.dif") %></strong>
                    </div>

                  </div>

                </div>
             
                <div class="col-md-4 text-center">
                  <strong><%= t("return.sealed") %></strong>

                  <div class="row"><br>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.rec") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.con") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.dif") %></strong>
                    </div>
                  </div>

                </div>

                <div class="col-md-4 text-center">
                  <strong><%= t("return.clean") %></strong>

                  <div class="row"><br>

                    <div class="col-md-4 text-center">
                      <strong><%= t("return.rec") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.con") %></strong>
                    </div>
                    <div class="col-md-4 text-center">
                      <strong><%= t("return.dif") %></strong>
                    </div>

                  </div>
                </div>

              </div>

            </div>

            
          </div>

    </li>

    <li class="list-group-item">

        <% @thisreturndetails.each do |thisreturndetail| %>

          <div class="row">

            <div class="col-md-4 text-center">

              <div class="row">

                <div class="col-md-6 text-center">
                  <%= thisreturndetail.box.box_name %>
                </div>
                
                <div class="col-md-6 text-center">

                  <div class="row">

                    <div class="col-md-4 text-danger text-center">
                      <strong><%= @return_box.delivery.offer.offer_boxes.where(:box_id => thisreturndetail.box_id).last.quantity %></strong>
                    </div>
                    <div class="col-md-4 text-danger text-center">
                      <strong><%= thisreturndetail.count %></strong>
                    </div>
                    <div class="col-md-4 text-danger text-center">
                      <strong><%= @return_box.delivery.offer.offer_boxes.where(:box_id => thisreturndetail.box_id).last.quantity - thisreturndetail.count %></strong>
                    </div>

                  </div>
                  
                </div>
              </div>

            </div>

            <div class="col-md-8 text-center">

              <div class="row">

                <div class="col-md-4 text-center">

                  <div class="row">
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.dirty %>
                    </div>
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.dirty_ctrl %>
                    </div>
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.dirty_ctrl - thisreturndetail.dirty %>
                    </div>
                  </div>

                </div>
             
                <div class="col-md-4 text-center">

                  <div class="row">
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.sealed %>
                    </div>
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.sealed_ctrl %>
                    </div>
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.sealed_ctrl - thisreturndetail.sealed %>
                    </div>
                  </div>

                </div>

                <div class="col-md-4 text-center">

                  <div class="row">

                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.clean %>
                    </div>
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.clean_ctrl %>
                    </div>
                    <div class="col-md-4 text-center">
                      <%= thisreturndetail.clean_ctrl - thisreturndetail.clean %>
                    </div>

                  </div>

                </div>
                
              </div>

            </div>

            
          </div>
      <% end %> 
    </li>

  </ul>


  <% end %>

    <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), boxes_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">

        <% if @return_box.is_back == nil && @return_box.is_controlled == nil %>

          <%= simple_form_for(@return_box) do |f| %>
              <%= f.error_notification %>

            <%= f.hidden_field :is_back, :value => true %>
            <%= f.hidden_field :receptionist, :value => current_user.id %>
            <%= f.hidden_field :return_time, :value => Time.now %>
            <%= f.submit t("return.receive"), class: "btn btn-lg btn-block btn-info" %>
            <% end %>

        <% elsif @return_box.is_back == true && @return_box.is_controlled == nil %>

          <%= simple_form_for(@return_box) do |f| %>
              <%= f.error_notification %>

            <%= f.hidden_field :is_controlled, :value => true %>
            <%= f.hidden_field :ctrler, :value => current_user.id %>
            <%= f.hidden_field :ctrl_time, :value => Time.now %>
            <%= f.submit t("return.ctrl"), class: "btn btn-lg btn-block btn-info" %>
            <% end %>

        <% else %>

            <%= link_to t("return.is_controlled"), return_boxes_path, class: "btn btn-lg btn-block btn-info" %>

        <% end %>

      </div>
    </div>

</div>

