<ul class="list-group">
	<li class="list-group-item list-group-item-success">
		<%= t("offer.reference") %><%= @offer_article.id %>
	</li>
	<li class="list-group-item">
		<%= @offer_article.article.article_name %>
	</li>
</ul>

<%= simple_form_for(@offer_article) do |f| %>
  <%= f.error_notification %>

<ul class="list-group">
	<li class="list-group-item">
		
	  <div class="form-inputs">
	  	<div class="row">
	  		<div class="col-md-6">
	  			<%= f.label :article_id %>
	    		<%= f.collection_select :article_id, Article.all.order('article_name ASC'), :id, :article_name, {prompt: false}, {class: "form-control styled-select"} %>
				</div>
				<div class="col-md-6">
	    		<%= f.input :quantity %>
	    	</div>
	  	</div>
 		</div>

	</li>
</ul>
  <div class="form-actions">
    <%= f.submit t("menu.update"), class: "btn btn-lg btn-success" %>
  </div>
<% end %>