<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @offer_article.offer_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @offer_article.article_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @offer_article.quantity %>
</p>

<%= link_to 'Edit', edit_offer_article_path(@offer_article) %> |
<%= link_to 'Back', offer_articles_path %>
