<p id="notice"><%= notice %></p>

<p>
  <strong>Return box:</strong>
  <%= @return_detail.return_box_id %>
</p>

<p>
  <strong>Created at</strong>
  <%= @return_detail.created_at %>
</p>

<p>
  <strong>Box:</strong>
  <%= @return_detail.box_id %>
</p>

<p>
  <strong>Dirty:</strong>
  <%= @return_detail.dirty %>
</p>

<p>
  <strong>Sealed:</strong>
  <%= @return_detail.sealed %>
</p>

<p>
  <strong>Clean:</strong>
  <%= @return_detail.clean %>
</p>

<%= link_to 'Edit', edit_return_detail_path(@return_detail) %> |
<%= link_to 'Back', return_details_path %>
