<%= simple_form_for(@parcel) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :return_box_id %>
    <%= f.input :box_id %>
    <%= f.input :quantity %>
    <%= f.input :from_wash %>
    <%= f.input :from_return %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
