



    <div class="row">
      <div class="col-md-4">



    <% @parcels.each do |parcel| %>
            <ul class="list-group">
            <li class="list-group-item">



        Box Name <%= parcel.box.box_name if parcel.box %><br>
        Quantity <%= parcel.quantity if parcel.quantity %><br>

        Return box <%= parcel.return_box_id if parcel.return_box_id %><br>

        <% if parcel.from_wash %>
        Last Wash <%= parcel.return_box.washes.last.end_time.strftime("%d/%m/%Y") if parcel.return_box.washes.last.end_time %><br>
        Last Washer <%= User.where(:id => parcel.return_box.washes.last.washer).first.full_name if parcel.return_box.washes.last.washer %><br>
        <% end %>

        <% if parcel.from_return %>
        Last Event <%= parcel.return_box.delivery.offer.event.event_name %><br>
        Last Control <%= parcel.return_box.ctrl_time.strftime("%d/%m/%Y") if parcel.return_box.ctrl_time %><br>
        Last Controler <%= User.where(:id => parcel.return_box.ctrler).first.full_name if parcel.return_box.ctrler %><br>

        <% end %>
  </li>
      </ul>


    <% end %>

    <div>
    <div>
