    <ul class="list-group">
            

    <% @parcels.each do |parcel| %>

        <li class="list-group-item">
            <strong>Date de création: <%= parcel.created_at.strftime("%d/%m/%Y") %></strong>
            Référence: <strong><%= parcel.created_at.strftime("%Y") %> - <%= parcel.id %></strong>  <br>
            Type de caisse: <strong><%= parcel.box.box_name if parcel.box %></strong><br>
            Nombre de caisses: <strong><%= parcel.quantity if parcel.quantity %></strong><br>
        </li>

    <% end %>

    </ul>


