<%= simple_form_for(@boxdetail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<h6><strong><%= t("article.select_article")%></strong></h6>
    <%= f.collection_select :article_id, Article.all.order('article_name ASC'), :id, :full_name, {prompt: false}, {class: "form-control styled-select"} %><br>
    <%= f.input :box_article_quantity %>

  </div>

  <div class="form-actions">
  	<%= f.submit t("menu.update"), class: "btn btn-success" %>
  </div>
<% end %>

