<p id="notice"><%= notice %></p>

<h1>Listing Boxdetails</h1>

<table>
  <thead>
    <tr>
      <th>Box</th>
      <th>Article</th>
      <th>Box article quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @boxdetails.each do |boxdetail| %>
      <tr>
        <td><%= boxdetail.box_id %></td>
        <td><%= boxdetail.article_id %></td>
        <td><%= boxdetail.box_article_quantity %></td>
        <td><%= link_to 'Show', boxdetail %></td>
        <td><%= link_to 'Edit', edit_boxdetail_path(boxdetail) %></td>
        <td><%= link_to 'Destroy', boxdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Boxdetail', new_boxdetail_path %>
