<p id="notice"><%= notice %></p>

<p>
  <strong>Box:</strong>
  <%= @boxdetail.box_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @boxdetail.article_id %>
</p>

<p>
  <strong>Box article quantity:</strong>
  <%= @boxdetail.box_article_quantity %>
</p>

<%= link_to 'Edit', edit_boxdetail_path(@boxdetail) %> |
<%= link_to 'Back', boxdetails_path %>
