<div class="authform">
  <h3><%= t("menu.edit_account") %></h3>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <%= devise_error_messages! %>
<!--     <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div> -->
    <div class="form-group">
      <%= f.label t("user.email") %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>
    <fieldset>
      <p><%= t("user.leave_fields_blank") %></p>
      <div class="form-group">
        <%= f.label t("user.password") %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label t("user.password_confirmation") %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
    </fieldset>
    <fieldset>
      <p><%= t("user.must_enter_password") %></p>
      <div class="form-group">
        <%= f.label t("user.current_password") %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>
    <%= f.submit t("menu.update"), :class => 'button right' %>
  <% end %>
</div>
<div class="authform">
<h3><%= t("user.cancel_account") %></h3>
<p><%= t("user.unhappy") %></p>
<%= button_to t("user.cancel_my_account"), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'button right' %>
</div>
