<h2>Cher(e) <%= @offer.organizer.full_name %></h2><br>

<p>Nous avons pris connaissance de votre demande d'offre pour votre événement <b><%= @offer.event.event_name %></b></p>

<p>Vous trouverez sur votre compte Rekwup notre offre de service numéro <%= @offer.created_at.strftime("%Y") %> - <%= @offer.id %></p>

<p>Vous pourrez confirmer directement sur votre compte. Pour vous connecter, suivez ce lien <a href="http://clients.rekwup.be">Rekwup</a></p>

<% if @offer.comment.present? %>

<p><%= @offer.comment %></p>

<% end %>

<p>N'hésitez pas à nous contacter si vous désirez davantage d'explications, par email (info@rekwup.be) ou par téléphone (0487/698373)</p>

<p>Bien à vous,</p><br>

<p class="signature">L'équipe Rekwup</p>



 