<div class="container-fluid more-padding">

  <% if user_signed_in? %>

    <% if @user.name.blank? %>

      <h4>Vous devez compléter votre profil avant de créer un événement.</h4>

      <%= link_to t("user.your_profile"), edit_user_path(@user), class: "btn btn-default" %><br>

    <% end %>

      Nous livrons les gobelets avant votre événement.
      Nous les reprennons sales après.
      Nous les nettoyons pour vous et ne vous facturons que le nettoyage, les gobelets cassés ou abimés et le transport.

    <h4><%= t("article.our_prices") %></h4>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("article.name") %></th>
            <th class="text-center"><%= t("article.washing_price") %></th>
            <th class="text-center"><%= t("article.handwash_price") %></th>
            <th class="text-center"><%= t("article.tab_price") %></th>
            <th class="text-center"><%= t("article.deposit_price") %></th>
          </tr>
        </thead>
    
      <% @rekwup_cups.each do |article| %>

        <tbody>
          <tr>
          <td><%= article.article_category %> <%= article.full_name %></td>
          <td class="text-center"><%= article.washing_price %> €</td>
          <td class="text-center"><%= article.handwash_price %> €</td>
          <td class="text-center">
            <% if article.tab_price.present? %>
              <%= article.tab_price %> €
            <% end %>
          </td>
          <td class="text-center"><%= article.deposit_price %> €</td>
          </tr>
        </tbody>

        <% end %>
      </table>
    </div>
  <% else %>

  Vous organisez un événement et avez besoin de gobelets réutilisables?
  Inscrivez-vous pour obtenir gratuitement une offre de service.
      
    <%= link_to t("menu.sign_up"), new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>

    <% end %>
   
</div>