<div class="client-block">
  <strong>Détail Facture</strong>
</div>


<table class="article">

  <tr>
    <th>Articles</th>
    <th>Statut</th>
    <th>Qtté</th>
    <th>Prix U.</th>
    <th>Total HTVA</th>
    <th>TVA</th>
    <th>Total TVAC</th>
  </tr>



    <% Article.includes(:prices).all.each do |article| %>

      <% if @invoice.offer.sent_article(article) >= 1 or @invoice.total_back(article) >= 1 %>

        <% unless @invoice.washed_total(article) == 0 %>

        <tr>
          <td><%= article.article_name %></td>
          <td>Lavés</td>
          <td><%= @invoice.washed_total(article) %><br>

          </td>
          <td><%= number_to_currency(article.right_wash_price(@invoice.client), :unit => "€", :precision => 3) %></td>
          <td><%= number_to_currency(@invoice.washed_htva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.washed_tva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.washed_tvac(article), :unit => "€", :precision => 2) %></td>

        </tr>

        <% end %>

        <% unless @invoice.handling_total(article) == 0 %>

        <tr>
          <td><%= article.article_name %></td>
          <td>Manutention</td>
          <td><%= @invoice.handling_total(article) %></td>
          <td><%= number_to_currency(article.right_handling_price(@invoice.client), :unit => "€", :precision => 3) %></td>
          <td><%= number_to_currency(@invoice.handling_htva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.handling_tva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.handling_tvac(article), :unit => "€", :precision => 2) %></td>

        </tr>

        <% end %>

        <% unless @invoice.very_dirty_total(article) == 0 %>

        <tr>
          <td><%= article.article_name %></td>
          <td>Très sales</td>
          <td><%= @invoice.very_dirty_total(article) %></td>
          <td><%= number_to_currency(article.right_handwash_price(@invoice.client), :unit => "€", :precision => 3) %></td>
          <td><%= number_to_currency(@invoice.handwash_htva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.handwash_tva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.handwash_tvac(article), :unit => "€", :precision => 2) %></td>

        </tr>

        <% end %>

        <% unless @invoice.missing_and_broken(article) == 0 %>

        <tr>
          <td><%= article.article_name %></td>
          <td>Cassés/manquants</td>
          <td><%= @invoice.missing_and_broken(article) %></td>
          <td><%= number_to_currency(article.right_deposit_price(@invoice.client), :unit => "€", :precision => 3) %></td>
          <td><%= number_to_currency(@invoice.deposit_htva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.deposit_tva(article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.deposit_tvac(article), :unit => "€", :precision => 2) %></td>

        </tr>

        <% end %>

      <% end %>
    <% end %>


  <tr>
    <td><strong>Autres frais</strong></td>
  </tr>

    <% @invoice.offer.offer_articles.includes(article: [:prices]).each do |offer_article| %>

        <tr>
          <td><%= offer_article.article.article_name %></td>
          <td></td>
          <td><%= offer_article.quantity %></td>
          <td><%= number_to_currency(@invoice.right_offer_article_price(offer_article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.offer_article_htva(offer_article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.offer_article_tva(offer_article), :unit => "€", :precision => 2) %></td>
          <td><%= number_to_currency(@invoice.offer_article_tvac(offer_article), :unit => "€", :precision => 2) %></td>

        </tr>



    <% end %>

</table>