

<table class="article">

  <tr>
    <th>Caisses</th>
    <th class="text-center">Envoyées</th>
    <th class="text-center">Retours Propres</th>
    <th class="text-center">Retours Sales</th>
    <th class="text-center">Retours Scellées Sales</th>
    <th class="text-center">Total Retour</th>
    <th class="text-center">Différence</th>
  </tr>

<% @boxes.each do |box| %>
<% if @invoice.sent_boxes(box) >= 1 or @invoice.total_return(box) >= 1 %>

  <tr>
    <td><%= box.box_name %></td>
    <td class="text-center"><%= @invoice.sent_boxes(box) %></td>
    <td class="text-center"><%= @invoice.return_clean(box) %></td>
    <td class="text-center"><%= @invoice.return_dirty(box) %></td>
    <td class="text-center"><%= @invoice.return_sealed(box) %></td>
    <td class="text-center"><%= @invoice.total_return(box) %></td>
    <td class="text-center"><%= @invoice.difference_delivery(box) %></td>
  </tr>
  
<% end %>
<% end %>

</table>

