<!-- WORK OK -->

<div class="client-block">
  <strong>Livraisons et retours</strong>
</div>

<table class="article">

  <tr>
    <th>Caisses</th>
    <th class="text-center">Envoyées</th>
    <th class="text-center">Retours Propres</th>
    <th class="text-center">Retours Sales</th>
    <th class="text-center">Retours Scellées Sales</th>
    <th class="text-center">Total Retour</th>
  </tr>



<% @boxes.each do |box| %>

<% if @invoice.sent_boxes_week(box) >=1 or @invoice.returned_boxes_week(box) >= 1 %>

  <tr>
    <td><%= box.box_name %></td>
    <td class="text-center"><%= @invoice.sent_boxes_week(box) %></td>
    <td class="text-center"><%= @invoice.clean_boxes_week(box) %></td>
    <td class="text-center"><%= @invoice.dirty_boxes_week(box) %></td>
    <td class="text-center"><%= @invoice.sealed_boxes_week(box) %></td>
    <td class="text-center"><%= @invoice.returned_boxes_week(box) %></td>
  </tr>
  
<% end %>
<% end %>

</table>


<!-- END WORK OK -->


<div class="client-block">
  <strong>Détail Facture</strong>
</div>

<table class="article">

  <tr>
    <th>Articles</th>
    <th class="text-center">Qtté</th>
    <th class="text-center">Prix U.</th>
    <th class="text-center">Total HTVA</th>
    <th class="text-center">TVA</th>
    <th class="text-center">Total TVAC</th>
  </tr>

  <tr>
    <td><strong>Lavés</strong></td>
  </tr>


    <% Article.all.each do |article| %>

      <% if @invoice.washed_articles_week(article) >= 1 %>

        <tr>
          <td><%= article.article_name %></td>
          <td class="text-center"><%= @invoice.washed_articles_week(article) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.right_wash_price(article), :unit => "€", :precision => 3) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.washed_htva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.washed_tva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.washed_tvac_week(article), :unit => "€", :precision => 2) %></td>

        </tr>
      <% end %>
    <% end %>

  <tr>
    <td><strong>Lavage manuel</strong></td>
  </tr>


    <% Article.all.each do |article| %>

      <% if @invoice.very_dirty_articles_week(article) >= 1 %>

        <tr>
          <td><%= article.article_name %></td>
          <td class="text-center"><%= @invoice.very_dirty_articles_week(article) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.right_handwash_price(article), :unit => "€", :precision => 3) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.handwash_htva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.handwash_tva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.handwash_tvac_week(article), :unit => "€", :precision => 2) %></td>

        </tr>
      <% end %>
    <% end %>

  <tr>
    <td><strong>Manutention</strong></td>
  </tr>


    <% Article.all.each do |article| %>

      <% if @invoice.handling_articles_week(article) >= 1 %>

        <tr>
          <td><%= article.article_name %></td>
          <td class="text-center"><%= @invoice.handling_articles_week(article) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.right_handling_price(article), :unit => "€", :precision => 3) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.handling_htva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.handling_tva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.handling_tvac_week(article), :unit => "€", :precision => 2) %></td>

        </tr>
      <% end %>
    <% end %>

  <tr>
    <td><strong>Cassés</strong></td>
  </tr>


    <% Article.all.each do |article| %>

      <% if @invoice.broken_articles_week(article) >= 1 %>

        <tr>
          <td><%= article.article_name %></td>
          <td class="text-center"><%= @invoice.broken_articles_week(article) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.right_deposit_price(article), :unit => "€", :precision => 3) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.deposit_htva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.deposit_tva_week(article), :unit => "€", :precision => 2) %></td>
          <td class="text-center"><%= number_to_currency(@invoice.deposit_tvac_week(article), :unit => "€", :precision => 2) %></td>

        </tr>
      <% end %>
    <% end %>

  <tr>
    <strong>
      <th><strong>TOTAUX</strong></th>
      <th></th>
      <th></th>
      <th class="text-center"><%= number_to_currency(@invoice.total_all_articles_htva_week, :unit => "€", :precision => 2) %></th>
      <th class="text-center"><%= number_to_currency(@invoice.total_all_articles_tva_week, :unit => "€", :precision => 2) %></th>
      <th class="text-center"><%= number_to_currency(@invoice.total_all_articles_tvac_week, :unit => "€", :precision => 2) %></th>
    </strong>

  </tr>

</table>

<hr>



<div class="client-block">
  <strong>Livraisons et retours par surface</strong>
</div>

<table class="article">
  <col width="325">
  <col width="50">
  <col width="50">
  <col width="50">
  <col width="50">
  <col width="50">

  <tr>
    <strong>
      <th>Caisses</th>
      <th class="text-center">Envoyées</th>
      <th class="text-center">Retours Propres</th>
      <th class="text-center">Retours Sales</th>
      <th class="text-center">Retours Scellées Sales</th>
      <th class="text-center">Total Retour</th>
    </strong>
  </tr>

<% Offer.where(:event_id => Event.where(:is_lln => true).last.id).where(created_at: @invoice.week_begin..@invoice.week_finish).each do |offer| %>

  <% if offer.organizer.lln_id >= 1%>

  <tr>
    <td><strong><%= offer.created_at.strftime("%d/%m/%Y") %> - <%= offer.organizer.name %></strong></td>
    <td></td>
    <td class="text-center"></td>
    <td class="text-center"></td>
    <td class="text-center"></td>
    <td class="text-center"></td>
  </tr>

    <% Box.all.each do |box| %>

      <% if offer.sent_boxes(box) >=1 or offer.returned_boxes(box) >= 1 %>

        <tr>

          <td><%= box.box_name %></td>
          <td class="text-center"><%= offer.sent_boxes(box) %></td>
          <td class="text-center"><%= offer.clean_boxes(box) %></td>
          <td class="text-center"><%= offer.dirty_boxes(box) %></td>
          <td class="text-center"><%= offer.sealed_boxes(box) %></td>
          <td class="text-center"><%= offer.returned_boxes(box) %></td>
        </tr>



<% end %>
<% end %>
<% end %>
<% end %>

</table>


<hr>


<% Offer.where(:event_id => Event.where(:is_lln => true).last.id).where(created_at: @invoice.week_begin..@invoice.week_finish).each do |offer| %>

  <% if offer.organizer.lln_id >= 1%>

    <%= offer.created_at.strftime("%d/%m/%Y") %>
    <%= offer.organizer.name %><br>


    <% Article.all.each do |article| %>

      <% if offer.total_articles(article) >= 1 %>

        <%= article.article_name %>

        <%= offer.washed_articles(article) %>
        <%= offer.very_dirty_articles(article) %>
        <%= offer.handling_articles(article) %>
        <%= offer.broken_articles(article) %><br>

      <% end %>

    <% end %>
  <% end %>

<% end %>

<hr>
Début et fin de semaine passée<br>

<%= @invoice.week_begin.strftime("%d/%m/%Y") %><br>
<%= @invoice.week_finish.strftime("%d/%m/%Y") %><br>
<%= @invoice.week_begin.strftime("%W") %><br>
<%= @invoice.doc_number %><br>
<%= @invoice.invoice_number %><br>
<%= @invoice.doc_invoice %><br>
<%= @invoice.pdf_name %><br>
<hr>

Dates début et fin de semaine passée<br>
<%= (@invoice.created_at.beginning_of_week - 7.days).strftime("%d/%m/%Y") %><br>
<%= (@invoice.created_at.end_of_week - 7.days).strftime("%d/%m/%Y") %><br>

<hr>

Offres LLN entre début et fin de semaine passée
<% Offer.where(:event_id => Event.where(:is_lln => true).last.id).where(created_at: @invoice.week_begin..@invoice.week_finish).each do |offer| %>

<%= offer.organizer.full_name %>
<%= offer.created_at.strftime("%d/%m/%Y") %><br>

<% end %>


<hr>


<% Offer.where(:event_id => Event.where(:is_lln => true).last.id).where(created_at: @invoice.week_begin..@invoice.week_finish).each do |offer| %>

  <% if offer.organizer.lln_id >= 1%>

    <%= offer.created_at.strftime("%d/%m/%Y") %>
    <%= offer.organizer.name %><br>


    <% Box.all.each do |box| %>

      <% if offer.sent_boxes(box) >=1 or offer.returned_boxes(box) >= 1 %>

      <%= box.box_name %>
      <%= offer.sent_boxes(box) %>
      <%= offer.clean_boxes(box) %>
      <%= offer.dirty_boxes(box) %>
      <%= offer.sealed_boxes(box) %>
      <%= offer.returned_boxes(box) %><br>

      <% end %>

    <% end %>
  <% end %>

<% end %>