<div class="address-block">
<h4>Rekwup</h4>
<small><p>41/1 rue de La Croix Limont<br>5590, Ciney, Belgique<br>
Tel: +32 487 69 83 73<br>
e-mail: jgpahaut@rekwup.be<br>
TVA: BE 0544.576.806</p></small>

</div>

<div>
<h4><strong>

  <% if @invoice.doc_invoice %>
    <%= t("invoice.invoice") %>
  <% elsif @invoice.doc_credit %>
    <%= t("invoice.credit") %>
  <% end %>
      - <%= @invoice.created_at.strftime("%Y") %> - <%= @invoice.doc_number %>
</h4></strong>
</div>

<div class="doc-date">
  Ciney, le <%= @invoice.created_at.strftime("%d/%m/%Y") %>
</div>

<div class="client-block">
<strong>Client:</strong><br>
<%= @invoice.client.company_name if @invoice.client.company_name %><br>
<%= @invoice.client.full_name %><br>
<%= @invoice.client.address %><br>
<%= @invoice.client.country %> <%= @invoice.client.postcode %> <%= @invoice.client.city %><br>
<%= @invoice.client.vat if @invoice.client.vat %><br>

</div>


<ul class="list-group">

  <li class="list-group-item list-group-item-info">

  </li>
  <li class="list-group-item">
    <strong><%= t("invoice.client") %></strong>
      
  </li>

  <li class="list-group-item">
    <div class="row text-center">
      <div class="col-md-4">
      <strong><%= t("invoice.event") %></strong><br>
        <%= @invoice.offer.event.event_name %>
    </div>
    <div class="col-md-4">
      <strong><%= t("event.event_start_date") %> :</strong><br>
      <%= @invoice.offer.event.event_start_date.strftime("%d/%m/%Y") %>
    </div>
    <div class="col-md-4">
      <strong><%= t("event.event_end_date") %> :</strong><br>
      <%= @invoice.offer.event.event_end_date.strftime("%d/%m/%Y") %>
    </div>
  </li>

    <li class="list-group-item">
    <div class="row">
      <strong>
      <div class="col-md-2">
Article
      </div>
      <div class="col-md-2">
Qtté
      </div>
      <div class="col-md-2">
Prix U.
      </div>
      <div class="col-md-2">
Total HTVA
      </div>
      <div class="col-md-4">

      </div>
    </div>
  </strong>
  </li>

  <li class="list-group-item list-group-item-info">
  Lavés
  </li>

  <% @invoice.sorting_details.clean.each do |detail| %>

    <% unless detail.total_cups == 0 %>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <%= detail.article.full_name %>
          </div>
          <div class="col-md-2">
            <%= detail.total_cups %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency(detail.article.prices.last.washing,:unit =>'€', :precision => 2) if detail.article.prices.last.washing.present? %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency((detail.total_cups * detail.article.prices.last.washing),:unit =>'€', :precision => 2) if detail.article.prices.last.washing.present? %>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </li>

    <% end %>

  <% end %>

  <li class="list-group-item list-group-item-info">
  Très sales - Lavage manuel
  </li>

  <% @invoice.sorting_details.very_dirty.each do |detail| %>

    <% unless detail.total_cups == 0 %>  

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <%= detail.article.full_name %>
          </div>
          <div class="col-md-2">
            <%= detail.total_cups %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency(detail.article.prices.last.handwash,:unit =>'€', :precision => 2) if detail.article.prices.last.handwash.present? %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency((detail.total_cups * detail.article.prices.last.handwash),:unit =>'€', :precision => 2) if detail.article.prices.last.handwash.present? %>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </li>

    <% end %>

  <% end %>

  <li class="list-group-item list-group-item-info">
  Cassés
  </li>

  <% @invoice.sorting_details.broken.each do |detail| %>

    <% unless detail.total_cups == 0 %>  

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <%= detail.article.full_name %>
          </div>
          <div class="col-md-2">
            <%= detail.total_cups %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency(detail.article.prices.last.deposit,:unit =>'€', :precision => 2) if detail.article.prices.last.deposit.present? %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency((detail.total_cups * detail.article.prices.last.deposit),:unit =>'€', :precision => 2) if detail.article.prices.last.deposit.present? %>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </li>

    <% end %>

  <% end %>


  <li class="list-group-item list-group-item-info">
  Manutention
  </li>

  <% @invoice.sorting_details.handling.each do |detail| %>

    <% unless detail.total_cups == 0 %>  

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <%= detail.article.full_name %>
          </div>
          <div class="col-md-2">
            <%= detail.total_cups %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency(detail.article.prices.last.handling,:unit =>'€', :precision => 2) if detail.article.prices.last.handling.present? %>
          </div>
          <div class="col-md-2">
            <%= number_to_currency((detail.total_cups * detail.article.prices.last.handling),:unit =>'€', :precision => 2) if detail.article.prices.last.handling.present? %>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </li>

    <% end %>

  <% end %>

  <li class="list-group-item list-group-item-info">
  Autres frais
  </li>

  <% @invoice.offer_articles.each do |article| %>

    <% unless article.quantity == 0 %>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-2">
            <%= article.article.full_name %>
          </div>
          <div class="col-md-2">
            <%= article.quantity %>
          </div>
          <div class="col-md-2">

            <% if article.article_id == 12 %>

              <%= number_to_currency(@invoice.offer.transport_price,:unit =>'€', :precision => 2) %>

            <% else %>

              <%= number_to_currency(@regular_prices.where(:article_id => article.article.id).last.sell,:unit =>'€', :precision => 2) if @regular_prices.where(:article_id => article.article.id).any? %>

            <% end %>
          </div>
          <div class="col-md-2">
            <% if article.article_id == 12 %>

              <%= number_to_currency((article.quantity * @invoice.offer.transport_price),:unit =>'€', :precision => 2) %>

            <% else %>

              <%= number_to_currency((article.quantity * @regular_prices.where(:article_id => article.article.id).last.sell),:unit =>'€', :precision => 2) if @regular_prices.where(:article_id => article.article.id).any? %>

              <% end %>
          </div>
          <div class="col-md-4">

          </div>
        </div>
      </li>
    <% end %>
  <% end %>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-2">
          <strong>Total HTVA</strong>
        </div>
        <div class="col-md-2">
          <strong><%= number_to_currency(@invoice.total_htva,:unit =>'€', :precision => 2) %></strong>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-2">
          <strong>TVA</strong>
        </div>        
        <div class="col-md-2">
          <strong><%= number_to_currency(((@invoice.total_htva * 1.21) - @invoice.total_htva),:unit =>'€', :precision => 2) %></strong>
        </div>
      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-4">
          
        </div>
        <div class="col-md-2">
          <strong>Total TVAC</strong>
        </div>
        <div class="col-md-2">
          <strong><%= number_to_currency((@invoice.total_htva * 1.21),:unit =>'€', :precision => 2) %></strong>
        </div>
      </div>
    </li>


</ul>

