

            <%= simple_form_for(@new_offer) do |f| %>
              <%= f.error_notification %>
              <%= f.hidden_field :lln_invoice, :value => true %>
              <%= f.hidden_field :event_id, :value => Event.is_lln.last.id %>
              <%= f.hidden_field :organizer_id, :value => Event.is_lln.last.organizer_id %>
              <%= f.submit t("invoice.new_lln"), class: "btn btn-info btn-lg btn-block", data: { confirm: t("menu.are_you_sure")} %>
            <% end %>

<hr>

<ul class="list-group">

  <li class="list-group-item list-group-item-warning">
    <div class="row">
      <strong>
        <div class="col-md-1">
          N° Offre
        </div>

        <div class="col-md-2">
          Evénement
        </div>

        <div class="col-md-2">
          Organisateur
        </div>

        <div class="col-md-1 text-center">
          Retours
        </div>

        <div class="col-md-1 text-center">
          Lavages
        </div>

        <div class="col-md-1 text-center">
          Rangement
        </div>

        <div class="col-md-1 text-center">
          Accompte
        </div>

        <div class="col-md-1 text-center">
          Finale
        </div>

        <div class="col-md-2">
          N° Factures
        </div>
      </strong>
    </div>
  </li>

<% @offers.each do |offer| %>

  <% if offer.ready_for_invoice == true %>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-1">
          <%= offer.id %>
        </div>
        <div class="col-md-2">
          <%= offer.event.event_name %>
        </div>

        <div class="col-md-2">
          <%= offer.event.organizer.full_name %>
        </div>

        <div class="col-md-1 text-center">
          <%= offer.return_boxes.count %>
        </div>

        <div class="col-md-1 text-center">
          <%= offer.washes.count %>
        </div>

        <div class="col-md-1 text-center">
          <%= offer.sortings.count %>
        </div>

        <div class="col-md-1 text-center">
          
          <% if offer.has_deposit %>
            <%= offer.invoices.is_deposit.count %>
          <% end %>

        </div>

        <div class="col-md-1 text-center">

          <% if offer.has_final %>
            <%= offer.invoices.is_final.count %>
          <% end %>

        </div>

      <div class="col-md-2">
        <% offer.invoices.each do |invoice| %>
          <%= invoice.pdf_name %><br>
        <% end %>

      </div>

      </div>
    </li>

  <% end %>

<% end %>

</ul>





<hr>

<ul class="list-group more-padding">
  <li class="list-group-item">
    <div class="row">
      <strong>
        <div class="col-md-2">
          <%= t("menu.events") %>
        </div>

        <div class="col-md-2 text-center">
          <%= t("event.organizer") %>
        </div>

        <div class="col-md-1 text-center">
          <%= t("return.delivery") %>
        </div>

        <div class="col-md-1 text-center">
          <%= t("return.return") %>
        </div>

        <div class="col-md-2 text-center">
          <%= t("menu.washes") %>
        </div>

        <div class="col-md-2 text-center">
          <%= t("menu.sortings") %>
        </div>

        <div class="col-md-2 text-center">
          
        </div>
      </strong>
    </div>
  </li>



      <li class="list-group-item">
        <div class="row">

          <div class="col-md-2">
          </div>

          <div class="col-md-2">
          </div>

          <div class="col-md-1 text-center">
          </div>

          <div class="col-md-1 text-center">
          </div>

          <div class="col-md-1 text-center">
          </div>

          <div class="col-md-1 text-center">
          </div>

          <div class="col-md-1 text-center">
          </div>

          <div class="col-md-1 text-center">
          </div>

          <div class="col-md-2 text-center">


     
          </div>

        </div>
      </li>

</ul>

<hr>

<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    Factures
  </li>

<li class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      Référence
    </div>
    <div class="col-md-1">
      Type
    </div>
    <div class="col-md-2">
      Client
    </div>
    <div class="col-md-2">
      Evénement
    </div>
    <div class="col-md-2">
      Total HTVA
    </div>
    <div class="col-md-2">
      Total TVA
    </div>
    <div class="col-md-2">
      Total TVAC
    </div>
  </div>
</li>

<% Invoice.all.each do |invoice| %>

<li class="list-group-item">
  <div class="row">
    <div class="col-md-1">
      <%= invoice.pdf_name %>
    </div>
    <div class="col-md-1">
      <% if invoice.confirmation && invoice.after_event == nil %>
      Accompte
      <% end %>
      <% if invoice.confirmation && invoice.after_event %>
      Finale
      <% end %>
    </div>
    <div class="col-md-2">
      <%= invoice.client.full_name %>
    </div>
    <div class="col-md-2">
      <%= invoice.offer.event.event_name %>
    </div>
    <div class="col-md-2">
      <%= number_to_currency(invoice.total_htva, :unit =>'€', :precision => 2) %>
    </div>
    <div class="col-md-2">
      <%= number_to_currency(invoice.total_tva, :unit =>'€', :precision => 2) %>
    </div>
    <div class="col-md-2">
      <%= number_to_currency(invoice.total_tvac, :unit =>'€', :precision => 2) %>
      <%= link_to invoice_path(invoice) do %>
        <%= content_tag(:i, "", class: "fa fa-eye") %>
      <% end %> 
    </div>
  </div>
</li>


<% end %>

</ul>