<div class="invoice-background">

<% if current_user.admin %>

  <%= link_to "", show_surfaces_invoice_path(format: 'pdf'), :class => "btn btn-default btn-lg btn-block generate" %>

<% end %>

<div class="reference">
  <b>
    <%= @invoice.pdf_name %>
  </b>
</div>


<div class="client-block">
  <b>Livraisons et retours par surface</b>
</div>

<table class="article">
  <col width="200">
  <col width="75">
  <col width="75">
  <col width="75">
  <col width="75">
  <col width="75">

  <tr>
    <b>
      <th>Caisses</th>
      <th class="text-center">Envoyées</th>
      <th class="text-center">Retours Propres</th>
      <th class="text-center">Retours Sales</th>
      <th class="text-center">Retours Scellées Sales</th>
      <th class="text-center">Total Retour</th>
    </b>
  </tr>

<% Offer.lln_daily.where(created_at: @invoice.week_begin..@invoice.week_finish).find_each do |offer| %>

  <% if offer.organizer.lln_id >= 1%>

  <tr>
    <td><b>
      <% if offer.unforeseen_return %>
        <%= offer.created_at.strftime("%d/%m/%Y") %> - <%= offer.organizer.name %>
      <% else %>
        <%= (offer.created_at + 1.day).strftime("%d/%m/%Y") %> - <%= offer.organizer.name %>
      <% end %>
      </b></td>
    <td></td>
    <td class="text-center"></td>
    <td class="text-center"></td>
    <td class="text-center"></td>
    <td class="text-center"></td>
  </tr>

    <% Box.all.find_each do |box| %>

      <% if offer.sent_boxes(box) >=1 or offer.returned_boxes(box) >= 1 %>

        <tr>

          <td><%= box.box_name %></td>
          <td class="text-center"><%= offer.sent_boxes(box) %></td>
          <td class="text-center"><%= offer.clean_boxes(box) %></td>
          <td class="text-center"><%= offer.dirty_boxes(box) %></td>
          <td class="text-center"><%= offer.sealed_boxes(box) %></td>
          <td class="text-center"><%= offer.returned_boxes(box) %></td>
        </tr>



<% end %>
<% end %>
<% end %>
<% end %>

</table>

<div class="detail-button">
<%= link_to t("invoice.detail_surface"), show_surfaces_bis_invoice_path(@invoice), class: "btn btn-default pull-right" %>
</div>




