<% if @myregular_price %>

        <!-- Large modal -->
        <button type="button" class="btn btn-lg btn-info btn-block" data-toggle="modal" data-target="#change_regular_price">

          <%= t("price.change") %>


        </button>

        <div class="modal fade" id="change_regular_price" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

					        <%= simple_form_for(@myregular_price) do |f| %>
							      <%= f.error_notification %>

                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                  </button>

                    <h4 class="modal-title" id="myModalLabel">
                      <%= @article.full_name %>                                        
                    </h4>
                </div>

                <div class="modal-body">
                  <div class="row text-center">

                    <div class="col-md-2">
                      <%= f.input :washing %>
                    </div>

                    <div class="col-md-2">
                      <%= f.input :washing_small %>
                    </div>

                    <div class="col-md-2">
                      <%= f.input :handwash %>
                    </div>

                    <div class="col-md-2">
                      <%= f.input :handling %>
                    </div>

                    <div class="col-md-2">
                      <%= f.input :deposit %>
                    </div>

                    <div class="col-md-2">
                      <%= f.input :sell %>
                    </div>


                  </div>

                  <div class="row text-center">

                    <div class="col-md-6">
                      <%= f.label :valid_from %>
                      <%= f.text_field :valid_from, class: "datepicker" %>
                    </div>

                    <div class="col-md-6">
                      <%= f.label :valid_till %>
                      <%= f.text_field :valid_till, class: "datepicker" %>
                    </div>

                  </div>                  
                </div>

                <div class="modal-footer">

                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <%= t("menu.close") %>
                  </button>

                    <%= f.button :submit, class: "btn btn-info" %>
    

                </div>

              <% end %>
       

            </div>
          </div>
        </div>

<% end %>