
    <ul class="list-group">

      <%= simple_form_for(@article) do |f| %>
        <%= f.error_notification %>


        <li class="list-group-item list-group-item-warning">
          <h4><strong><%= t("article.edit_article") %></strong></h4>
        </li>
        <li class="list-group-item">
          <div class="row")>
            <div class="col-md-4">
              <strong>
                <%= f.input :article_name %>
              </strong>
            </div>

            <div class="col-md-8">
              <div class="col-md-2">
                <br><%= f.input :is_washable %>
              </div>
              <div class="col-md-2">
                <br><%= f.input :is_cup %>
              </div>
              <div class="col-md-2">
                <br><%= f.input :is_big_box %>
              </div>
              <div class="col-md-2">
                <br><%= f.input :is_small_box %>
              </div>
              <div class="col-md-2">
                <br><%= f.input :is_top %>
              </div>
              <div class="col-md-2">
                <br><%= f.input :is_palette %>
              </div>

            </div>
          </div>
        </li>


       <li class="list-group-item">
          <div class="row")>
            <div class="col-md-2">
                <%= f.input :is_cc %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_ep %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_eco %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_wine %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_cava %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_shot %>
            </div>

          </div>
        </li>

       <li class="list-group-item">
          <div class="row")>
            <div class="col-md-2">
                <%= f.input :is_twenty %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_twentyfive %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_forty %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_fifty %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_litre %>
            </div>

            <div class="col-md-2">
             
            </div>

          </div>
        </li>

       <li class="list-group-item">
          <div class="row")>
            <div class="col-md-2">
                <%= f.input :rekwup_cup %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_lln %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_bep %>
            </div>

            <div class="col-md-2">
              <%= f.input :is_patro %>
            </div>

            <div class="col-md-2">
        
            </div>
          </div>
        </li>


        <li class="list-group-item">
          <div class="row text-center")>

            <div class="col-md-2">
              <%= f.input :article_content %>
            </div>

            <div class="col-md-2">
              <%= f.input :quantity_bigbox %>
            </div>

            <div class="col-md-2">
              <%= f.input :quantity_smallbox %>
            </div>

            <div class="col-md-2">
              <%= f.input :quantity_pile %>
            </div>

            <div class="col-md-2">
                <%= f.input :weight %>
            </div>            
          </div>
        </li>


          <div class="row more-padding">

            <div class="col-md-6">
              <%= link_to t("menu.back"), articles_path, class: "btn btn-lg btn-block btn-default" %>
            </div>
            <div class="col-md-6">
              <% if @user.admin %>
                <%= f.button :submit, class: "btn btn-info btn-lg btn-block" %>
              <% end %>
            </div>

          </div>

      
      <% end %>
    </ul>



    
  </div>