


  <% if @user.client %>

    <h4>Cette page est en construction.</h4>

  <% else %>

    <% if @user.admin %>
      <%= link_to t("article.new_article"), new_article_path, class: "btn btn-block btn-info" %><br>
    <% end %>



    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <h4><strong>
          <%= t("article.listing_articles") %>
        </strong></h4>
      </li>

      <li class="list-group-item">
        <div class="row">
          <strong>
            <div class="col-xs-6 col-md-4">
              <%= t("article.article_name") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.article_type") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.article_content") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.brand") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("menu.prices") %>
            </div>
          </strong>
        </div>
      </li>

        <% @articles.each do |article| %>
        
          <li class="list-group-item">
            <div class="row">

              <div class="col-xs-6 col-md-4">
                <%= article.id %> - <%= article.full_name %>

                  <%= link_to edit_article_path(article) do %>
                    <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                  <% end %>

                  <%= link_to article_path(article) do %>
                    <%= content_tag(:i, "", class: "fa fa-eye") %>
                  <% end %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= article.cup_type %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= article.cup_content %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= article.cup_owner %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= article.has_price %>
              </div>
            </div>
          </li>
        <% end %>
  <% end %>

