<% if @user.client %>

<h4>Cette page est en construction.</h4>

<% else %>


    <ul class="list-group">
      

        <li class="list-group-item list-group-item-success">
          <div class="row")>
            <div class="col-md-4">
              <strong>
                <%= @article.id %> - <%= @article.full_name %>
              </strong>
            </div>

            <div class="col-md-4">
              <% if @article.is_cup %>
                <strong>
                  <%= t("article.is_cup") %>
                </strong>
              <% end %>
            </div>


            <div class="col-md-4">
              <% if @article.rekwup_cup %>
                <strong>
                  <%= t("article.rekwup_cup") %>
                </strong>
              <% end %>
            </div>

          </div>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>

          <div class="col-md-3">
            <% if @article.is_washable %>
              <strong>
                <%= t("article.is_washable") %>
              </strong>
            <% end %>
          </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.article_category") %><br>
              </strong>
              <%= @article.article_category %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.article_content") %><br>
              </strong>
              <%= @article.article_content %> CL
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.article_type") %><br>
              </strong>
              <%= @article.article_type %>
            </div>

        </div>
      </li>


        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-3">
              <strong>
                <%= t("article.quantity_bigbox") %><br>
              </strong>
              <%= @article.quantity_bigbox %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.quantity_smallbox") %><br>
              </strong>
              <%= @article.quantity_smallbox %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.quantity_pile") %><br>
              </strong>
              <%= @article.quantity_pile %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.weight") %><br>
              </strong>
                <%= @article.weight %> kg
            </div>            
          </div>
        </li>
      </ul>


    <div class="row more-padding">

      <div class="col-md-6">
        <%= link_to t("menu.back"), articles_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <% if @user.admin %>
          <%= link_to t("menu.edit"), edit_article_path(@article), class: "btn btn-lg btn-block btn-info" %>
        <% end %>
      </div>
    </div>


    <ul class="list-group">
        <li class="list-group-item list-group-item-success">
          <div class="row")>
            <div class="col-md-4">
              <strong>
                <% if @myregular_price.present? %>

                  <% if @myregular_price.regular %>
                    <%= t("price.regular") %>
                  <% elsif @myregular_price.negociated %>
                    <%= t("price.negociated") %>
                  <% end %>

                <% end %>
              </strong>
            </div>

            <div class="col-md-4">
                  <strong>
                    <%= t("price.valid_from") %> : <%= @myregular_price.valid_from.strftime("%d/%m/%Y") if @myregular_price %>
                  </strong>
            </div>


            <div class="col-md-4">
                  <strong>
                    <%= t("price.valid_till") %> : <%= @myregular_price.valid_till.strftime("%d/%m/%Y") if @myregular_price %>
                  </strong>
            </div>

          </div>
        </li>



        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">
              <strong>
                <%= t("article.washing_price") %><br>
              </strong>
              <%= number_to_currency(@myregular_price.washing, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.handwash_price") %><br>
              </strong>
              <%= number_to_currency(@myregular_price.handwash, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.tab_price") %><br>
              </strong>
              <%= number_to_currency(@myregular_price.handling, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.deposit_price") %><br>
              </strong>
              <%= number_to_currency(@myregular_price.deposit, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.sell_price") %><br>
              </strong>
              <%= number_to_currency(@myregular_price.sell, :unit => '€', :precision => 4) if @myregular_price %>
            </div>
          </div>
        </li>          
    </ul>

    <% if current_user.admin %>

      <div class="row">

        <div class="col-md-6">
          <%= render 'add_prices' %>  
        </div>
        <div class="col-md-6">
          <%= render 'change_prices' %>       
        </div>
      </div>


    <% end %>


    
 




  
  <% end %>

