<% if @user.client %>

<h4>Cette page est en construction.</h4>

<% else %>


    <ul class="list-group">
      
        <li class="list-group-item list-group-item-warning">
          <div class="row")>
            <div class="col-md-3">
              <b>
                <%= @article.id %> - <%= @article.full_name %>
              </b>
            </div>

            <div class="col-md-9">

              <div class="col-md-2">
                <% if @article.is_washable %>
                  <b>
                    <%= t("article.is_washable") %>
                  </b>
                <% end %>
              </div>

              <div class="col-md-2">
                <% if @article.is_cup %>
                  <b>
                    <%= t("article.is_cup") %>
                  </b>
                <% end %>
              </div>

              <div class="col-md-2">
                <% if @article.is_big_box %>
                  <b>
                    <%= t("article.is_big_box") %>
                  </b>
                <% end %>
              </div>

              <div class="col-md-2">
                <% if @article.is_small_box %>
                  <b>
                    <%= t("article.is_small_box") %>
                  </b>
                <% end %>
              </div>

              <div class="col-md-2">
                <% if @article.is_top %>
                  <b>
                    <%= t("article.is_top") %>
                  </b>
                <% end %>
              </div>

              <div class="col-md-2">
                <% if @article.is_palette %>
                  <b>
                    <%= t("article.is_palette") %>
                  </b>
                <% end %>
              </div>
            </div>
          </div>
        </li>

        <li class="list-group-item list-group-item-warning">
          <b><%= t("article.article_type") %></b>
        </li>


        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-1">
              <% if @article.is_cc %>
                <b>
                  <%= t("article.is_cc") %>
                </b>
              <% end %>
            </div>

            <div class="col-md-1">
                <% if @article.is_ep %>
                  <b>
                    <%= t("article.is_ep") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-1">
                <% if @article.is_eco %>
                  <b>
                    <%= t("article.is_eco") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-1">
                <% if @article.is_wine %>
                  <b>
                    <%= t("article.is_wine") %>
                  </b>
                <% end %>
            </div>
            <div class="col-md-1">
                <% if @article.is_cava %>
                  <b>
                    <%= t("article.is_cava") %>
                  </b>
                <% end %>
            </div>  

            <div class="col-md-1">
                <% if @article.champagne %>
                  <b>
                    <%= t("article.is_champagne") %>
                  </b>
                <% end %>
            </div>  

            <div class="col-md-1">
                <% if @article.is_shot %>
                  <b>
                    <%= t("article.is_shot") %>
                  </b>
                <% end %>
            </div>              
          </div>
        </li>

        <li class="list-group-item list-group-item-warning">
          <b><%= t("article.article_content") %></b>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">
              <% if @article.is_twenty %>
                <b>
                  <%= t("article.is_twenty") %>
                </b>
              <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.is_twentyfive %>
                  <b>
                    <%= t("article.is_twentyfive") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.is_forty %>
                  <b>
                    <%= t("article.is_forty") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.is_fifty %>
                  <b>
                    <%= t("article.is_fifty") %>
                  </b>
                <% end %>
            </div>
            <div class="col-md-2">
                <% if @article.is_litre %>
                  <b>
                    <%= t("article.is_litre") %>
                  </b>
                <% end %>
            </div>  

            <div class="col-md-2">

            </div>              
          </div>
        </li>

        <li class="list-group-item list-group-item-warning">
          <b><%= t("article.article_category") %></b>
        </li>


        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">
              <% if @article.rekwup_cup %>
                <b>
                  <%= t("article.rekwup_cup") %>
                </b>
              <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.is_lln %>
                  <b>
                    <%= t("article.is_lln") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.is_bep %>
                  <b>
                    <%= t("article.is_bep") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.age %>
                  <b>
                    <%= t("article.is_age") %>
                  </b>
                <% end %>
            </div>

            <div class="col-md-2">
                <% if @article.is_patro %>
                  <b>
                    <%= t("article.is_patro") %>
                  </b>
                <% end %>
            </div>            
          </div>
        </li>

        <li class="list-group-item list-group-item-warning">
          <b><%= t("article.data") %></b>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">
              <b>
                <%= t("article.article_content") %><br>
              </b>
              <%= @article.article_content %> CL
            </div>
            <div class="col-md-2">
              <b>
                <%= t("article.quantity_bigbox") %><br>
              </b>
              <%= @article.quantity_bigbox %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.quantity_smallbox") %><br>
              </b>
              <%= @article.quantity_smallbox %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.quantity_pile") %><br>
              </b>
              <%= @article.quantity_pile %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.pile_smallbox") %><br>
              </b>
              <%= @article.pile_smallbox %>
            </div>


            <div class="col-md-2">
              <b>
                <%= t("article.weight") %><br>
              </b>
                <%= @article.weight %> kg
            </div>            
          </div>
        </li>

        <li class="list-group-item list-group-item-warning">
          <b><%= t("article.other") %></b>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">

              <% if @article.transport %>
                <b>
                  <%= t("article.transport") %>
                </b>
              <% end %>

            </div>
            
            <div class="col-md-3">

            </div>

            <div class="col-md-3">

            </div>

            <div class="col-md-2">

            </div>

            <div class="col-md-2">

            </div>            
          </div>
        </li>
      </ul>


    <div class="row more-padding">

      <div class="col-md-6">
        <%= link_to t("menu.back"), articles_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <% if @user.admin %>
          <%= link_to t("menu.edit"), edit_article_path(@article), class: "btn btn-lg btn-block btn-info" %>
        <% end %>
      </div>
    </div>


    <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
          <div class="row")>
            <div class="col-md-4">
              <b>
                <% if @myregular_price.present? %>

                  <% if @myregular_price.regular %>
                    <%= t("price.regular") %>
                  <% elsif @myregular_price.negociated %>
                    <%= t("price.negociated") %>
                  <% end %>

                <% end %>
              </b>
            </div>

            <div class="col-md-4">
                  <b>
                    <%= t("price.valid_from") %> : <%= @myregular_price.valid_from.strftime("%d/%m/%Y") if @myregular_price.valid_from %>
                  </b>
            </div>


            <div class="col-md-4">
                  <b>
                    <%= t("price.valid_till") %> : <%= @myregular_price.valid_till.strftime("%d/%m/%Y") if @myregular_price.valid_till %>
                  </b>
            </div>

          </div>
        </li>



        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">
              <b>
                <%= t("article.washing_price") %><br>
              </b>
              <%= number_to_currency(@myregular_price.washing, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.washing_small") %><br>
              </b>
              <%= number_to_currency(@myregular_price.washing_small, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.handwash_price") %><br>
              </b>
              <%= number_to_currency(@myregular_price.handwash, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.tab_price") %><br>
              </b>
              <%= number_to_currency(@myregular_price.handling, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.deposit_price") %><br>
              </b>
              <%= number_to_currency(@myregular_price.deposit, :unit => '€', :precision => 4) if @myregular_price %>
            </div>

            <div class="col-md-2">
              <b>
                <%= t("article.sell_price") %><br>
              </b>
              <%= number_to_currency(@myregular_price.sell, :unit => '€', :precision => 4) if @myregular_price %>
            </div>
          </div>
        </li>          
    </ul>

    <% if current_user.admin %>

      <div class="row">

        <div class="col-md-6">
          <%= render 'add_prices' %>  
        </div>
        <div class="col-md-6">
          <%= render 'change_prices' %>       
        </div>
      </div>


    <% end %>


    
 




  
  <% end %>

