<% if @user.client %>

<h4>Cette page est en construction.</h4>

<% else %>

  <div class="container-fluid more-padding">
    <ul class="list-group">
      

        <li class="list-group-item list-group-item-success">
          <div class="row")>
            <div class="col-md-4">
              <strong>
                <%= @article.id %> - <%= @article.full_name %>
              </strong>
            </div>

            <div class="col-md-4">
                <% if @article.rekwup_cup %>
                  <strong>
                    <%= t("article.rekwup_cup") %>
                  </strong>
                <% end %>
            </div>

            <div class="col-md-4">
            <div class="col-md-4">
                <% if @article.is_cup %>
                  <strong>
                    <%= t("article.is_cup") %>
                  </strong>
                <% end %>
            </div>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>

          <div class="col-md-3">
            <% if @article.is_washable %>
              <strong>
                <%= t("article.is_washable") %>
              </strong>
            <% end %>
          </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.article_category") %><br>
              </strong>
              <%= @article.article_category %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.article_content") %><br>
              </strong>
              <%= @article.article_content %> CL
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.article_type") %><br>
              </strong>
              <%= @article.article_type %>
            </div>

        </div>
      </li>


        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-3">
              <strong>
                <%= t("article.quantity_bigbox") %><br>
              </strong>
              <%= @article.quantity_bigbox %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.quantity_smallbox") %><br>
              </strong>
              <%= @article.quantity_smallbox %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.quantity_pile") %><br>
              </strong>
              <%= @article.quantity_pile %>
            </div>

            <div class="col-md-3">
              <strong>
                <%= t("article.weight") %><br>
              </strong>
                <%= @article.weight %> kg
            </div>            
          </div>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>
            <div class="col-md-2">
              <strong>
                <%= t("article.washing_price") %><br>
              </strong>
              <%= number_to_currency(@article.washing_price,:unit=>'€', :precision => 4) %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.handwash_price") %><br>
              </strong>
              <%= number_to_currency(@article.handwash_price,:unit=>'€', :precision => 4) %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.tab_price") %><br>
              </strong>
              <%= number_to_currency(@article.tab_price,:unit=>'€', :precision => 4) %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.deposit_price") %><br>
              </strong>
              <%= number_to_currency(@article.deposit_price,:unit=>'€', :precision => 4) %>
            </div>

            <div class="col-md-2">
              <strong>
                <%= t("article.sell_price") %><br>
              </strong>
              <%= number_to_currency(@article.sell_price,:unit=>'€', :precision => 4) %>
            </div>
          </div>
        </li>          
    </ul>


    <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), articles_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <% if @user.admin %>
          <%= link_to t("menu.edit"), edit_article_path(@article), class: "btn btn-lg btn-block btn-info" %>
        <% end %>
      </div>
    </div>
    
  </div>



  
  <% end %>

