<p id="notice"><%= notice %></p>

<% if @user.client %>

Information à déterminer

<% else %>

  <div class="container-fluid">
    
    <br>

    <div class="row">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><h5><strong><%= @article.id %><%= @article.full_name %></strong></h5></li>

        <li class="list-group-item"><strong><%= t("article.article_name") %> : </strong><%= @article.article_name %></li>

        <li class="list-group-item"><strong><%= t("article.article_content") %> : </strong><%= @article.article_content %> CL</li> 
        <li class="list-group-item"><strong><%= t("article.article_type") %> : </strong><%= @article.article_type %></li>


        <li class="list-group-item"><strong><%= t("article.article_category") %> : </strong><%= @article.article_category %></li>
        <li class="list-group-item"><strong><%= t("article.quantity_bigbox") %> : </strong><%= @article.quantity_bigbox %></li>
        <li class="list-group-item"><strong><%= t("article.quantity_smallbox") %> : </strong><%= @article.quantity_smallbox %></li>



        <li class="list-group-item"><strong><%= t("article.quantity_bigbox") %> : </strong><%= @article.quantity_pile %></li>
        
      </ul>
    </div>
  </div>

  <% if @user.admin %>
    <%= link_to t("menu.edit"), edit_article_path(@article), class: "btn btn-lg btn-default" %>
  <% end %>
  <%= link_to t("menu.back"), articles_path, class: "btn btn-lg btn-warning" %>


<% end %>