<%= simple_form_for(@wash) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :return_box_id %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :washer %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
