<%= simple_form_for(@offer_box) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :offer_id %>
    <%= f.input :box_id %>
    <%= f.input :quantity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
