<ul class="list-group">
	<li class="list-group-item list-group-item-success">
		<%= t("offer.reference") %><%= @offer_box.id %>
	</li>
	<li class="list-group-item">
		<%= @offer_box.box.box_name %>
	</li>
</ul>

<%= simple_form_for(@offer_box) do |f| %>
  <%= f.error_notification %>

	<ul class="list-group">
    <li class="list-group-item list-group-item-warning">
			<strong><h5><%= t("box.edit_box")%></h5></strong>
		</li>

	<li class="list-group-item">	

	  	<div class="row">
	  		<div class="col-md-6">
	  			<%= f.label :box_id %>
	    		<%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select"} %>
				</div>
				<div class="col-md-6">
	    		<%= f.input :quantity %>
	    	</div>
	  	</div>

	</li>
</ul>


      <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), offer_path(@offer), class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <%= f.submit t("menu.update"), class: "btn btn-lg btn-block btn-info" %>
      </div>
    </div>
<% end %>
