<p id="notice"><%= notice %></p>

<p>
  <strong>Offer:</strong>
  <%= @offer_box.offer_id %>
</p>

<p>
  <strong>Box:</strong>
  <%= @offer_box.box_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @offer_box.quantity %>
</p>

<%= link_to 'Edit', edit_offer_box_path(@offer_box) %> |
<%= link_to 'Back', offer_boxes_path %>
