
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <ul class="list-group">

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-6">
          <%= f.input :name, :label => t("user.name"), :placeholder => t("user.name") %>
        </div>
        <div class="col-md-6">
          <%= f.input :first_name, :label => t("user.first_name"), :placeholder => t("user.first_name") %>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">
        <strong>
          <div class="col-md-4">
            <h6><%= t("user.status") %></h6>
          </div>
          <div class="col-md-2">
            <%= f.input :admin, :label => t("user.admin") %>
          </div>
          <div class="col-md-2">
            <%= f.input :staff, :label => t("user.staff") %>
          </div>
          <div class="col-md-2">
            <%= f.input :client, :label => t("user.client") %>
          </div>
          <div class="col-md-2">
            <%= f.input :chauffeur, :label => t("user.chauffeur") %>
          </div>
        </strong>  

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-2">
          <h6><strong><%= t("user.staff") %></strong></h6>
        </div>
        <div class="col-md-2">
          <%= f.input :fixed, :label => t("user.fixed") %>
        </div>
        <div class="col-md-2">
          <%= f.input :time_per_week, :label => t("user.time_per_week") %>
        </div>
        <div class="col-md-2">
          <%= f.input :interim, :label => t("user.interim") %>
        </div>
        <div class="col-md-2">
          <%= f.input :leader, :label => t("user.leader") %>
        </div>
        <div class="col-md-2">
          <%= f.input :time_keeping, :label => t("user.time_keeping") %>
        </div>         

      </div>
    </li>


    <li class="list-group-item">
      <%= f.input :email, :label => t("user.email"), :placeholder => t("user.email") %>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-3">
          <%= f.input :individual, :label => t("user.individual") %>
        </div>

        <div class="col-md-3">
          <%= f.input :non_profit, :label => t("user.non_profit") %>
        </div>

        <div class="col-md-3">
          <%= f.input :company, :label => t("user.company") %>
        </div>

        <div class="col-md-3">
          <%= f.input :institution, :label => t("user.institution") %>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-6">
      		<%= f.input :company_name, :label => t("user.organisation_name") %>
    		</div>


        <div class="col-md-4">
		      	<%= f.input :vat, :label => t("user.vat"), :placeholder => t("user.vat") %>
		      </div>


        <div class="col-md-2">
          <strong><%= f.label :negociated_price %></strong><br>
          <%= f.input :negociated_price %>
        </div>


	    </div>
    </li>
	     
    <li class="list-group-item">
      <div class="row">

        <div class="col-md-5">
          <%= f.input :address, :label => t("user.address"), :placeholder => t("user.address") %>
        </div>

        <div class="col-md-2">
          <%= f.input :postcode, :label => t("user.postcode"), :placeholder => t("user.postcode") %>
        </div>

        <div class="col-md-3">
          <%= f.input :city, :label => t("user.city"), :placeholder => t("user.city") %>
        </div>

        <div class="col-md-2">
          <%= f.input :country, :label => t("user.country"), :placeholder => t("user.country"), only: [ "BE", "FR", "DE", "LU", "NL" ] %>
        </div>

      </div>
    </li>
	     
    <li class="list-group-item">
      <div class="row">

        <div class="col-md-6">
          <%= f.input :phone, :label => t("user.phone"), :placeholder => t("user.phone") %>
        </div>

        <div class="col-md-6">
          <%= f.input :gsm, :label => t("user.gsm"), :placeholder => t("user.gsm") %>
        </div>

      </div>
    </li>

    <li class="list-group-item list-group-item-warning">
      <strong><%= t("user.special") %></strong>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-2">
          <%= f.input :is_lln, :label => t("user.surface") %>
        </div>

        <div class="col-md-2">
          <%= f.input :lln_id, :label => t("user.lln_id") %>
        </div>

        <div class="col-md-2">
          <%= f.input :is_namur, :label => t("user.is_namur") %>
        </div>

      </div>
    </li>
	  
	</ul>

    <div class="row more-padding">

      <div class="col-md-6">
        <%= link_to t("menu.back"), user_path(@user), class: "btn btn-lg btn-block btn-default" %>
      </div>

      <div class="col-md-6">
        <%= f.button :submit, class: "btn btn-lg btn-block btn-info" %>
      </div>
      
    </div>
<% end %>