

  <%= simple_form_for(@user) do |f| %>
    <%= f.error_notification %>

      <% if current_user.client.blank? && current_user.admin.blank? && current_user.staff.blank? %>

        <%= f.input :name, :label => t("user.name"), :placeholder => t("user.name") %>
        <%= f.input :first_name, :label => t("user.first_name"), :placeholder => t("user.first_name") %>
        <%= f.input :email, :label => t("user.email"), :placeholder => t("user.email") %>
        <%= f.input :individual, :label => t("user.individual") %>
        <%= f.input :non_profit, :label => t("user.non_profit") %>
        <%= f.input :company, :label => t("user.company") %>
        <%= f.input :institution, :label => t("user.institution") %>
        <%= f.input :company_name, :label => t("user.organisation_name") %>
        <% if current_user.email == "mderoeux@yahoo.com" %>
        <%= f.hidden_field :admin, :value => true %>
        <% else %>
        <%= f.hidden_field :client, :value => true %>
        <% end %>
        
      <% end %>

      <% if current_user.client %>

        <%= f.input :name, :label => t("user.name"), :placeholder => t("user.name") %>
        <%= f.input :first_name, :label => t("user.first_name"), :placeholder => t("user.first_name") %>
        <%= f.input :email, :label => t("user.email"), :placeholder => t("user.email") %>
        <%= f.input :individual, :label => t("user.individual") %>
        <%= f.input :non_profit, :label => t("user.non_profit") %>
        <%= f.input :company, :label => t("user.company") %>
        <%= f.input :institution, :label => t("user.institution") %>
        <%= f.input :company_name, :label => t("user.organisation_name") %>


        <% if current_user.offers.any? %>
          <% if current_user.company_name.present? %>
            <%= f.input :vat, :label => t("user.vat"), :placeholder => t("user.vat") %>
          <% end %>
           <%= f.input :address, :label => t("user.address"), :placeholder => t("user.address") %>
           <%= f.input :postcode, :label => t("user.postcode"), :placeholder => t("user.postcode") %>
           <%= f.input :city, :label => t("user.city"), :placeholder => t("user.city") %>
           <%= f.input :country, :label => t("user.country"), :placeholder => t("user.country") %>
           <%= f.input :phone, :label => t("user.phone"), :placeholder => t("user.phone") %>
           <%= f.input :gsm, :label => t("user.gsm"), :placeholder => t("user.gsm") %>

        <% end %>

      <% end %>

      <% if current_user.staff %>
        <%= f.input :name, :label => t("user.name"), :placeholder => t("user.name") %>
        <%= f.input :first_name, :label => t("user.first_name"), :placeholder => t("user.first_name") %>
        <%= f.input :email, :label => t("user.email"), :placeholder => t("user.email") %>
      <% end %>

      <% if current_user.admin %>
        <%= f.input :name, :label => t("user.name"), :placeholder => t("user.name") %>
        <%= f.input :first_name, :label => t("user.first_name"), :placeholder => t("user.first_name") %>
        <%= f.input :email, :label => t("user.email"), :placeholder => t("user.email") %>
        <%= f.input :individual, :label => t("user.individual") %>
        <%= f.input :non_profit, :label => t("user.non_profit") %>
        <%= f.input :company, :label => t("user.company") %>
        <%= f.input :institution, :label => t("user.institution") %>
        <%= f.input :company_name, :label => t("user.organisation_name") %>
        <h6><strong><%= t("user.status") %></strong></h6>
  	    <%= f.input :admin, :label => t("user.admin") %>
  	    <%= f.input :staff, :label => t("user.staff") %>
  	    <%= f.input :client, :label => t("user.client") %>
      <% end %>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>

  <% end %>



  
