<div class="container-fluid"><br>

	<% if current_user.admin %>
		
		<div class="row">
			<div class="col-md-6">

				<h4><%= t('user.list_admin') %></h4>

				<% @admin.each do |user| %>


							<div class="list-group">
								<li class="list-group-item"><strong>
							  	<%= user.full_name %>

								  <%= link_to edit_user_path(user) do %>
										<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
									<% end %>

								</strong></li>
							</div>

			  <% end %>
			</div>


				
			<div class="col-md-6">

				<h4><%= t('user.list_staff') %></h4>

				<% @staff.each do |user| %>

						<div class="list-group">
							<li class="list-group-item"><strong>
						  	<%= user.full_name %>

						  <%= link_to edit_user_path(user) do %>
								<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
							<% end %>
							</strong></li>
						</div>
				<% end %>
			</div>

			<div class="col-md-3">

				<h4><%= t('user.list_client') %> - <%= t('user.company') %></h4>

				<% @company.each do |user| %>

					<div class="list-group">
						<% if user.negociated_price %>
							<li class="list-group-item list-group-item-info"><strong>
							  <%= user.full_name %>
							  <%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% else %>
							<li class="list-group-item"><strong>
						  	<%= user.full_name %>
						  	<%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% end %>
					</div>
				<% end %>
			</div>

			<div class="col-md-3">

				<h4><%= t('user.list_client') %> - <%= t('user.non_profit') %></h4>

				<% @non_profit.each do |user| %>

					<div class="list-group">
						<% if user.negociated_price %>
							<li class="list-group-item list-group-item-info"><strong>
							  <%= user.full_name %>
							  <%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% else %>
							<li class="list-group-item"><strong>
						  	<%= user.full_name %>
						  	<%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% end %>
					</div>
				<% end %>
			</div>

			<div class="col-md-3">

				<h4><%= t('user.list_client') %> - <%= t('user.institution') %></h4>

				<% @institution.each do |user| %>

					<div class="list-group">
						<% if user.negociated_price %>
							<li class="list-group-item list-group-item-info"><strong>
							  <%= user.full_name %>
							  <%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% else %>
							<li class="list-group-item"><strong>
						  	<%= user.full_name %>
						  	<%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% end %>
					</div>
				<% end %>
			</div>

			<div class="col-md-3">

				<h4><%= t('user.list_client') %> - <%= t('user.individual') %></h4>

				<% @individual.each do |user| %>

					<div class="list-group">
						<% if user.negociated_price %>
							<li class="list-group-item list-group-item-info"><strong>
							  <%= user.full_name %>
							  <%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% else %>
							<li class="list-group-item"><strong>
						  	<%= user.full_name %>
						  	<%= link_to edit_user_path(user) do %>
									<span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
								<% end %>
							</strong></li>
						<% end %>
					</div>
				<% end %>
			</div>





	<% else %>

	    <%= current_user.name %>
	    <%= current_user.first_name %>

	  

	<% end %>

</div>