

	<% if current_user.admin %>
		
		<div class="row">
			<div class="col-md-6">
				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.list_admin') %></h4>
					</li>

				<% @admin.each do |user| %>

					<li class="list-group-item">
						<strong>
					  	<%= user.full_name %>

							<%= link_to user_path(user) do %>
								<%= content_tag(:i, "", class: "fa fa-eye") %>
							<% end %>
						  <%= link_to edit_user_path(user) do %>
								<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
							<% end %>

						</strong>
					</li>

				<% end %>
				</ul>
			</div>
				
			<div class="col-md-6">
				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.list_staff') %></h4>
					</li>

					<% @staff.each do |user| %>

					<li class="list-group-item">
						<strong>
				  		<%= user.full_name %>

							<%= link_to user_path(user) do %>
								<%= content_tag(:i, "", class: "fa fa-eye") %>
							<% end %>
						  <%= link_to edit_user_path(user) do %>
								<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
							<% end %>

						</strong>
					</li>

				<% end %>
				</ul>
			</div>
		</div>

		<% if @client_no_status.any? %>

				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.no_status') %></h4>
					</li>

				<% @client_no_status.each do |user| %>

						<li class="list-group-item">
							<div class="row">
								<div class="col-md-3">

										<strong>
									  	<%= user.full_name %>
												<%= link_to user_path(user) do %>
													<%= content_tag(:i, "", class: "fa fa-eye") %>
												<% end %>
											  <%= link_to edit_user_path(user) do %>
													<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
												<% end %>
										</strong>

									
								</div>
							</div>
						</li>
					<% end %>
					</ul>

		<% end %>

		<div class="row">
			<div class="col-md-3">
				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.list_client') %> - <%= t('user.individual') %></h4>
					</li>			

				<% @individual.each do |user| %>

				<% if user.not_lln == true %>

					<li class="list-group-item">

						<% if user.negociated_price %>

							<strong>
								<i class="fa fa-star"></i>
							  <%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>


							</strong>

						<% else %>

							<strong>
						  	<%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% end %>
					</li>
					<% end %>
				<% end %>
				</ul>	
			</div>

			<div class="col-md-3">
				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.list_client') %> - <%= t('user.company') %></h4>
					</li>			

				<% @company.each do |user| %>

				<% if user.not_lln == true %>

					<li class="list-group-item">

						<% if user.negociated_price %>

							<strong>
								<i class="fa fa-star"></i>
							  <%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% else %>

							<strong>
						  	<%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% end %>
					</li>
				<% end %>
				<% end%>
				</ul>	
			</div>

			<div class="col-md-3">
				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.list_client') %> - <%= t('user.non_profit') %></h4>
					</li>			

				<% @non_profit.each do |user| %>

				<% if user.not_lln == true %>

					<li class="list-group-item">

						<% if user.negociated_price %>

							<strong>
								<i class="fa fa-star"></i>
							  <%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% else %>

							<strong>
						  	<%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% end %>
					</li>
				<% end %>
				<% end %>
				</ul>	
			</div>

			<div class="col-md-3">
				<ul class="list-group">

					<li class="list-group-item">
						<h4><%= t('user.list_client') %> - <%= t('user.institution') %></h4>
					</li>			

				<% @institution.each do |user| %>

				<% if user.not_lln == true %>

					<li class="list-group-item">

						<% if user.negociated_price %>

							<strong>
								<i class="fa fa-star"></i>
							  <%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% else %>

							<strong>
						  	<%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% end %>
					</li>
					<% end %>
				<% end %>
				</ul>	
			</div>
		</div>
</div>

		<div class="row">
			<div class="col-md-3">
				<ul class="list-group">

					<li class="list-group-item">
						<h4>LLN</h4>
					</li>			

				<% User.is_lln.each do |user| %>

					<li class="list-group-item">

						<% if user.negociated_price %>

							<strong>
								<i class="fa fa-star"></i>
							  <%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>


							</strong>

						<% else %>

							<strong>
						  	<%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% end %>
					</li>
				<% end %>
				</ul>	
			</div>


			<div class="col-md-3">
				<ul class="list-group">

					<li class="list-group-item">
						<h4>AGE Namur</h4>
					</li>			

				<% User.is_namur.each do |user| %>

					<li class="list-group-item">

						<% if user.negociated_price %>

							<strong>
								<i class="fa fa-star"></i>
							  <%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>


							</strong>

						<% else %>

							<strong>
						  	<%= user.full_name %>
									<%= link_to user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-eye") %>
									<% end %>
								  <%= link_to edit_user_path(user) do %>
										<%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>								
									<% end %>
							</strong>

						<% end %>
					</li>
				<% end %>
				</ul>	
			</div>

		</div>


	<% else %>


	  

	<% end %>

