    <% if current_user.client %>

      <%= render 'show_client' %>

    <% end %>

    <% if current_user.staff %>

      <%= render 'show_client' %>

    <% end %>

    <% if current_user.admin %>

      <%= render 'show_admin' %><br>

      <% if @user.negociated_prices %>



				<%= render 'show_price' %>

    <div class="row">

      <div class="col-md-6">
        
      </div>
      <div class="col-md-6">
        <%= render 'add_prices' %>
      </div>

    </div>

			<% end %>

    <% end %>



