<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>First Name: <%= @user.first_name if @user.first_name %></p>
<p>Individual: <%= @user.individual if @user.individual %></p>
<p>Association: <%= @user.non_profit if @user.non_profit %></p>
<p>Company: <%= @user.company if @user.company %></p>
<p>Institution: <%= @user.institution if @user.institution %></p>
<p>Company Name: <%= @user.company_name if @user.company_name %></p>




<p>Email: <%= @user.email if @user.email %></p>
