<%= simple_form_for(@box) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :box_name %>
    <%= f.input :box_regular %>
    <%= f.input :bigbox %>
    <%= f.input :smallbox %>


  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-lg btn-success" %>
  </div>
<% end %>

