
<ul class="list-group">

<%= simple_form_for(@box) do |f| %>
  <%= f.error_notification %>
    <div class="row")>
      <div class="col-md-6">

        <li class="list-group-item list-group-item-warning">
          <h4><strong>
            <%= t("box.edit_box") %>
          </strong></h4>
        </li>

        <li class="list-group-item">  
          <%= f.input :box_name %>
        </li>

        <li class="list-group-item">  
          <strong><%= t("box.box_type") %></strong>
        </li>

        <li class="list-group-item">
          <div class="row text-center")>

            <div class="col-md-6">
              <%= f.input :box_regular %>
            </div>

            <div class="col-md-6">
              <%= f.input :mixed %>
            </div>
          </div>
        </li>

        <li class="list-group-item">  
          <strong><%= t("box.box_size") %></strong>
        </li>


        <li class="list-group-item">
          <div class="row text-center")>

            <div class="col-md-6">
              <%= f.input :bigbox %>
            </div>

            <div class="col-md-6">
              <%= f.input :smallbox %>
            </div>
          </div>
        </li>

        <li class="list-group-item">
          <div class="row")>

            <div class="col-md-6">
              <%= link_to t("menu.back"), boxes_path, class: "btn btn-default" %>
            </div>

            <div class="col-md-6">
              <%= f.button :submit, class: "btn btn-info" %>
            </div>
          </div>
        </li>

      </div>

      <div class="col-md-6">
      </div>
    </div>

  <% end %>
</ul>
