

<% if @user.admin %>

  <%= link_to t("box.new_box"), new_box_path, class: "btn btn-block btn-info" %><br>

    <ul class="list-group">

      <li class="list-group-item list-group-item-warning">
        <h4><strong>
          <%= t("box.closed_boxes") %>
        </strong></h4>
      </li>

      <li class="list-group-item">
        <div class="row">
          <strong>
            <div class="col-xs-6 col-md-2">
              <%= t("box.box_name") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("offer.cups") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("box.size") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.article_type") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.brand") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("box.weight") %>
            </div>
          </strong>
        </div>              
      
      </li>


      <% @closed_boxes.each do |box| %>

        <li class="list-group-item">
          <div class="row">

              <div class="col-xs-6 col-md-2">
                <%= box.box_name %>

                  <%= link_to edit_box_path(box) do %>
                    <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                  <% end %>

              </div>

              <div class="col-xs-6 col-md-2">
                <%= box.cup_type %> <%= box.cup_content %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= box.size %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= box.type %>
              </div>

              <div class="col-xs-6 col-md-2">
                <%= box.cup_owner %>                
              </div>

              <div class="col-xs-6 col-md-2">
                <%= box.weight %>      
              </div>
 
          </div>                         
        </li>

      <% end %>

    </ul>


    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <h4><strong>
          <%= t("box.open_boxes") %>
        </strong></h4>
      </li>

      <li class="list-group-item">
        <div class="row">
          <strong>
            <div class="col-xs-6 col-md-2">
              <%= t("box.box_name") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("offer.cups") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("box.size") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.article_type") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("article.brand") %>
            </div>

            <div class="col-xs-6 col-md-2">
              <%= t("box.weight") %>
            </div>
          </strong>
        </div>              
      
      </li>

        <% @open_boxes.each do |box| %>


          <li class="list-group-item">
            <div class="row">

                <div class="col-xs-6 col-md-2">
                  <%= box.box_name %>

                  <%= link_to edit_box_path(box) do %>
                    <%= content_tag(:i, "", class: "fa fa-pencil-square-o") %>
                  <% end %>
                  
                </div>

                <div class="col-xs-6 col-md-2">
                  <%= box.cup_type %> <%= box.cup_content %>
                </div>

                <div class="col-xs-6 col-md-2">
                  <%= box.size %>
                </div>

                <div class="col-xs-6 col-md-2">
                  <%= box.type %>
                </div>

                <div class="col-xs-6 col-md-2">
                  <%= box.cup_owner %>                
                </div>

                <div class="col-xs-6 col-md-2">
                  <%= box.weight %>      
                </div>
   
            </div>                         
          </li>

        <% end %>

      </ul>

  <% end %>


