

  <% if @user.client %>

    Information à déterminer

  <% else %>

    <% if @user.admin %>
      <%= link_to t("box.new_box"), new_box_path, class: "btn btn-block btn-info" %><br>
    <% end %>

    <div class="row">
      <div class="col-xs-6 col-md-6">

        <ul class="list-group">


          <li class="list-group-item list-group-item-warning">
            <h4><strong>
              <%= t("box.closed_boxes") %>
            </strong></h4>
          </li>

          <% @closed_boxes.each do |box| %>

            <li class="list-group-item">
              <%= link_to box.box_name, box_path(box), class: "btn btn-lg btn-default btn-block" %>
            </li>

          <% end %>

        </ul>

      </div>

      <div class="col-xs-6 col-md-6">

        <ul class="list-group">
          <li class="list-group-item list-group-item-warning">
            <h4><strong>
              <%= t("box.open_boxes") %>
            </strong></h4>
          </li>


          <% @open_boxes.each do |box| %>


            <li class="list-group-item">
                <% unless box.box_is_full %>
                <%= link_to box.box_name, box_path(box), class: "btn btn-lg btn-default btn-block" %>
                <% end %>
            </li>

          <% end %>

        </ul>
      </div>
    </div>
  <% end %>


