<% if @user.client %>



<% else %>

  <div class="container-fluid">
      
    <br>

    <div class="row">
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><h5><strong><%= @box.box_name %>
          <%= link_to edit_box_path(@box) do %>
            <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
          <% end %>
        </strong></h5></li>

        <% if @box.box_regular %>

        <li class="list-group-item"><strong><%= t("box.box_regular") %></li>

        <% else %>

        <li class="list-group-item"><strong><%= t("box.box_not_regular") %></stroing></li>

        <% end %>
      </ul>
    </div>
  </div><br>

  <div class="container-fluid">
    <div class="row">

      <% if @box.box_is_full %>
        <div class="col-md-3">
          <%= t("box.box_is_full") %>
        </div>
        <div class="col-md-3">
          <%= simple_form_for(@box) do |f| %>
            <%= f.error_notification %>
            <%= f.hidden_field :box_is_full, :value => false %>
            <%= f.submit t("box.open_box"), class: "btn btn-success" %>
          <% end %>
        </div>  

      <% else %>
        <div class="col-md-3">
          <%= t("box.box_is_not_full") %>
        </div>
        <div class="col-md-3">
          <%= simple_form_for(@box) do |f| %>
            <%= f.error_notification %>
              <%= f.hidden_field :box_is_full, :value => true %>
              <%= f.submit t("box.close_box"), class: "btn btn-success" %>
          <% end %>
        </div> 
      <% end %>

  </div>
  </div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t("article.selected_articles") %></th>
          <th><%= t("article.quantity") %></th>
        </tr>
      </thead>
    
      <% @thisboxdetails.each do |thisboxdetail| %>
        <tbody>
          <tr>
        	<td><%= thisboxdetail.article.full_name if thisboxdetail.article %></td>
        	<td><%= thisboxdetail.box_article_quantity if thisboxdetail.box_article_quantity %>

            <% unless @box.box_is_full %>
              <%= link_to edit_boxdetail_path(thisboxdetail) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %>
            <% end %>
          </td>
          <td><%= link_to t("box.destroy_article"), thisboxdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>

  <% if @box.box_is_full %>

  <% else %>

    <h4><%= t("box.add_article") %></h4>

    <div class="container-fluid">
      <div class="row">

        <%= simple_form_for(@new_boxdetail) do |f| %>
          <%= f.error_notification %>

          
          	<%= f.hidden_field :box_id, :value => @box.id %>
             <div class="col-md-3">
              <%= f.label :article_id %>
              <%= f.collection_select :article_id, Article.all.order('article_name ASC'), :id, :full_name, {prompt: false}, {class: "form-control styled-select"} %>
            </div>
            <div class="col-md-3">
              <%= f.input :box_article_quantity %>
            </div>

            <div class="col-md-3">
              <br>
              <%= f.button :submit, class: "btn btn-success" %>
            </div>
        <% end %>
      </div>
    </div><br>
  <% end %>
<%= link_to 'Back', boxes_path, class: "btn btn-lg btn-block btn-warning" %>

<% end %>


