<p id="notice"><%= notice %></p>

<p>
  <strong>Box name:</strong>
  <%= @box.box_name %>
</p>

<p>
  <strong>Box regular:</strong>
  <%= @box.box_regular %>
</p>

<p>
  <strong>Box type:</strong>
  <%= @box.box_type %>
</p>

<% @thisboxdetails.each do |thisboxdetail| %>
	<%= thisboxdetail.article.full_name %>


	<%= thisboxdetail.box_article_quantity %><br>
<% end %>


<%= simple_form_for(@new_boxdetail) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  	<%= f.hidden_field :box_id, :value => @box.id %>
    <%= f.collection_select :article_id, Article.all, :id, :full_name %>
    <%= f.input :box_article_quantity %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
