<p id="notice"><%= notice %></p>

<p>
  <strong>Box name:</strong>
  <%= @box.box_name %>
</p>

<p>
  <strong>Box regular:</strong>
  <%= @box.box_regular %>
</p>

<p>
  <strong>Box type:</strong>
  <%= @box.box_type %>
</p>

<p>
  <strong>Box detail:</strong>
  <%= @box.box_detail_id %>
</p>

<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
