ADMIN
<div class="container-fluid more-padding">
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">

      	<h5><strong>
      		<%= t("delivery.reference") %><%= @delivery.delivery_date.strftime("%Y") if @delivery.delivery_date %> - <%= @delivery.offer_id %>
      	</strong></h5>

      </li>

      <li class="list-group-item">

            <strong><%= t("event.event_name") %> : </strong>
            <%= @delivery.offer.event.event_name %>

      </li>

      <li class="list-group-item">
        <div class="row text-center">

          <div class="col-md-6">
            <strong><%= t("event.delivery_date") %></strong><br>
            <h4><strong><%= @delivery.delivery_date.strftime("%d/%m/%Y") if @delivery.delivery_date %></strong></h4>
          </div>
          <div class="col-md-6">
            <strong><%= t("event.return_date") %></strong><br>
            <h4><strong><%= @delivery.return_date.strftime("%d/%m/%Y") if @delivery.return_date %></strong></h4>
          </div>
      </li>

      <li class="list-group-item">
      	<h4><strong><%= t("event.address") %> : </strong><%= @delivery.offer.event.address %> - <%= @delivery.offer.event.post_code %> <%= @delivery.offer.event.city %>, <%= @delivery.offer.event.country %></h4> 
      </li>

      <li class="list-group-item">
        <div class="row text-center">

          <div class="col-md-6">
            <strong><%= t("event.contact") %></strong><br>
            <h4><strong><%= @delivery.offer.event.contact %></strong></h4>
          </div>
          <div class="col-md-6">
            <strong><%= t("event.phone") %></strong><br>
            <h4><strong><%= @delivery.offer.event.phone %></strong></h4>
          </div>
      </li>

      <li class="list-group-item">
        <div class="row text-center">

          <div class="col-md-6">
            <strong><%= t("delivery.parcels") %></strong><br>
            <h4><strong><%= @delivery.total_boxes %></strong></h4>
          </div>
          <div class="col-md-6">
            <strong><%= t("delivery.weight") %></strong><br>
            <h4><strong><%= @delivery.offer.weight %> KG</strong></h4>
          </div>
      </li>

			<li class="list-group-item list-group-item-warning">

      	<h5><strong>
      		<%= t("delivery.detail") %>
      	</strong></h5>

      </li>

      <li class="list-group-item">
      	<div class="row">
      		<div class="col-md-6">
      			<strong><%= t("box.box_name") %></strong>
      		</div>
      		<div class="col-md-3 text-center">
      			<strong><%= t("offer_box.quantity") %></strong>
      		</div>
      		<div class="col-md-3 text-center">
      			<strong><%= t("delivery.weight") %></strong>
      		</div>
      	</div>
      </li>



        <% @delivery.offer.offer_boxes.each do |offer_box| %>

      <li class="list-group-item">
      	<div class="row">
      		<div class="col-md-6">
            <%= offer_box.box.box_name %>
            </div>
          <div class="col-md-3 text-center">
          	<%= offer_box.quantity %>
          </div>
          <div class="col-md-3 text-center">
          	<%= offer_box.weight %> KG
          </div>
        </div>
			</li>
          
        <% end %>

      <li class="list-group-item">
      	<div class="row">
      		<div class="col-md-6">
            <strong><%= t("delivery.parcels") %></strong>
            </div>
          <div class="col-md-3 text-center">
          	<strong><%= @delivery.total_boxes %></strong>
          </div>
          <div class="col-md-3 text-center">
          	<strong><%= @delivery.offer.weight %> KG</strong>
          </div>
        </div>
			</li>

</ul>

</div>

    <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), deliveries_path, class: "btn btn-lg btn-block btn-default" %>
      </div>

      <div class="col-md-6">
        <%= link_to t("menu.edit"), edit_delivery_path(@delivery), class: "btn btn-lg btn-block btn-info" %>
      </div>


    </div>