<ul class="list-group">

  <li class="list-group-item">
    <strong><%= t("event.creator_name") %></strong>
    <%= @creator.full_name if @event.creator %>
    <strong> le </strong>
    <%= @event.created_at.strftime("%d/%m/%Y") %>
  </li> 

  <li class="list-group-item">
    <strong><%= t("event.organizer_name") %></strong>
    <%= @organizer.full_name if @event.organizer %>
  </li>
</ul>


<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
    


  <div class="form-inputs">

    <strong><%= t("event.organizer_change") %>   </strong>
    <%= f.collection_select :organizer_id, User.all, :id, :full_name_with_company %>

    <%= f.input :event_name %>
    <%= f.input :event_start_date %>
    <%= f.input :event_end_date %>
    <%= f.input :expected_pax %>
    <%= f.input :last_pax %>
    <%= f.input :post_code %>
    <%= f.input :city %>
    <%= f.input :country, only: [ "BE", "FR", "DE", "LU", "NL" ] %>
    <%= f.input :comment %>
    <%= f.input :cuptwenty %>
    <%= f.input :cuptwentyfive %>
    <%= f.input :cupforty %>
    <%= f.input :cupfifty %>
    <%= f.input :cuplitre %>
    <%= f.input :cupwine %>
    <%= f.input :cupcava %>
    <%= f.input :cupshot %>
    <%= f.input :party %>
    <%= f.input :dinner %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %><br>
  </div>
  <br>
<% end %>
