<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% if @event.creatorganizer == "true" %>
    <%= f.hidden_field :organizer_id, :value => current_user.id %>
    <% else %>
    <%= f.collection_select :organizer_id, User.all, :id, :full_name %>
    <% end %>
    <%= f.input :event_name %>
    <%= f.input :event_start_date %>
    <%= f.input :event_end_date %>
    <%= f.input :expected_pax %>
    <%= f.input :last_pax %>
    <%= f.input :post_code %>
    <%= f.input :city %>
    <%= f.input :country, only: [ "BE", "FR", "DE", "LU", "NL" ] %>
    <%= f.input :comment %>
    <%= f.input :cuptwenty %>
    <%= f.input :cuptwentyfive %>
    <%= f.input :cupforty %>
    <%= f.input :cupfifty %>
    <%= f.input :cuplitre %>
    <%= f.input :cupwine %>
    <%= f.input :cupcava %>
    <%= f.input :cupshot %>
    <%= f.hidden_field :creator_id, :value => current_user.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
