
    <li class="list-group-item">
      <div class="row">

        <div class="col-md-6">
          <strong>
            <%= t("event.creator_name") %>
          </strong>
            <%= @creator.full_name if @event.creator %>
          <strong><%= t("word.on_the") %></strong>
            <%= @event.created_at.strftime("%d/%m/%Y") %>
        </div>

        <div class="col-md-6">
          <strong>
            <%= t("event.organizer_name") %>
          </strong>
            <%= @organizer.full_name if @event.organizer %>
        </div>
      </div>
    </li>

  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>
      
    <% if current_user.admin %>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong><%= t("event.organizer_change") %>   </strong>
          </div>
          <div class="col-md-6">
            <%= f.collection_select :organizer_id, User.all.order('name ASC'), :id, :full_name_with_company, {prompt: false}, {class: "form-control styled-select"} %>
          </div>
        </div>
      </li>
    <% end %>

    <li class="list-group-item">
      <%= f.input :event_name %>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-6">
          <%= f.input :event_start_date %>
        </div>
        <div class="col-md-6">
          <%= f.input :event_end_date %>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-4">
          <%= f.input :expected_pax %>
        </div>
        <div class="col-md-4">
          <%= f.input :last_pax %>
        </div>
        <div class="col-md-4">
          <%= f.input :last_consumption %>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-4">
          <%= f.input :post_code %>
        </div>
        <div class="col-md-4">
          <%= f.input :city %>
        </div>
        <div class="col-md-4">
          <%= f.input :country, only: [ "BE", "FR", "DE", "LU", "NL" ] %>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <%= f.input :comment %>
    </li>

    <li class="list-group-item list-group-item-info">
      <strong><%= t("event.which_cups") %></strong>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-3">
          <%= f.input :cuptwenty %>
        </div>
        <div class="col-md-3">
          <%= f.input :cuptwentyfive %>
        </div>
        <div class="col-md-3">
          <%= f.input :cupforty %>
        </div>
        <div class="col-md-3">
          <%= f.input :cupfifty %>
        </div>

      </div>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-3">
          <%= f.input :cuplitre %>
        </div>       
        <div class="col-md-3">
          <%= f.input :cupcava %>
        </div>
        <div class="col-md-3">
          <%= f.input :cupwine %>
        </div>     
        <div class="col-md-3">
          <%= f.input :cupshot %>
        </div>
      </div>
    </li>

    <li class="list-group-item list-group-item-info">
      <strong><%= t("event.event_type") %></strong>
    </li>

    <li class="list-group-item">
      <div class="row">

        <div class="col-md-6">
          <%= f.input :party %>
        </div>
        <div class="col-md-6">
          <%= f.input :dinner %>
        </div>

      </div>
    </li><br>

      <%= f.button :submit, class: "btn btn-lg btn-block btn-info" %><br>


  <% end %>

