
  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

      <% if current_user.client %>       
        <%= f.hidden_field :creatorganizer, :value => true %>
      <% else %>
        <%= f.hidden_field :creatorganizer, :value => false %>
      <% end %>

      <%= f.hidden_field :creator_id, :value => current_user.id %>




      <li class="list-group-item">
        <%= f.input :event_name %>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong><%= t("event.event_start_date") %></strong><br>
            <%= f.text_field :event_start_date, :placeholder => t("event.date_placeholder"), class: "datepicker" %>
          </div>
          <div class="col-md-6">
            <strong><%= t("event.event_end_date") %></strong><br>
            <%= f.text_field :event_end_date, :placeholder => t("event.date_placeholder"), class: "datepicker" %>
          </div>
        </div>
      </li>
      
      <li class="list-group-item">
        <%= f.input :address %>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">
          <%= f.input :post_code %>
          </div>
          <div class="col-md-4">
            <%= f.input :city %>
          </div>
          <div class="col-md-4">
            <%= f.input :country, only: [ "BE", "FR", "DE", "LU", "NL" ] %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-4">
            <%= f.input :expected_pax %>
          </div>
          <div class="col-md-4">
            <%= f.input :last_pax %>
          </div>
          <div class="col-md-4">
            <%= f.input :last_consumption %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <%= f.input :comment %>
      </li>

      <li class="list-group-item">
        <h6><strong><%= t("event.which_cups") %></strong></h6>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= f.input :cuptwenty %>
          </div>
          <div class="col-md-3">
            <%= f.input :cuptwentyfive %>
          </div>

          <div class="col-md-3">
            <%= f.input :cupforty %>
          </div>
          <div class="col-md-3">
            <%= f.input :cupfifty %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= f.input :cuplitre %>
          </div>
          <div class="col-md-3">
            <%= f.input :cupcava %>
          </div>

          <div class="col-md-3">
            <%= f.input :cupwine %>
          </div>
          <div class="col-md-3">
            <%= f.input :cupshot %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
          <h6><strong><%= t("event.event_type") %></strong></h6>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :party %>
          </div>

          <div class="col-md-6">
            <%= f.input :dinner %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <strong><%= t("event.delivery_date") %></strong><br>
            <strong><%= t("event.time") %></strong><br>
            <%= f.text_field :delivery_date, :placeholder => t("event.date_placeholder"), class: "datepicker" %>
          </div>
          <div class="col-md-6">
             <strong><%= t("event.return_date") %></strong><br>
              <strong><%= t("event.time") %></strong><br>
            <%= f.text_field :return_date, :placeholder => t("event.date_placeholder"), class: "datepicker" %>
          </div>
        </div>
      </li>
      
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
          <%= f.input :contact %>
          </div>
          <div class="col-md-6">
            <%= f.input :phone %>
          </div>
        </div>
      </li>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-info btn-lg btn-block" %>
    </div>

  <% end %>

  
