<div class="container-fluid">

    <%= simple_form_for(@event) do |f| %>
      <%= f.error_notification %>

  <div class="row">
    <div class="form-inputs">
      <div class="col-md-8">       
        <%= f.input :creatorganizer %>
        <%= f.input :event_name %>
      
        <div class="col-md-6">
        <%= f.input :event_start_date %>
        </div>
        <div class="col-md-6">
          <%= f.input :event_end_date %>
        </div>

        

        <div class="col-md-4">
        <%= f.input :post_code %>
        </div>
        <div class="col-md-4">
          <%= f.input :city %>
        </div>
        <div class="col-md-4">
          <%= f.input :country, only: [ "BE", "FR", "DE", "LU", "NL" ] %>
        </div>

        <%= f.input :comment %>

        <h6><strong><%= t("event.which_cups") %></strong></h6>

        <div class="col-md-6">
          <%= f.input :cuptwenty %>
        </div>
        <div class="col-md-6">
          <%= f.input :cuplitre %>
        </div>

        <div class="col-md-6">
          <%= f.input :cuptwentyfive %>
        </div>
        <div class="col-md-6">
          <%= f.input :cupwine %>
        </div>

        <div class="col-md-6">
          <%= f.input :cupforty %>
        </div>
        <div class="col-md-6">
          <%= f.input :cupcava %>
        </div>

        <div class="col-md-6">
          <%= f.input :cupfifty %>
        </div>
        <div class="col-md-6">
          <%= f.input :cupshot %>
        </div>        

        <h6><strong><%= t("event.event_type") %></strong></h6>

        <div class="col-md-6">
          <%= f.input :party %>
        </div>
        <div class="col-md-6">
          <%= f.input :dinner %>
        </div>      

      

          <%= f.hidden_field :creator_id, :value => current_user.id %>

        <div class="form-actions">
          <%= f.button :submit %>
        </div>

      <% end %>

    </div>

      <div class="col-md-6">
      </div>

  </div>

  </div>

</div>