<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>

  
    <%= f.label :event_start_date %>
    <%= f.text_field :event_start_date, :class => "datepicker" %>
    <%= f.label :event_end_date %>
    <%= f.text_field :event_end_date, :class => "datepicker" %>

  
  

  <div class="form-inputs">
    <%= f.input :event_name %>
    <%= f.input :event_start_date %>
    <%= f.input :event_end_date %>
    <%= f.input :expected_pax %>
    <%= f.input :last_pax %>
    <%= f.input :post_code %>
    <%= f.input :city %>
    <%= f.input :country, only: [ "BE", "FR", "DE", "LU", "NL" ] %>
    <%= f.input :comment %>
    <%= f.input :cuptwenty %>
    <%= f.input :cuptwentyfive %>
    <%= f.input :cupforty %>
    <%= f.input :cupfifty %>
    <%= f.input :cuplitre %>
    <%= f.input :cupwine %>
    <%= f.input :cupcava %>
    <%= f.input :cupshot %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
