

  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

    <li class="list-group-item">
  
          <% if @event.creatorganizer == "true" %>

            <%= t("event.notorganizer") %>

      	    <%= f.hidden_field :organizer_id, :value => current_user.id %>

      	    <%= f.button :submit %>
      	

          <% else %>

            <%= t("event.notorganizer") %>

            <%= t("event.organizer") %>: <%= f.collection_select :organizer_id, User.all, :id, :full_name_with_company %>


            <%= f.button :submit %>
        

          <% end %>
     
  </li>
