

  <%= simple_form_for(@event) do |f| %>
    <%= f.error_notification %>

    
  
          <% if @event.creatorganizer == "true" %>

        <ul class="list-group">
          <li class="list-group-item">

            <%= t("event.notorganizer") %>

      	    <%= f.hidden_field :organizer_id, :value => current_user.id %>

      	    <%= f.button :submit %>

          </li>
      	

          <% else %>

            <li class="list-group-item">

              <%= t("event.notorganizer") %>

            </li>


            <li class="list-group-item">
              <div class="row">

                <div class="col-md-6">
                  <%= f.collection_select :organizer_id, User.all.order('name ASC'), :id, :full_name, {prompt: false}, {class: "form-control styled-select"} %>
                </div>
                <div class="col-md-6">
                  <%= f.submit t("menu.update"), class: "btn btn-info" %>
                </div>
             
              </div>
            </li>
        

          <% end %>
     
  
<% end %>
