<h2><%= t("event.edit") %></h2>

<% if @event.organizer_id.blank? %>

<%= render 'organizerform' %>

<% else %>

<%= render 'editform' %>

<% end %>

<%= link_to t("menu.show"), @event, class: "btn btn-default" %>
<%= link_to t("menu.back"), events_path, class: "btn btn-default" %>
