<div class="container-fluid more-padding">



  <%= link_to new_event_path do %>
    <%= content_tag(:i, t("event.new_event"), class: "fa fa-plus-circle btn btn-lg btn-block btn-info") %> 
  <% end %>

</div>

<div class="container-fluid more-padding">

    <% if current_user.admin %>

      <ul class="list-group more-padding">
       
        <li class="list-group-item list-group-item-default"><h4><strong>
          <%= t("event.listing_events") %></strong></h4>
        </li>

        <li class="list-group-item">
          <div class="row">
      
            <% @events.each do |event| %>

              <div class="col-xs-6 col-md-6">
                <%= link_to event.event_name, event_path(event), class: "btn btn-lg btn-default btn-block" %> 
              </div>
            <% end %>
          </div>
        </li>
      </ul>

    <% elsif current_user.client %>

      <ul class="list-group">
     
        <li class="list-group-item list-group-item-default">
          <h4><strong>
            <%= t("event.your_events") %>
          </strong></h4>
        </li>
    
        <% if @myevents.present? %>
          
          <li class="list-group-item">
            <div class="row">
              <% @myevents.each do |event| %>
          
                <div class="col-xs-6 col-md-6">
                  <%= link_to event.event_name, event_path(event), class: "btn btn-lg btn-default btn-block" %> 
                </div>

              <% end %>
            </div>
      
          <% else %>
        
          <li class="list-group-item list-group-item-default">
            <h4><strong>
              <%= t("event.no_event_yet") %></h4></strong>
  
              <%= link_to t("event.new_event"), new_event_path, class: "btn btn-success" %>
          </li>
        </ul>
    <% end %>

  <% end %>
</div> <!-- /#container-fluid -->

