<h1><%= t("event.listing_events") %></h1>

  <% if current_user.admin %>

    <% @events.each do |event| %>
                          
      <%= event.event_name %>
      <%= event.creator_id %>
      <%= event.creator.name if event.creator %>
      <%= event.event_start_date %>
      <%= event.event_end_date %>
      <%= event.expected_pax %>
      <%= link_to 'Show', event %>
      <%= link_to 'Edit', edit_event_path(event) %>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %><br>
            
    <% end %>


  <% elsif current_user.client %>

    <% @myevents.each do |event| %>

      <%= event.event_name %>
      <%= event.creator_id %>
      <%= link_to 'Show', event %>
      <%= link_to 'Edit', edit_event_path(event) %><br>

    <% end %>

  <% end %>

  


<%= link_to 'New Event', new_event_path %>
