<p id="notice"><%= notice %></p>

<p>
  <strong>Event name:</strong>
  <%= @event.event_name %>
</p>

<p>
  <strong>Event start date:</strong>
  <%= @event.event_start_date %>
</p>

<p>
  <strong>Event end date:</strong>
  <%= @event.event_end_date %>
</p>

<p>
  <strong>Expected pax:</strong>
  <%= @event.expected_pax %>
</p>

<p>
  <strong>Last pax:</strong>
  <%= @event.last_pax %>
</p>

<p>
  <strong>Post code:</strong>
  <%= @event.post_code %>
</p>

<p>
  <strong>City:</strong>
  <%= @event.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @event.country %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @event.comment %>
</p>

<p>
  <strong>Cuptwenty:</strong>
  <%= @event.cuptwenty %>
</p>

<p>
  <strong>Cuptwentyfive:</strong>
  <%= @event.cuptwentyfive %>
</p>

<p>
  <strong>Cupforty:</strong>
  <%= @event.cupforty %>
</p>

<p>
  <strong>Cupfifty:</strong>
  <%= @event.cupfifty %>
</p>

<p>
  <strong>Cuplitre:</strong>
  <%= @event.cuplitre %>
</p>

<p>
  <strong>Cupwine:</strong>
  <%= @event.cupwine %>
</p>

<p>
  <strong>Cupcava:</strong>
  <%= @event.cupcava %>
</p>

<p>
  <strong>Cupshot:</strong>
  <%= @event.cupshot %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
