<div class="container-fluid">
  
  <br>


    <ul class="list-group">
      <li class="list-group-item list-group-item-warning"><h5><strong><%= t("event.your_event") %> - Ref. <%= @event.created_at.strftime("%Y") %>-<%= @event.id %></strong></h5>

          <% if current_user.admin %>
            <%= simple_form_for(@new_offer) do |f| %>
              <%= f.error_notification %>
              <%= f.hidden_field :event_id, :value => @event.id %>
              <%= f.hidden_field :organizer_id, :value => @event.organizer_id %>
              <%= f.hidden_field :client_confirmation, :value => false %>
              <%= f.submit t("offer.create"), class: "btn btn-success" %>
            <% end %>
          <% end %>
      </li>


        <% @thiseventoffers.each do |thiseventoffer| %>

          <li class="list-group-item list-group-item-info">
            <strong>
              <%= t("offer.reference") %><%= thiseventoffer.id %>
              <%= link_to offer_path(thiseventoffer) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %>
            </strong>
          </li>
          
        <% end %>


      <li class="list-group-item list-group-item-success">
        <h6><strong>
          <%= t("event.general_info") %>
        </strong></h6>
      </li>

      <li class="list-group-item">
        <div class="row">

          <div class="col-md-6">
            <strong><%= t("event.event_name") %> : </strong>
            <%= @event.event_name %>
          </div>

          <div class="col-md-6">
            <strong><%= t("event.creator_name") %> </strong>
              <%= @creator.full_name if @event.creator %>
            <strong> <%= t("word.on_the") %> </strong>
              <%= @event.created_at.strftime("%d/%m/%Y") %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <strong><%= t("event.organizer_name") %> </strong>
        <%= @organizer.full_name if @event.organizer %>
      </li>

      <li class="list-group-item">
        <div class="row">

          <div class="col-md-6">
            <strong><%= t("event.event_start_date") %> : </strong>
            <%= @event.event_start_date %>
          </div>
          <div class="col-md-6">
            <strong><%= t("event.event_end_date") %> : </strong>
            <%= @event.event_end_date %>
          </div>
      </li>

      <li class="list-group-item">
        <div class="row text-center">

          <div class="col-md-4">
            <strong><%= t("event.expected_pax") %></strong><br>
            <%= @event.expected_pax %>
          </div>
          <div class="col-md-4">
            <strong><%= t("event.last_pax") %></strong><br>
            <%= @event.last_pax %>
          </div>
          <div class="col-md-4">
            <strong><%= t("event.last_consumption") %></strong><br>
            <%= @event.last_consumption %>
          </div>
      </li>

      <% if @event.comment.present? %>
        <li class="list-group-item list-group-item-success"><strong><%= t("event.comment") %></strong></li>
        <li class="list-group-item"><%= @event.comment %></li>
      <% end %>

      <li class="list-group-item list-group-item-success">
        <h6><strong>
          <%= t("event.delivery_info") %>
        </strong></h6>
      </li>

      <li class="list-group-item">
        <div class="row">

          <div class="col-md-6">
                <% if @event.address.present? %>
                <%= @event.address %>  
                <% end %>
              <%= @event.post_code %> <%= @event.city %>, <%= @event.country %>
          </div>

          <div class="col-md-3">
            <%= @event.contact %> 
          </div>

          <div class="col-md-3">
            <%= @event.phone %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">

          <div class="col-md-6">
            <% if @event.delivery_date.present? %>
              <strong><%= t("event.delivery_date") %> : </strong>
              <%= @event.delivery_date %>
            <% end %>
          </div>

          <div class="col-md-6">
            <strong><%= t("event.return_date") %> : </strong>
              <%= @event.return_date %>
          </div>
        </div>
      </li>


      <li class="list-group-item list-group-item-success"><h6><strong><%= t("event.selected_cups") %></strong></h6></li>

      <% if @event.cuptwenty %>
        <li class="list-group-item"><%= t("event.cuptwenty") %></li>
      <% end %>
      <% if @event.cuptwentyfive %>
        <li class="list-group-item"><%= t("event.cuptwentyfive") %></li>
      <% end %>
      <% if @event.cupforty %>
        <li class="list-group-item"><%= t("event.cupforty") %></li>
      <% end %>
      <% if @event.cupfifty %>
        <li class="list-group-item"><%= t("event.cupfifty") %></li>
      <% end %>
      <% if @event.cuplitre %>
        <li class="list-group-item"><%= t("event.cuplitre") %></li>
      <% end %>
      <% if @event.cupwine %>
        <li class="list-group-item"><%= t("event.cupwine") %></li>
      <% end %>
      <% if @event.cupcava %>
        <li class="list-group-item"><%= t("event.cupcava") %></li>
      <% end %>
      <% if @event.cupshot %>
       <li class="list-group-item"><%= t("event.cupshot") %></li>
      <% end %>

        <li class="list-group-item list-group-item-success"><h6><strong><%= t("event.event_type2") %></strong></h6></li>

      <% if @event.party %>
        <li class="list-group-item"><%= t("event.party") %></li>
      <% end %>

      <% if @event.dinner %>
        <li class="list-group-item"><%= t("event.dinner") %></li>
      <% end %>
      
    </ul>

  
<%= link_to t("menu.edit"), edit_event_path(@event), class: "btn btn-success" %>
<%= link_to t("menu.back"), events_path, class: "btn btn-warning" %>


  

</div>
      
           
            
          