  <div class="row">
    <ul class="list-group">
            <li class="list-group-item list-group-item-warning ">
              <h4><%= t("sorting.finished") %></h4>
            </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">    
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_today") %></h4>
          </li>
        
            <% @finished.ended_this_day.each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><br>


                   <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %><br>
                  <%= t("sorting.finished2") %><%= sorting.end_time.strftime("%H:%M") %> 
                </strong>

                <%= simple_form_for @new_sorting do |f| %>
                <%= f.error_notification %>

                  <%= f.hidden_field :offer_id, :value => sorting.offer_id %>
                  <%= f.hidden_field :start_time, :value => Time.now %>
                  <%= f.hidden_field :starter, :value => current_user.id %>
                <%= f.submit t("sorting.new"), class: "btn btn-info" %>

                <% end %>

                </li>
            <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_yesterday") %></h4>
          </li>

            <% @finished.ended_previous_day.each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><br>



                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %><br>
                  <%= t("sorting.finished2") %><%= sorting.end_time.strftime("%H:%M") %>   
                </strong>

                <%= simple_form_for @new_sorting do |f| %>
                <%= f.error_notification %>

                  <%= f.hidden_field :offer_id, :value => sorting.offer_id %>
                  <%= f.hidden_field :start_time, :value => Time.now %>
                  <%= f.hidden_field :starter, :value => current_user.id %>
                <%= f.submit t("sorting.new"), class: "btn btn-info" %>

                <% end %>

                </li>
            <% end %>       
        </ul>
      </div>
      
    </div>  

        
    <div class="col-md-6">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_two_days") %></h4>
          </li>
        
            <% @finished.ended_two_days_ago.each do |sorting| %>

                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><br>



                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %><br>
                  <%= t("sorting.finished2") %><%= sorting.end_time.strftime("%H:%M") %>   
                </strong>

                <%= simple_form_for @new_sorting do |f| %>
                <%= f.error_notification %>

                  <%= f.hidden_field :offer_id, :value => sorting.offer_id %>
                  <%= f.hidden_field :start_time, :value => Time.now %>
                  <%= f.hidden_field :starter, :value => current_user.id %>
                <%= f.submit t("sorting.new"), class: "btn btn-info" %>

                <% end %>

                </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_three_days") %></h4>
          </li>

            <% @finished.ended_three_days_ago.each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>
                    
                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><br>

                                    
                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %><br>
                  <%= t("sorting.finished2") %><%= sorting.end_time.strftime("%H:%M") %>   
                </strong>

                <%= simple_form_for @new_sorting do |f| %>
                <%= f.error_notification %>

                  <%= f.hidden_field :offer_id, :value => sorting.offer_id %>
                  <%= f.hidden_field :start_time, :value => Time.now %>
                  <%= f.hidden_field :starter, :value => current_user.id %>
                <%= f.submit t("sorting.new"), class: "btn btn-info" %>

                <% end %>
                
                </li>
            <% end %>       
        </ul>
      </div>
    </div>
  </div>