  <div class="row">
    <ul class="list-group">
            <li class="list-group-item list-group-item-warning ">
              <h4><%= t("sorting.to_start") %></h4>
            </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">    
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_today") %></h4>
          </li>
        
            <% @to_start.this_day.each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>

                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>
                  


	                  <% if sorting.offer.washes.where.not(:start_time => nil).count == 0 %>
	                  	<%= t("wash.no_wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count == 1 %>
	                  	<%= sorting.offer.washes.where.not(:start_time => nil).count %>
	                  	<%= t("wash.wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count >= 2 %>
											<%= sorting.offer.washes.where.not(:start_time => nil).count %>
											<%= t("menu.washes") %>
	                  <% end %>

                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :start_time, :value => Time.now %>
                    <%= f.hidden_field :starter, :value => current_user.id %>

                  <%= f.submit t("sorting.go_short"), class: "btn btn-info" %>

                  <% end %>

                </li>
            <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_yesterday") %></h4>
          </li>

            <% @to_start.previous_day.each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>



	                  <% if sorting.offer.washes.where.not(:start_time => nil).count == 0 %>
	                  	<%= t("wash.no_wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count == 1 %>
	                  	<%= sorting.offer.washes.where.not(:start_time => nil).count %>
	                  	<%= t("wash.wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count >= 2 %>
											<%= sorting.offer.washes.where.not(:start_time => nil).count %>
											<%= t("menu.washes") %>
	                  <% end %>

                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :start_time, :value => Time.now %>
                    <%= f.hidden_field :starter, :value => current_user.id %>

                  <%= f.submit t("sorting.go_short"), class: "btn btn-info" %>

                  <% end %>

                </li>
            <% end %>       
        </ul>
      </div>
      
    </div>  

        
    <div class="col-md-6">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_two_days") %></h4>
          </li>
        
            <% @to_start.two_days_ago.each do |sorting| %>

                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>

	                  <% if sorting.offer.washes.where.not(:start_time => nil).count == 0 %>
	                  	<%= t("wash.no_wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count == 1 %>
	                  	<%= sorting.offer.washes.where.not(:start_time => nil).count %>
	                  	<%= t("wash.wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count >= 2 %>
											<%= sorting.offer.washes.where.not(:start_time => nil).count %>
											<%= t("menu.washes") %>
	                  <% end %>
	                  
                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :start_time, :value => Time.now %>
                    <%= f.hidden_field :starter, :value => current_user.id %>

                  <%= f.submit t("sorting.go_short"), class: "btn btn-info" %>

                  <% end %>

                </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_three_days") %></h4>
          </li>

            <% @to_start.three_days_ago.each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>
                    
                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>
                  


	                  <% if sorting.offer.washes.where.not(:start_time => nil).count == 0 %>
	                  	<%= t("wash.no_wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count == 1 %>
	                  	<%= sorting.offer.washes.where.not(:start_time => nil).count %>
	                  	<%= t("wash.wash") %>
	                  <% elsif sorting.offer.washes.where.not(:start_time => nil).count >= 2 %>
											<%= sorting.offer.washes.where.not(:start_time => nil).count %>
											<%= t("menu.washes") %>
	                  <% end %>
	                  
                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :start_time, :value => Time.now %>
                    <%= f.hidden_field :starter, :value => current_user.id %>

                  <%= f.submit t("sorting.go_short"), class: "btn btn-info" %>

                  <% end %>
                  
                </li>
            <% end %>       
        </ul>
      </div>
    </div>
  </div>