  <div class="row">
    <ul class="list-group">
            <li class="list-group-item list-group-item-warning ">
              <h4><%= t("sorting.started") %></h4>
            </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-6">    
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_today") %></h4>
          </li>
        
            <% @started.started_this_day.find_each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>

                  <% if sorting.offer.delivery %>
                    <%= sorting.offer.delivery.total_boxes %> <%= t("menu.boxes") %><br>
                  <% end %>

                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %> 
                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :end_time, :value => Time.now %>
                    <%= f.hidden_field :ender, :value => current_user.id %>

                  <%= f.submit t("sorting.stop_short"), class: "btn btn-info" %>

                  <% end %>

                </li>
            <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_yesterday") %></h4>
          </li>

            <% @started.started_previous_day.find_each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>

                  <% if sorting.offer.delivery %>
                    <%= sorting.offer.delivery.total_boxes %> <%= t("menu.boxes") %><br>
                  <% end %>                  
                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %>
                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :end_time, :value => Time.now %>
                    <%= f.hidden_field :ender, :value => current_user.id %>

                  <%= f.submit t("sorting.stop_short"), class: "btn btn-info" %>

                  <% end %>

                </li>
            <% end %>       
        </ul>
      </div>
      
    </div>  

        
    <div class="col-md-6">
      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("delivery.gone_two_days") %></h4>
          </li>
        
            <% @started.started_two_days_ago.find_each do |sorting| %>

                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>

                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>

                  <% if sorting.offer.delivery %>
                    <%= sorting.offer.delivery.total_boxes %> <%= t("menu.boxes") %><br>
                  <% end %>                  
                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %>
                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :end_time, :value => Time.now %>
                    <%= f.hidden_field :ender, :value => current_user.id %>

                  <%= f.submit t("sorting.stop_short"), class: "btn btn-info" %>

                  <% end %>

                </li>
          <% end %>
        </ul>
      </div>

      <div class="col-md-6">
        <ul class="list-group">
          <li class="list-group-item text-center">
            <h4><%= t("return.back_fifteen_days_ago") %></h4>
          </li>

            <% @started.started_fifteen_days_ago.find_each do |sorting| %>


                <li class="list-group-item text-center">
          
                <strong>
                  <%= sorting.offer.event.event_name %><br>
                    <% if sorting.offer.organizer.is_lln %>
                      <%= sorting.offer.organizer.name %><br>
                    <% end %>
                    
                    <%= link_to sorting_path(sorting) do %>
                      <%= content_tag(:i, "", class: "fa fa-glass fa-3x") %>
                    <% end %>
                  
                  <br>
                  <%= t("sorting.back") %><%= sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") %><%= t("word.at") %><%= sorting.offer.return_boxes.first.return_time.strftime("%H:%M") %><br>

                  <% if sorting.offer.delivery %>
                    <%= sorting.offer.delivery.total_boxes %> <%= t("menu.boxes") %><br>
                  <% end %>                  
                  <%= t("sorting.started2") %><%= sorting.start_time.strftime("%H:%M") %>
                </strong>

                  <%= simple_form_for sorting do |f| %>
                  <%= f.error_notification %>

                    <%= f.hidden_field :end_time, :value => Time.now %>
                    <%= f.hidden_field :ender, :value => current_user.id %>

                  <%= f.submit t("sorting.stop_short"), class: "btn btn-info" %>

                  <% end %>
                  
                </li>
            <% end %>       
        </ul>
      </div>
    </div>
  </div>