<ul class="list-group">


  <li class="list-group-item list-group-item-warning">
    <b>Tous les articles</b>
  </li>



  <li class="list-group-item">

    <div class="row text-center">
      <div class="col-md-3">

        <div class="row">
          <div class="col-md-6">
            <b><%= t("menu.articles") %></b>
          </div>
          <div class="col-md-3">
            <% if @sorting.offer.lln_daily %>
            <% else %>
              <b><%= t("sorting.sent_cups") %></b>
            <% end %>
          </div>
          <div class="col-md-3">

              <b><%= t("return.received_boxes") %></b>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-2">
            <b><%= t("sorting.clean_return") %></b>   
          </div> 
          <div class="col-md-2">
            <b><%= t("sorting.clean") %></b>
          </div>
          <div class="col-md-2">
            <b><%= t("sorting.very_dirty") %></b>  
          </div>
          <div class="col-md-2">
            <b><%= t("sorting.broken") %></b>
          </div>

          <div class="col-md-2">
            <b><%= t("sorting.handling") %></b>
          </div>

          <div class="col-md-2">
           <b><%= t("sorting.missing") %></b>
          </div>

        </div>
      </div>
    </div>

  </li>

  <% Article.all.each do |article| %>


    <% if @sorting.total_sorting(article) >= 1 %>

        <li class="list-group-item">
          <div class="row text-center">
            <div class="col-md-3">

              <div class="row">
                <div class="col-md-6">
                  <%= article.full_name %><br>
                  
                </div>
                <div class="col-md-3">
                  <% unless @sorting.offer.lln_daily %>
                    <%= @sorting.offer.sent_article(article) %>
                  <% end %>
                </div>

                <div class="col-md-3">
                    <%= @sorting.dirty_box_return(article) %>
                </div>
              </div>
            </div>

            <div class="col-md-9">
              <div class="row">
                <div class="col-md-2">
                  <%= @sorting.clean_article_return(article) %><br>
                </div>                
                <div class="col-md-2">
                  <%= @sorting.global_clean_sum(article) %>
                </div>
                <div class="col-md-2">
                  <%= @sorting.global_very_dirty_sum(article) %>
                </div>
                <div class="col-md-2">
                  <%= @sorting.global_broken_sum(article) %>
                </div>

                <div class="col-md-2">
                  <%= @sorting.global_handling_sum(article) %>
                </div>

                <div class="col-md-2">
                  <% unless @sorting.offer.lln_daily %>
                    <%= @sorting.missing(article) %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </li>

    <% end %>
  <% end %>
</ul>


