<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <div class="row">
      <div class="col-md-6">
  	<h5><strong>
  		<%= @sorting.offer.event.event_name %> - Ref. <%= @sorting.offer.event.created_at.strftime("%Y") %>-<%= @sorting.offer.event.id %>
  	</strong></h5>
      </div>
      <div class="col-md-3">

      <% if @sorting.start_time == nil %>

        <%= simple_form_for @sorting do |f| %>
        <%= f.error_notification %>

          <%= f.hidden_field :start_time, :value => Time.now %>
          <%= f.hidden_field :starter, :value => current_user.id %>

        <%= f.submit t("sorting.go"), class: "btn btn-info pull-right" %>

        <% end %>
      <% end %>
      </div>

      <div class="col-md-3">

        <% if @sorting.start_time.present? && @sorting.end_time == nil %>

          <%= simple_form_for @sorting do |f| %>
          <%= f.error_notification %>

            <%= f.hidden_field :end_time, :value => Time.now %>
            <%= f.hidden_field :ender, :value => current_user.id %>

          <%= f.submit t("sorting.stop"), class: "btn btn-info pull-right" %>

          <% end %>

        <% end %>

        <% if @sorting.start_time.present? && @sorting.end_time.present? %>

          <%= simple_form_for @new_sorting do |f| %>
          <%= f.error_notification %>

            <%= f.hidden_field :offer_id, :value => @sorting.offer_id %>
            <%= f.hidden_field :start_time, :value => Time.now %>
            <%= f.hidden_field :starter, :value => current_user.id %>
          <%= f.submit t("sorting.new"), class: "btn btn-info pull-right" %>

          <% end %>

        <% end %>


      </div>

  </li>

  <li class="list-group-item">
  	<div class="row text-center">

  		<div class="col-md-4">
        <strong><%= t("sorting.delivery") %></strong><br>
        <% if @sorting.offer.delivery %>    
				<%= @sorting.offer.delivery.gone_time.strftime("%d/%m/%Y") if @sorting.offer.delivery.gone_time.present? %>
        <% end %>
  		</div>

  		<div class="col-md-4">
        <strong><%= t("sorting.return") %></strong><br>  
				<%= @sorting.offer.return_boxes.first.return_time.strftime("%d/%m/%Y") if @sorting.offer.return_boxes.first.return_time.present? %>
  		</div>

  		<div class="col-md-4">
        <strong><%= t("sorting.wash") %></strong><br>
				<%= @sorting.offer.washes.last.start_time.strftime("%d/%m/%Y") if @sorting.offer.washes.last.start_time %>
  		</div>

  	</div>

  </li>

  <li class="list-group-item">
    <div class="row text-center">

      <div class="col-md-3">
        <strong><%= t("sorting.start") %></strong><br>    
        <%= @sorting.start_time.strftime("%d/%m/%Y") if @sorting.start_time %><br> 
        <%= @sorting.start_time.strftime("%H:%M") if @sorting.start_time %>
      </div>

      <div class="col-md-3">
        <strong><%= t("sorting.starter") %></strong><br>  
        <%= User.where(:id => @sorting.starter).last.full_name if @sorting.starter %>
      </div>

      <div class="col-md-3">
        <strong><%= t("sorting.end") %></strong><br>
        <%= @sorting.end_time.strftime("%d/%m/%Y") if @sorting.end_time %><br> 
        <%= @sorting.end_time.strftime("%H:%M") if @sorting.end_time %>
      </div>

      <div class="col-md-3">
        <strong><%= t("sorting.ender") %></strong><br>
        <%= User.where(:id => @sorting.ender).last.full_name if @sorting.ender %>
      </div>

    </div>

  </li>

</ul>
