<ul class="list-group">


  <li class="list-group-item list-group-item-warning">
    <strong>Tous les articles</strong>
  </li>



  <li class="list-group-item">

    <div class="row text-center">
      <div class="col-md-3">

        <div class="row">
          <div class="col-md-6">
            <strong><%= t("menu.articles") %></strong>
          </div>
          <div class="col-md-6">
            <% if @sorting.return_box.delivery.offer.lln_daily %>
            <% else %>
              <strong><%= t("sorting.sent_cups") %></strong>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-9">
        <div class="row">
          <div class="col-md-2">
            <strong><%= t("sorting.clean_return") %></strong>   
          </div> 
          <div class="col-md-2">
            <strong><%= t("sorting.clean") %></strong>
          </div>
          <div class="col-md-2">
            <strong><%= t("sorting.very_dirty") %></strong>  
          </div>
          <div class="col-md-2">
            <strong><%= t("sorting.broken") %></strong>
          </div>

          <div class="col-md-2">
            <strong><%= t("sorting.handling") %></strong>
          </div>

          <div class="col-md-2">
           <strong><%= t("sorting.missing") %></strong>
          </div>

        </div>
      </div>
    </div>

  </li>

  <% Article.all.each do |article| %>

    <% if @sorting.total_sorting(article) >= 1 %>

        <li class="list-group-item">
          <div class="row text-center">
            <div class="col-md-3">

              <div class="row">
                <div class="col-md-6">
                  <%= article.full_name %>

                  
                </div>
                <div class="col-md-6">
                  <% unless @sorting.return_box.delivery.offer.lln_daily %>
                    <%= @sorting.return_box.delivery.offer.sent_article(article) %>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="col-md-9">
              <div class="row">
                <div class="col-md-2">
                  <%= @sorting.clean_article_return(article) %>
                </div>                
                <div class="col-md-2">
                  <%= @sorting.global_clean_sum(article) %>
                </div>
                <div class="col-md-2">
                  <%= @sorting.global_very_dirty_sum(article) %>
                </div>
                <div class="col-md-2">
                  <%= @sorting.global_broken_sum(article) %>
                </div>

                <div class="col-md-2">
                  <%= @sorting.global_handling_sum(article) %>
                </div>

                <div class="col-md-2">
                  <% unless @sorting.return_box.delivery.offer.lln_daily %>
                    <%= @sorting.missing(article) %>
                  <% end %>
                </div>

              </div>
            </div>
          </div>
        </li>

    <% end %>
  <% end %>
</ul>