<p id="notice"><%= notice %></p>

<h1>Listing Sortings</h1>

<table>
  <thead>
    <tr>
      <th>Return box</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Starter</th>
      <th>Ender</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sortings.each do |sorting| %>
      <tr>
        <td><%= sorting.return_box_id %></td>
        <td><%= sorting.start_time %></td>
        <td><%= sorting.end_time %></td>
        <td><%= sorting.starter %></td>
        <td><%= sorting.ender %></td>
        <td><%= link_to 'Show', sorting %></td>
        <td><%= link_to 'Edit', edit_sorting_path(sorting) %></td>
        <td><%= link_to 'Destroy', sorting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sorting', new_sorting_path %>
