


<% if @sorting.return_box.washes.where.not(:start_time => nil).count == 0 %>

  <h4><%= t("wash.no_wash") %></h4>

<% else %>

	<%= render 'show_general_info' %>

	<hr>

	<% if @sorting.start_time.present? %>

	<%= render 'show_clean' %>
	<%= render 'show_broken' %>
	<%= render 'show_very_dirty' %>
	<%= render 'show_handling' %>
	
	<% end %>
	<hr>
	<%= render 'show_summary' %>






<% end %>
