<%= simple_form_for(@negociated_price) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.collection_select :article_id, Article.all.order('article_name ASC'), :id, :full_name, {prompt: false}, {class: "form-control styled-select"} %><br>
    <%= f.collection_select :client_id, @clients, :id, :full_name_with_company, {prompt: false}, {class: "form-control styled-select"} %><br>
    <%= f.input :washing_price %>
    <%= f.input :handwash_price %>
    <%= f.input :tab_price %>
    <%= f.input :deposit_price %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
