<p id="notice"><%= notice %></p>

<h1>Listing Negociated Prices</h1>

<table>
  <thead>
    <tr>
      <th>Article</th>
      <th>Client name</th>
      <th>company Name</th>

      <th>Washing price</th>
      <th>Handwash price</th>
      <th>Tab price</th>
      <th>Deposit price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @negociated_prices.each do |negociated_price| %>
      <tr>
        <td><%= negociated_price.article.full_name %></td>
        <td><%= negociated_price.client.full_name %></td>
        <td><%= negociated_price.client.company_name %></td>
        <td><%= negociated_price.washing_price %></td>
        <td><%= negociated_price.handwash_price %></td>
        <td><%= negociated_price.tab_price %></td>
        <td><%= negociated_price.deposit_price %></td>
        <td><%= link_to 'Show', negociated_price %></td>
        <td><%= link_to 'Edit', edit_negociated_price_path(negociated_price) %></td>
        <td><%= link_to 'Destroy', negociated_price, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<% @contracted.each do |contracted| %>
  <%= contracted.full_name %><br>
  <%= contracted.negociated_price %>

<% end %><br>



<%= link_to 'New Negociated price', new_negociated_price_path %>
