<div class="col-md-6">

	<ul div class="list-group">

		<% User.staff.each do |user| %>

		<% if user.attendances.last_week.any? %>

			<li class="list-group-item list-group-item-info">
				<strong><%= user.full_name %></strong>
			</li>

				<% if user.attendances.last_monday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Lundi <%= 6.days.ago.beginning_of_week.strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_monday.first.display_last_monday_duration %>
							</div>
						</div>

					</li>

				<% end %>

				<% if user.attendances.last_tuesday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Mardi <%= (6.days.ago.beginning_of_week + 1.day).strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_tuesday.first.display_last_tuesday_duration %>
							</div>
						</div>
					</li>

				<% end %>

				<% if user.attendances.last_wednesday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Mercredi <%= (6.days.ago.beginning_of_week + 2.days).strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_wednesday.first.display_last_wednesday_duration %>
							</div>
						</div>
					</li>
				<% end %>

				<% if user.attendances.last_thursday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Jeudi <%= (6.days.ago.beginning_of_week + 3.days).strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_thursday.first.display_last_thursday_duration %>
							</div>
						</div>
					</li>
				<% end %>

				<% if user.attendances.last_friday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Vendredi <%= (6.days.ago.beginning_of_week + 4.days).strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_friday.first.display_last_friday_duration %>
							</div>
						</div>
					</li>
				<% end %>

				<% if user.attendances.last_saturday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Samedi <%= (6.days.ago.beginning_of_week + 5.days).strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_saturday.first.display_last_saturday_duration %>
							</div>
						</div>
					</li>
				<% end %>

				<% if user.attendances.last_sunday.any? %>

					<li class="list-group-item">
						<div class="row">
							<div class="col-md-6">
								Dimanche <%= (6.days.ago.beginning_of_week + 6.days).strftime("%d/%m/%Y") %>
							</div>
							<div class="col-md-6 text-center">
								<%= user.attendances.last_sunday.first.display_last_sunday_duration %>
							</div>
						</div>
					</li>
				<% end %>

				<% if user.attendances.last_week.any? %>

					<li class="list-group-item">
						<div class="row">
							<strong>
								<div class="col-md-6">
									Total
								</div>
								<div class="col-md-6 text-center">
									<%= user.attendances.last_week.first.display_last_week_duration %>
								</div>
							</strong>
						</div>
					</li>
				<% end %>

		<% end %>
		<% end %>

	</ul>
</div>
<div class="col-md-6">
	<div class="more-padding">
		<%= link_to t("attendance.see"), attendances_path, class: "btn btn-lg btn-block btn-default" %><br>
		<%= link_to t("reporting.interim"), reporting_interim_path, class: "btn btn-lg btn-block btn-default" %>
	</div>

<ul div class="list-group">
	<li class="list-group-item">

		<div class="row">
			<strong>
				<div class="col-md-3">
					Nom
				</div>
				<div class="col-md-3">
					Presté
				</div>
				<div class="col-md-3">
					A prester
				</div>
				<div class="col-md-3">
					Différence
				</div>
			</strong>

		</div>

		<% User.fixed.each do |user| %>

		<li class="list-group-item">
			<div class="row">
				<div class="col-md-3">
					<%= user.full_name %>
				</div>
				<div class="col-md-3">
					<%= user.display_year_duration %>
				</div>
				<div class="col-md-3">
					<%= user.display_year_attendance %>
				</div>
				<div class="col-md-3">
					<%= user.display_year_difference %>
				</div>
			</div>
		</li>

		<% end %>
</div>