<% if current_user.admin %>

	<%= link_to "", reporting_interim_pdf_path(format: 'pdf'), :class => "btn btn-default btn-lg btn-block generate" %>

	<div class="address-block">
		<h4>Rekwup</h4>
		<small><p>41/1 rue de La Croix Limont<br>5590, Ciney, Belgique<br>
		Tel: +32 487 69 83 73<br>
		e-mail: jgpahaut@rekwup.be<br>
		TVA: BE 0544.576.806</p></small>

	</div>

	<div>
		<h4><strong>
		Semaine <%= (Date.today - 6.days).strftime("%Y") %> - <%= (Date.today - 6.days).strftime("%W") %></h4></strong>
	</div>

	<div class="doc-date">
	  Ciney, le <%= Date.today.strftime("%d/%m/%Y") %>
	</div>

	<table>

		<tr>
			<th>Date</th>
			<th>Heures prestées</th>
		</tr>

		<% User.interim.each do |user| %>

			<% if user.attendances.last_week.any? %>
				<tr>
					<td><strong><%= user.full_name %></strong></td>
				</tr>
			<% end %>

			<% if user.attendances.last_monday.any? %>

				<tr>
				<td>Lundi <%= 6.days.ago.beginning_of_week.strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_monday.first.display_last_monday_duration %></td>
				</tr>

			<% end %>

			<% if user.attendances.last_tuesday.any? %>

				<tr>
				<td>Mardi <%= (6.days.ago.beginning_of_week + 1.day).strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_tuesday.first.display_last_tuesday_duration %></td>
				</tr>

			<% end %>

			<% if user.attendances.last_wednesday.any? %>

				<tr>
				<td>Mercredi <%= (6.days.ago.beginning_of_week + 2.days).strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_wednesday.first.display_last_wednesday_duration %></td>
				</tr>

			<% end %>

			<% if user.attendances.last_thursday.any? %>

				<tr>
				<td>Jeudi <%= (6.days.ago.beginning_of_week + 3.days).strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_thursday.first.display_last_thursday_duration %></td>
				</tr>

			<% end %>

			<% if user.attendances.last_friday.any? %>

				<tr>
				<td>Vendredi <%= (6.days.ago.beginning_of_week + 4.days).strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_friday.first.display_last_friday_duration %></td>
				</tr>

			<% end %>

			<% if user.attendances.last_saturday.any? %>

				<tr>
				<td>Samedi <%= (6.days.ago.beginning_of_week + 5.days).strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_saturday.first.display_last_saturday_duration %></td>
				</tr>

			<% end %>

			<% if user.attendances.last_sunday.any? %>

				<tr>
				<td>Dimanche <%= (6.days.ago.beginning_of_week + 6.days).strftime("%d/%m/%Y") %></td>
				<td><%= user.attendances.last_sunday.first.display_last_sunday_duration %></td>
				</tr>

			<% end %>			

			<% if user.attendances.last_week.any? %>

				<tr>
				<td><strong>Total</strong></td>
				<td><strong><%= user.attendances.last_week.first.display_last_week_duration %></strong></td>
				</tr>

			<% end %>	

		<% end %>
	</table>		

<% end %>