<%= simple_form_for(@price) do |f| %>
  <%= f.error_notification %>


<ul class="list-group">
  <li class="list-group-item">
    <%= f.label :article_id %>
    <%= f.collection_select :article_id, Article.all.order('article_name ASC'), :id, :full_name, {prompt: false}, {class: "form-control styled-select"} %> 
  </li>

  <li class="list-group-item">
    <div class="row">

      <div class="col-md-6">
        <%= @price.user.full_name %>
      </div>

      <div class="col-md-2">
        <%= f.input :regular %>
      </div>

      <div class="col-md-2">
        <%= f.input :negociated %>
      </div>

    </div>
  </li>

  <li class="list-group-item">
              
    <div class="row text-center">

      <div class="col-md-2">
        <%= f.input :washing %>
      </div>
      <div class="col-md-2">
        <%= f.input :washing_small %>
      </div>
      <div class="col-md-2">
        <%= f.input :handwash %>
      </div>

      <div class="col-md-2">
        <%= f.input :handling %>
      </div>

      <div class="col-md-2">
        <%= f.input :deposit %>
      </div>

      <div class="col-md-2">
        <%= f.input :sell %>
      </div>


    </div>
  </li>
  <li class="list-group-item">
    <div class="row">

      <div class="col-md-6">
        <%= f.label :valid_from %>
        <%= f.text_field :valid_from, class: "datepicker" %>
      </div>

      <div class="col-md-6">
        <%= f.label :valid_till %>
        <%= f.text_field :valid_till, class: "datepicker" %>
      </div>

    </div>                  
  </li>
</ul>

    <div class="row">
      <div class="col-md-6">
        <%= link_to t("menu.back"), prices_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <%= f.button :submit, class: "btn btn-lg btn-block btn-info" %>
      </div>
    </div>
<% end %>