					<ul class="list-group">
					  <li class="list-group-item">
					    <div class="row text-center">
					      <strong>

					        <div class="col-md-4">
					          <%= t("offer_article.article_name") %>
					        </div>

					        <div class="col-md-4">
					            <%= t("offer_article.quantity") %>  
					        </div>

					        <div class="col-md-4">
					            <%= t("article.sell_price") %>
					        </div>
					      
					    	</strong>
					    </div>
					  </li>
					

        <% @thisofferarticles.each do |thisofferarticle| %>

					
					  <li class="list-group-item">
					    <div class="row text-center">

					    	<div class="col-md-4">
						      <%= thisofferarticle.article.article_name if thisofferarticle.article %>
						          
						          <% if current_user.admin %>
												<%= link_to edit_offer_article_path(thisofferarticle) do %>
											     <%= content_tag(:i, "", class: "fa fa-pencil-square-o btn btn-xs btn-default pull-right") %> 
											  <% end %>

			                	<%= link_to thisofferarticle, method: :delete, data: { confirm: 'Are you sure?' } do %>
											  	<%= content_tag(:i, "", class: "fa fa-times btn btn-xs btn-default pull-right") %>
											  <% end %>
											 <% end %>

					    	</div>

					      <div class="col-md-4">
					        <%= thisofferarticle.quantity if thisofferarticle.quantity %>
					      </div>

					      <div class="col-md-4">
					      	<% if thisofferarticle.article_id == 12 %>
					          <%= number_to_currency(@offer.transport_price,:unit=>'€', :precision => 4) %>
					        <% else %>
					        	<%= number_to_currency(thisofferarticle.article.sell_price,:unit=>'€', :precision => 4) if thisofferarticle.article %>
					        <% end %>
					      </div>

					    
					    </div>
					  </li>		  
					<% end %>
      	</ul>

    <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), events_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <%= link_to t("offer.yours"), offers_path, class: "btn btn-lg btn-block btn-info" %>
      </div>
    </div>
	






