					<ul class="list-group">

						<li class="list-group-item list-group-item-success">
        			<h4><%= t("offer.proposal") %></h4>
      			</li>

					  <li class="list-group-item">
					    <div class="row text-center">
					      <strong>
					      <div class="col-xs-12 col-md-7">
			          
				          <div class="col-xs-12 col-md-8">
						        <%= t("offer_box.box_name") %>
						      </div>

						      <div class="col-xs-12 col-md-4">
						        <%= t("offer_box.quantity") %>     
						      </div>
						    </div>

								<div class="col-xs-12 col-md-5">

						      <div class="col-xs-12 col-md-3">
						        <%= t("article.washing_price") %>     
						      </div>

						      <div class="col-xs-12 col-md-3">
						        <%= t("article.handwash_price") %>   
						      </div>

						      <div class="col-xs-12 col-md-3">
						        <%= t("article.tab_price") %>
						      </div>

						      <div class="col-xs-12 col-md-3">
						        <%= t("article.deposit_price") %>
						      </div>
						    </div>

					    </strong>
					    </div>
					  </li>
					
        	<% @thisofferboxes.each do |thisofferbox| %>

					
			      <li class="list-group-item">
			        <div class="row">

			        	<div class="col-xs-12 col-md-7">
			          
				          <div class="col-xs-12 col-md-8">
				            <% if thisofferbox.box %>

				            	<% if thisofferbox.box.is_empty %>
				            		<%= thisofferbox.box.box_name %>
				            	<% else %>

				                <%= thisofferbox.box.box_name %> (<%= thisofferbox.box.boxdetails.last.box_article_quantity %> <%= thisofferbox.box.boxdetails.last.article.full_name %>)
				              <% end %>
				                	<% if current_user.admin %>
														<%= link_to edit_offer_box_path(thisofferbox) do %>
													     <%= content_tag(:i, "", class: "fa fa-pencil-square-o btn btn-xs btn-default pull-right") %> 
													  <% end %>

					                	<%= link_to thisofferbox, method: :delete, data: { confirm: 'Are you sure?' } do %>
													  	<%= content_tag(:i, "", class: "fa fa-times btn btn-xs btn-default pull-right") %>
													  <% end %> 
													<% end %>
				  
				             <% end %>
				          </div>

				          <div class="col-xs-12 col-md-4 text-center">

				          	<% if thisofferbox.box.is_empty %>
				          		<%= thisofferbox.quantity if thisofferbox.quantity %> <%= t("offer.boxes") %>
				          	<% else %>
				              <%= thisofferbox.quantity if thisofferbox.quantity %> <%= t("offer.boxes") %> - 
				        			<%= thisofferbox.quantity * thisofferbox.box.boxdetails.last.box_article_quantity %> <%= t("offer.cups") %>
				            <% end %>
				          </div>

				        </div>

			         	<div class="col-xs-12 col-md-5">

				          <div class="col-xs-12 col-md-3 text-center">

				          	<% if @offer.organizer.present? %>

					          	<% if @offer.organizer.negociated_price %>

					          		<% if @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).any? %>

					          			<%= @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).last.washing %>					          			

					          		<% else %>

					             		<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.washing,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>
					             	<% end %>


					          	<% else %>

					             	<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.washing,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

					             <% end %>

					          <% else %>

					             <%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.washing,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

					          <% end %>


				          </div>

				          <div class="col-xs-12 col-md-3 text-center">

				          <% if @offer.organizer.present? %>

				          	<% if @offer.organizer.negociated_price %>

				          		<% if @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).any? %>

				          			<%= @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).last.handwash %>


				          		<% else %>

				             		<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.handwash,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>				         
				             	<% end %>

				          	<% else %>

				          		<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.handwash,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

				          	<% end %>

				          <% else %>

				          	<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.handwash,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

				          <% end %>

				          </div>

				          <div class="col-xs-12 col-md-3 text-center">

				          <% if @offer.organizer.present? %>

				          	<% if @offer.organizer.negociated_price %>

				          		<% if @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).any? %>

				          			<%= @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).last.handling %>

				          			User Article

				          		<% else %>

				             		<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.handling,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>				          	
				             	<% end %>

				          	<% else %>

				          	<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.handling,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

				          	<% end %>

				          <% else %>

				          <%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.handling,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

				          <% end %>

				          </div>

				          <div class="col-xs-12 col-md-3 text-center">

				          <% if @offer.organizer.present? %>

				          	<% if @offer.organizer.negociated_price %>

				          		<% if @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).any? %>

				          			<%= @offer.organizer.prices.where(:article_id => thisofferbox.box.articles.first.id).last.deposit %>

				        

				          		<% else %>

				             		<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.deposit,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>				          
				             	<% end %>

				          	<% else %>

				          	<%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.deposit,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

				          	<% end %>

				          <% else %>

				          <%= number_to_currency(@regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).last.deposit,:unit =>'€', :precision => 4) if @regular_prices.where(:article_id => thisofferbox.box.boxdetails.last.article.id).any? %>

				          <% end %>
				          </div>

			        	</div>
			        </div>
			      </li>
					<% end %>
				</ul>

