
					<ul class="list-group">

						<li class="list-group-item">
        			<h4><%= t("offer.proposal") %></h4>
      			</li>

					  <li class="list-group-item">
					    <div class="row text-center">
					      <strong>
			          
				          <div class="col-xs-6 col-md-4">
						        <%= t("offer_box.box_name") %>
						      </div>

						      <div class="col-xs-3 col-md-4 text-center">
						        <%= t("offer_box.quantity") %>     
						      </div>

								<div class="col-xs-3 col-md-4 text-center">
						       <%= t("article.washing_price") %>     
						    </div>

					    </strong>
					    </div>
					  </li>
					
        	<% @thisofferboxes.each do |thisofferbox| %>

					
			      <li class="list-group-item list-group-item-info">
			        <div class="row">			          
			          <div class="col-xs-6 col-md-4">
			            <% if thisofferbox.box %>

			            	<% if thisofferbox.box.is_empty %>
			            		<%= thisofferbox.box.box_name %>
			            	<% else %>

			                <%= thisofferbox.box.box_name %> (<%= thisofferbox.box.boxdetails.last.box_article_quantity %> <%= thisofferbox.box.boxdetails.last.article.full_name %>)
			              <% end %>

	                	<% if current_user.admin %>
											<%= link_to edit_offer_box_path(thisofferbox) do %>
										     <%= content_tag(:i, "", class: "fa fa-pencil-square-o btn btn-xs btn-default pull-right") %> 
										  <% end %>

		                	<%= link_to thisofferbox, method: :delete, data: { confirm: 'Are you sure?' } do %>
										  	<%= content_tag(:i, "", class: "fa fa-times btn btn-xs btn-default pull-right") %>
										  <% end %> 
										<% end %>
			  
			            <% end %>
			          </div>

			          <div class="col-xs-3 col-md-4 text-center">

			          	<% if thisofferbox.box.is_empty %>

			          		<%= thisofferbox.quantity if thisofferbox.quantity %> <%= t("offer.boxes") %>

			          	<% else %>

			              <%= thisofferbox.quantity if thisofferbox.quantity %> <%= t("offer.boxes") %> - 
			        			<%= thisofferbox.quantity * thisofferbox.box.boxdetails.last.box_article_quantity %> <%= t("offer.cups") %>

			            <% end %>
			          </div>

			         	<div class="col-xs-3 col-md-4 text-center">

			         		<% if thisofferbox.box.is_big_box %>

			         			<% if @offer.event.is_bep %>

					          	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_wash_price(User.is_bep.first), :unit => "€", :precision => 3) %>

					          <% else %>

					          	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_wash_price(@offer.organizer), :unit => "€", :precision => 3) %>

					          <% end %>
					        <% end %>

					        <% if thisofferbox.box.is_small_box %>

			         			<% if @offer.event.is_bep %>

					          	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_washing_small_price(User.is_bep.first), :unit => "€", :precision => 3) %>

					          <% else %>

					         	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_washing_small_price(@offer.organizer), :unit => "€", :precision => 3) %>
					         	
					          <% end %>
					        <% end %>
			        	</div>
			        </div>
			      </li>

			      <li class="list-group-item">
			        <div class="row">

			        	<div class="col-xs-6 col-md-3">
			          
									<strong>Suppléments</strong>

				        </div>

			        	<div class="col-xs-6 col-md-3 text-center">
			          	<strong><%= t("article.handwash_price") %></strong><br>
			         			<% if @offer.event.is_bep %>
					          	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_handwash_price(User.is_bep.first), :unit => "€", :precision => 3) %>
					          <% else %>
											<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_handwash_price(@offer.organizer), :unit => "€", :precision => 3) %>
										<% end %>
				        </div>

			         	<div class="col-xs-6 col-md-3 text-center">						       
						      <strong><%= t("article.tab_price") %></strong><br>
			         			<% if @offer.event.is_bep %>
					          	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_handling_price(User.is_bep.first), :unit => "€", :precision => 3) %>
					          <% else %>						      
				          		<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_handling_price(@offer.organizer), :unit => "€", :precision => 3) %>
				          	<% end %>
			        	</div>

			         	<div class="col-xs-6 col-md-3 text-center">
						      <strong><%= t("article.deposit_price") %></strong><br>
			         			<% if @offer.event.is_bep %>
					          	<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_deposit_price(User.is_bep.first, @offer.event), :unit => "€", :precision => 3) %>
					          <% else %>	
				          		<%= number_to_currency(thisofferbox.box.boxdetails.last.article.right_deposit_price(@offer.organizer, @offer.event), :unit => "€", :precision => 3) %>
				          	<% end %>

			        	</div>

			        </div>
			      </li>

					<% end %>
				</ul>

