<% if @user.offers.where(:client_confirmation => true).any? %>

  <% if @user.address.blank? %>

    <ul class="list-group">
      <li class="list-group-item list-group-item-warning">
        <h4><%= t("offer.complete_profile") %></h4>
      </li>
    </ul>

      <%= link_to t("user.fill_profile"), edit_user_path(@user), class: "btn btn-lg btn-block btn-info" %>

      <br>
  <% end %>

<% end %>



<ul class="list-group">
  <li class="list-group-item list-group-item-success">
    <div class="row">

      <div class="col-xs-12 col-md-6">
        <h4><%= t("offer.reference")%><%= @offer.created_at.strftime("%Y") %> - <%= @offer.id %>

          <% if @confirmation %>
            - <%= t("offer.you_confirmed") %>
          <% end %></h4>

      </div>

      <div class="col-xs-12 col-md-2">


        <% unless @confirmation %>

            <%= simple_form_for(@offer) do |f| %>
              <%= f.error_notification %>       

                <%= f.hidden_field :client_confirmation, :value => true %>             
                <%= f.submit t("offer.confirm"), class: "btn btn-info pull-right" %>

            <% end %>
        <% end %>

      </div>
          

      <div class="col-xs-12 col-md-4">

          <% if @confirmation && @offer.admin_confirmation == nil %>

            <% if @offer.sent_at.present? %>

              <% if Date.today >= @offer.sent_at + 16.days or Date.today <= @offer.event.event_start_date - 5.days %>

                <%= simple_form_for(@offer) do |f| %>
                  <%= f.error_notification %>       

                    <%= f.hidden_field :client_confirmation, :value => false %>             
                    <%= f.submit t("offer.cancel"), class: "btn btn-warning pull-right" %>

                <% end %>
              <% end %>

            <% else %>

              <% if Date.today >= @offer.created_at + 16.days or Date.today <= @offer.event.event_start_date - 5.days %>

                <%= simple_form_for(@offer) do |f| %>
                  <%= f.error_notification %>       

                    <%= f.hidden_field :client_confirmation, :value => false %>             
                    <%= f.submit t("offer.cancel"), class: "btn btn-warning pull-right" %>

                <% end %>
              <% end %>

            <% end %>
          <% end %>
      </div>
    </div>
  </li>

  <li class="list-group-item list-group-item-warning"><strong>
    <%= t("event.confirmation_warning") %><br>
    <%= t("event.confirmation_question") %>
  </strong></li>

  <li class="list-group-item"><strong><%= @event.event_name %></strong>

    <%= link_to t("event.edit_yours"), edit_event_path(@event), class: "btn btn-default" %>

  </li>

  <li class="list-group-item">
    <strong><%= t("event.organizer_name") %> </strong><%= @organizer.full_name if @organizer %>
  </li>

  <li class="list-group-item">
    <div class="row text-center">

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.expected_pax") %></strong><br><br><%= @event.expected_pax %>
      </div>

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.last_pax") %></strong><br><%= @event.last_pax %>      
      </div>

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.last_consumption") %></strong><br><%= @event.last_consumption %>   
      </div>

    </div>
  </li>
    
  <li class="list-group-item"><strong><%= t("event.comment") %></strong><br><%= @event.comment %></li>

</ul>