

<ul class="list-group">
  <li class="list-group-item list-group-item-success">

    <div class="row">

      <div class="col-xs-12 col-md-6">
        <h4><%= t("offer.reference")%><%= @offer.created_at.strftime("%Y") %> - <%= @offer.id %>

          <% if @confirmation == true %>
            - <%= t("offer.confirmed_by_client") %>

            <% if @confirmation_invoice == true %>
            - <%= t("offer.confirmation_invoice") %>
            <% end %>

          <% elsif @confirmation == nil %>
            - <%= t("offer.waiting_for_client") %>

          <% elsif @confirmation == false %>
            - <%= t("offer.rejected_by_client") %>            
          <% end %></h4>
      </div>



      <div class="col-xs-12 col-md-3">

          <% if @confirmation == true %>

            <%= simple_form_for(@new_delivery) do |f| %>
              <%= f.error_notification %>

                <%= f.hidden_field :offer_id, :value => @offer.id %>
                <%= f.hidden_field :delivery_date, :value => @offer.event.delivery_date %>
                <%= f.hidden_field :return_date, :value => @offer.event.return_date %>

                <%= f.submit t("offer.skip"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure") } %>


            <% end %>

          <% elsif @confirmation == nil %>

            <% unless @offer.client_confirmation %>

              <%= simple_form_for(@offer) do |f| %>
                <%= f.error_notification %>       

                  <%= f.hidden_field :client_confirmation, :value => true %>             
                  <%= f.submit t("offer.confirm_for_client"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure") } %>

              <% end %>
            <% end %>

          <% elsif @confirmation == false %>

            <% unless @offer.client_confirmation %>
           
              <%= simple_form_for(@offer) do |f| %>
                <%= f.error_notification %>       

                  <%= f.hidden_field :client_confirmation, :value => true %>             
                  <%= f.submit t("offer.confirm_for_client"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure") } %>

              <% end %>
            <% end %>

          <% end %>

      </div>


      <div class="col-xs-12 col-md-3">

          <% if @confirmation == true && @confirmation_invoice == true %>

            <%= simple_form_for(@new_delivery) do |f| %>
              <%= f.error_notification %>

                <%= f.hidden_field :offer_id, :value => @offer.id %>
                <%= f.hidden_field :delivery_date, :value => @offer.event.delivery_date %>
                <%= f.hidden_field :return_date, :value => @offer.event.return_date %>

              <div class="form-actions">
                <%= f.submit t("offer.delivery"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure") } %>
              </div>

            <% end %>
 

          <% elsif @confirmation == true && @confirmation_invoice.blank? %>

            <%= simple_form_for(@offer) do |f| %>
              <%= f.error_notification %>

                <%= f.hidden_field :confirmation_invoice, :value => true %>

              <div class="form-actions">
                <%= f.submit t("offer.invoice"), class: "btn btn-info" %>
              </div>

            <% end %>

          <% end %>

      </div>
    </div>
  </li>

  <li class="list-group-item">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <strong>
          <%= @event.event_name %>
        </strong>
          <%= link_to edit_event_path(@event) do %>
            <%= content_tag(:i, "", class: "fa fa-pencil") %> 
          <% end %>
      </div>

      <div class="col-xs-12 col-md-6">
        <% unless @offer.send_email %>

          <%= simple_form_for(@offer) do |f| %>
            <%= f.error_notification %>       

              <%= f.hidden_field :send_email, :value => true %>
              <%= f.hidden_field :send_at, :value => Time.now %>

              <%= f.submit t("offer.send_email"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure") } %>

          <% end %>
        <% end %>

      </div>

    </div>
  </li>

  <li class="list-group-item">
    <strong><%= t("event.organizer_name") %> </strong><%= @organizer.full_name if @organizer %>
  </li>

  <li class="list-group-item">
    <strong><%= t("event.organizer_name") %> </strong>

    <%= simple_form_for(@offer) do |f| %>
      <%= f.error_notification %>

      <div class="row">
        <div class="col-md-6">
          <%= f.collection_select :organizer_id, User.all.order('name ASC'), :id, :full_name_with_company, {prompt: false}, {class: "form-control styled-select"} %>
        </div>
        <div class="col-md-6">
          <%= f.button :submit, class: "btn btn-block btn-info" %>
        </div>
      </div>


    <% end %>

  </li>

  <li class="list-group-item">
    <div class="row text-center">

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.expected_pax") %></strong><br><br><%= @event.expected_pax %>
      </div>

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.last_pax") %></strong><br><%= @event.last_pax %>      
      </div>

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.last_consumption") %></strong><br><%= @event.last_consumption %>   
      </div>

    </div>
  </li>

  <li class="list-group-item">
    <div class="row text-center">

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.bar") %></strong><br><br><%= @event.bar %>
      </div>

      <div class="col-xs-12 col-md-4">
        <strong><%= t("event.beertap") %></strong><br><%= @event.beertap %>      
      </div>

      <div class="col-xs-12 col-md-4">
        <strong><%= t("article.weight") %></strong><br><%= @offer.weight %> KG     
      </div>
    </div>
  </li>

  <li class="list-group-item"><strong><%= t("event.comment") %></strong><br><%= @event.comment %></li>



  <li class="list-group-item">

    <% if @offer.comment.present? %>
      <strong><%= t("offer.comment") %></strong><br>
    <%= @offer.comment %>

        <!-- Large modal -->
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#offer_<%= @offer.id %>">

         <%= t("menu.edit") %>

        </button>

        <div class="modal fade" id="offer_<%= @offer.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">

              <%= simple_form_for(@offer) do |f| %>

                <div class="modal-header">

                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                  </button>

                    <h4 class="modal-title" id="myModalLabel">

                                   
                     
                    </h4>
                </div>

                <div class="modal-body">
                  <%= f.input :comment %>            
                </div>

                <div class="modal-footer">

                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <%= t("menu.close") %>
                  </button>

                    <%= f.button :submit, class: "btn btn-info" %>

                </div>
              <% end %>
            </div>
          </div>
        </div>





    <% else %>

      <%= simple_form_for(@offer) do |f| %>
        <%= f.error_notification %>       

          <%= f.input :comment %>             
          <%= f.button :submit , class: "btn btn-info" %>

      <% end %>
    <% end %>
  </li>



</ul>