

	<ul class="list-group">
				<li class="list-group-item list-group-item-warning">
					<h4><%= t("offer.confirmed_by_clients") %></h4>
				</li>

					<% @confirmed_not_paid.each do |offer| %>

						<% unless offer.lln_daily %>

							<% unless offer.admin_confirmation %>
																
								<li class="list-group-item">

									<div class="row">
										<div class="col-xs-8 col-md-4">			
											<strong>
												<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
												<br>
												<%= offer.event.event_name %>
											</strong>
										</div>

										<div class="col-xs-4 col-md-2">

												<%= link_to offer_path(offer) do %>
													<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
												<% end %>
			      		    </div>

										<div class="col-xs-12 col-md-3">

					            <%= simple_form_for(@new_delivery) do |f| %>
					              <%= f.error_notification %>

					                <%= f.hidden_field :offer_id, :value => offer.id %>
					                <%= f.hidden_field :delivery_date, :value => offer.event.delivery_date %>
					                <%= f.hidden_field :return_date, :value => offer.event.return_date %>

					                <%= f.submit t("offer.skip"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure")} %>

					            <% end %>

										</div>

										<div class="col-xs-12 col-md-3">

					            <%= simple_form_for(offer) do |f| %>
					              <%= f.error_notification %>

					                <%= f.hidden_field :confirmation_invoice, :value => true %>

					                <%= f.submit t("offer.invoice"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure")} %>

					            <% end %>

			      		    </div>
							    </div>
								</li>
							<% end %>
						<% end %>
					<% end %>

				<li class="list-group-item list-group-item-warning">
					<h4><%= t("offer.waiting_deposit") %></h4>
				</li>

					<% @confirmed_paid.each do |offer| %>

						<% unless offer.lln_daily %>

							<li class="list-group-item">

								<div class="row">
									<div class="col-xs-8 col-md-4">			
										<strong>
											<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
											<br>
											<%= offer.event.event_name %>
										</strong>
									</div>

									<div class="col-xs-4 col-md-2">

											<%= link_to offer_path(offer) do %>
												<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
											<% end %>
		      		    </div>

									<div class="col-xs-12 col-md-4">


				            <%= simple_form_for(@new_delivery) do |f| %>
				              <%= f.error_notification %>

				                <%= f.hidden_field :offer_id, :value => offer.id %>
				                <%= f.hidden_field :delivery_date, :value => offer.event.delivery_date %>
				                <%= f.hidden_field :return_date, :value => offer.event.return_date %>

				        
				                <%= f.submit t("offer.delivery"), class: "btn btn-info", data: { confirm: t("menu.are_you_sure")} %>
		

				            <% end %>
		      		    </div>
						    </div>
							</li>
						<% end %>
					<% end %>

		</ul>
      	

<ul class="list-group">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.waiting_for_clients") %></h4>
					</li>

					<% @pendingoffers.each do |offer| %>

						<% unless offer.lln_daily %>

							<li class="list-group-item">
								<div class="row">

									<div class="col-xs-8 col-md-8">
										<strong>
											<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
										<br>
											<%= offer.event.event_name %>
										</strong>
									</div>

									<div class="col-xs-4 col-md-4">

											<%= link_to offer_path(offer) do %>
												<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
											<% end %>
		      		    </div>

						    </div>
							</li>
						<% end %>
					<% end %>
	</div>

	<div class="col-xs-12 col-md-6">

					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.rejected_by_clients") %></h4>
					</li>

					<% @rejectedoffers.each do |offer| %>

						<% unless offer.lln_daily %>

							<li class="list-group-item">
								<div class="row">

									<div class="col-xs-8 col-md-8">
										<strong>
											<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
										<br>
											<%= offer.event.event_name %>
										</strong>
									</div>

								<div class="col-xs-4 col-md-4">

										<%= link_to offer_path(offer) do %>
											<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
										<% end %>
	      		    </div>

						    </div>
							</li>
						<% end %>
					<% end %>
</ul>

<ul class="list-group">
					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.sent_for_delivery") %></h4>
					</li>

					<% @confirmed.last_month.each do |offer| %>

						<% unless offer.lln_daily %>

							<li class="list-group-item">
								<div class="row">

									<div class="col-xs-8 col-md-4">
										<strong>
											<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
										<br>
											<%= offer.event.event_name %>
										</strong>
									</div>

								<div class="col-xs-4 col-md-4">

										<%= link_to offer_path(offer) do %>
											<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
										<% end %>
	      		    </div>


									<div class="col-xs-12 col-md-4">
										<strong>
											<%= t("offer.sent_on")%><br>
											<%= offer.updated_at.strftime("%d/%m/%Y") %><br>
											<%= offer.created_at.strftime("%d/%m/%Y") %>
										</strong>
									</div>
						    </div>
							</li>
						<% end %>
					<% end %>	
	</ul>	<!-- list-group -->