	<ul class="list-group">

		<li class="list-group-item list-group-item-warning">
			<h4><%= t("offer.confirmed_by_clients") %></h4>
		</li>

			<% @confirmedoffers.each do |offer| %>
														


					<li class="list-group-item">
						<div class="row">

							<div class="col-md-6">			
								<strong>
									<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
									<br>
									<%= offer.event.event_name %>
								</strong>
							</div>

							<div class="col-md-2">

									<%= link_to offer_path(offer) do %>
										<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
									<% end %>
      		    </div>

							<div class="col-md-4">

								<%= simple_form_for(offer) do |f| %>
		    					<%= f.error_notification %>				

										<%= f.hidden_field :admin_confirmation, :value => true %>			       
					      		<%= f.submit t("offer.delivery"), class: "btn btn-info" %>

	      				<% end %> <!-- offer form -->
      		    </div>
				    </div>
					</li>
			<% end %>
		</ul>
      	

<ul class="list-group">
			<div class="row">
				<div class="col-md-6">
					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.waiting_for_clients") %></h4>
					</li>

					<% @pendingoffers.each do |offer| %>

						<li class="list-group-item">
							<div class="row">

								<div class="col-md-8">
									<strong>
										<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
									<br>
										<%= offer.event.event_name %>
									</strong>
								</div>

								<div class="col-md-4">

										<%= link_to offer_path(offer) do %>
											<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
										<% end %>
	      		    </div>

					    </div>
						</li>
					<% end %>
	</div>

	<div class="col-md-6">
					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.rejected_by_clients") %></h4>
					</li>

					<% @rejectedoffers.each do |offer| %>

						<li class="list-group-item">
							<div class="row">

								<div class="col-md-8">
									<strong>
										<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
									<br>
										<%= offer.event.event_name %>
									</strong>
								</div>

							<div class="col-md-4">

									<%= link_to offer_path(offer) do %>
										<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
									<% end %>
      		    </div>

					    </div>
						</li>
					<% end %>	
	</ul>	<!-- list-group -->