	<ul class="list-group">

		<li class="list-group-item list-group-item-warning">
			<h4><%= t("offer.waiting") %></h4>
		</li>

			<% @confirmedoffers.each do |offer| %>
														


					<li class="list-group-item">
						<div class="row">

							<div class="col-md-6">			
								<strong>
									<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
									<br>
									<%= offer.event.event_name %>
								</strong>
							</div>

							<div class="col-md-2">

									<%= link_to offer_path(offer) do %>
										<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
									<% end %>
      		    </div>

							<div class="col-md-4">

								<%= simple_form_for(offer) do |f| %>
		    					<%= f.error_notification %>				

										<%= f.hidden_field :admin_confirmation, :value => true %>			       
					      		<%= f.submit t("offer.delivery"), class: "btn btn-info" %>

	      				<% end %> <!-- offer form -->
      		    </div>
				    </div>
					</li>
			<% end %>
      	

					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.your_confirmed") %></h4>
					</li>

					<% @pendingoffers.each do |offer| %>

						<li class="list-group-item">
							<div class="row">

								<div class="col-md-6">
									<strong>
										<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
									<br>
										<%= offer.event.event_name %>
									</strong>
								</div>

							<div class="col-md-2">

									<%= link_to offer_path(offer) do %>
										<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
									<% end %>
      		    </div>

								<div class="col-md-4">
									

	      		    </div>

					    </div>
						</li>
					<% end %>

					<li class="list-group-item list-group-item-warning">
						<h4><%= t("offer.your_rejected") %></h4>
					</li>

					<% @rejectedoffers.each do |offer| %>

						<li class="list-group-item">
							<div class="row">

								<div class="col-md-6">
									<strong>
										<%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
									<br>
										<%= offer.event.event_name %>
									</strong>
								</div>

							<div class="col-md-2">

									<%= link_to offer_path(offer) do %>
										<%= content_tag(:i, "", class: "fa fa-info fa-2x") %> 
									<% end %>
      		    </div>

	      		    <div class="col-md-4">
									
								<%= simple_form_for(offer) do |f| %>
		    					<%= f.error_notification %>				

										<%= f.hidden_field :client_confirmation, :value => true %>			       
					      		<%= f.submit t("menu.cancel"), class: "btn btn-info" %>
					      <% end %>

	      		    </div>

					    </div>
						</li>
					<% end %>	
	</ul>	<!-- list-group -->



	<ul class="list-group">

				<div class="row">
					<div class="col-md-4">
						<li class="list-group-item list-group-item-warning">
						
							<h4>All Offers</h4>
						
						</li>

			      <% @offers.each do |offer| %>

			        <li class="list-group-item list-group-item-info">
				        <strong>
				          <%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
				          <%= link_to offer_path(offer) do %>
				            <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
				          <% end %> <!-- glyphicon -->
				          <%= offer.event.event_name %>
				        </strong>
			      	</li>        
			     	<% end %> <!-- each offer do -->
			    </div>



			    <div class="row">
					<div class="col-md-4">
						<li class="list-group-item list-group-item-warning">
						
							<h4><%= t("offer.pending") %></h4>
						
						</li>

			      <% @pendingoffers.each do |offer| %>

			        <li class="list-group-item list-group-item-info">
				        <strong>
				          <%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
				          <%= link_to offer_path(offer) do %>
				            <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
				          <% end %> <!-- glyphicon -->
				          <%= offer.event.event_name %>
				        </strong>
			      	</li>        
			     	<% end %> <!-- each offer do -->
			    </div>



					<div class="col-md-4">
						<li class="list-group-item list-group-item-warning">
							
							<h4><%= t("offer.client_confirmed") %></h4>
							
						</li>

			      <% @confirmedoffers.each do |offer| %>

			        <li class="list-group-item list-group-item-info">
			        	<strong>
			          <%= t("offer.reference")%><%= offer.created_at.strftime("%Y") %> - <%= offer.id %>
			          <%= link_to offer_path(offer) do %>
			            <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
			          <% end %> <!-- glyphicon -->
			          <%= offer.event.event_name %>
			        	</strong>
			      	</li>
			     	<% end %> <!-- confirmed offers -->
		    	</div>
		    </div> <!-- row -->

		
	</ul>