<p id="notice"><%= notice %></p>

<h1>Listing Offers</h1>

        <% @offers.each do |offer| %>

          <li class="list-group-item list-group-item-info"><strong>
            <%= t("offer.reference") %><%= offer.id %>
            <%= link_to offer_path(offer) do %>
              <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
            <% end %>
            <%= offer.event.event_name %>
          </strong></li>
          
        <% end %>
<br>


