<div class="container-fluid more-padding">
    
<%= render 'event_info' %>

<%= render 'box_detail' %>

<%= render 'add_box' %>

<%= render 'article_detail' %>

<%= render 'add_article' %>

</div>




