<% if current_user.admin %>

  <div class="container-fluid more-padding">
    
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        <h4><%= t("offer.reference")%><%= @offer.created_at.strftime("%Y") %> - <%= @offer.id %>
          <% if @offer.client_confirmation? %>
            - <%= t("offer.client_confirmed") %>
          <% end %>
        </h4>
      </li>

      <li class="list-group-item"><strong><%= @event.event_name %></strong>
        <%= link_to edit_event_path(@event) do %>
          <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
        <% end %><br>
      </li>

      <li class="list-group-item">
        <strong><%= t("event.organizer_name") %> </strong><%= @organizer.full_name if @organizer %>
      </li>

      <div class="row text-center">
        <div class="col-md-4">
          <li class="list-group-item"><strong><%= t("event.expected_pax") %></strong><br><br><%= @event.expected_pax %>
          </li>
        </div>
        <div class="col-md-4">
          <li class="list-group-item"><strong><%= t("event.last_pax") %></strong><br><%= @event.last_pax %>
          </li>
        </div>
        <div class="col-md-4">
          <li class="list-group-item"><strong><%= t("event.last_consumption") %></strong><br><%= @event.last_consumption %>
          </li>
        </div>
      </div>
        
      <li class="list-group-item"><strong><%= t("event.comment") %></strong><br><%= @event.comment %></li>
    

      <li class="list-group-item list-group-item-success">
        <h4><%= t("offer.proposal") %></h4>
      </li>
    </ul>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("offer_box.box_name") %></th>
            <th><%= t("offer_box.quantity") %></th>
            <th></th>
          </tr>
        </thead>
      
        <% @thisofferboxes.each do |thisofferbox| %>
          <tbody>
            <tr>
          	<td>
              <% if thisofferbox.box %>
              <%= thisofferbox.box.box_name %>
          		<%= link_to edit_offer_box_path(thisofferbox) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %><br>

              <%= thisofferbox.box.boxdetails.last.box_article_quantity %> <%= thisofferbox.box.boxdetails.last.article.full_name %> 
              
              <% end %>

            </td>
          	<td><%= thisofferbox.quantity if thisofferbox.quantity %> <%= t("offer.boxes") %><br>
              <%= thisofferbox.quantity * thisofferbox.box.boxdetails.last.box_article_quantity %> <%= t("offer.cups") %>
            </td>

            <td><%= link_to t("offer_box.destroy"), thisofferbox, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("offer_article.article_name") %></th>
            <th><%= t("offer_article.quantity") %></th>
            <th></th>
          </tr>
        </thead>
      
        <% @thisofferarticles.each do |thisofferarticle| %>
          <tbody>
            <tr>
          	<td><%= thisofferarticle.article.article_name if thisofferarticle.article %>
          		<%= link_to edit_offer_article_path(thisofferarticle) do %>
                <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
              <% end %>
            </td>
          	<td><%= thisofferarticle.quantity if thisofferarticle.quantity %></td>

                
            
            <td><%= link_to t("offer_article.destroy"), thisofferarticle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

  </div>



  <div class="container-fluid">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
          <h5><strong><%= t("offer.add_box")%></strong></h5>
        </li>
      </ul>

      <%= simple_form_for(@new_offer_box) do |f| %>
        <%= f.error_notification %>

        
        	<%= f.hidden_field :offer_id, :value => @offer.id %>
           <div class="col-md-4">
            <%= f.label :box_id %>
            <%= f.collection_select :box_id, Box.all.order('box_name ASC'), :id, :box_name, {prompt: false}, {class: "form-control styled-select"} %>
          </div>
          <div class="col-md-4">
            <%= f.input :quantity %>
          </div>

          <div class="col-md-4">
            <br>
            <%= f.button :submit, class: "btn btn-success" %>
          </div>
      <% end %>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <ul class="list-group">
        <li class="list-group-item list-group-item-warning">
          <h5><strong><%= t("offer.add_article")%></strong></h5>
        </li>
      </ul>


          <%= simple_form_for(@new_offer_article) do |f| %>
            <%= f.error_notification %>

            
            	<%= f.hidden_field :offer_id, :value => @offer.id %>
               <div class="col-md-4">
                <%= f.label :article_id %>
                <%= f.collection_select :article_id, Article.all.order('article_name ASC'), :id, :article_name, {prompt: false}, {class: "form-control styled-select"} %>
              </div>
              <div class="col-md-4">
                <%= f.input :quantity %>
              </div>

              <div class="col-md-4">
                <br>
                <%= f.button :submit, class: "btn btn-success" %>
              </div>
          <% end %>
    </div>
  </div><br>

<% elsif current_user = @event.organizer %>

  <div class="container-fluid more-padding">
    
    <ul class="list-group">
      <li class="list-group-item list-group-item-success">
        <h4><%= t("offer.reference")%><%= @offer.created_at.strftime("%Y") %> - <%= @offer.id %>
          <% if @offer.client_confirmation? %>
            - <%= t("offer.you_confirmed") %>
          <% end %>
        </h4>
      </li>

      <li class="list-group-item"><strong><%= @event.event_name %></strong>
        <%= link_to edit_event_path(@event) do %>
          <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
        <% end %><br>
      </li>

      <li class="list-group-item">
        <strong><%= t("event.organizer_name") %> </strong><%= @organizer.full_name if @organizer %>
      </li>

      <div class="row text-center">
        <div class="col-md-4">
          <li class="list-group-item"><strong><%= t("event.expected_pax") %></strong><br><br><%= @event.expected_pax %>
          </li>
        </div>
        <div class="col-md-4">
          <li class="list-group-item"><strong><%= t("event.last_pax") %></strong><br><%= @event.last_pax %>
          </li>
        </div>
        <div class="col-md-4">
          <li class="list-group-item"><strong><%= t("event.last_consumption") %></strong><br><%= @event.last_consumption %>
          </li>
        </div>
      </div>
        
      <li class="list-group-item"><strong><%= t("event.comment") %></strong><br><%= @event.comment %></li>
    

      <li class="list-group-item list-group-item-success">
        <h4><%= t("offer.proposal") %></h4>
      </li>
    </ul>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("offer_box.box_name") %></th>
            <th><%= t("offer_box.quantity") %></th>
          </tr>
        </thead>
      
        <% @thisofferboxes.each do |thisofferbox| %>
          <tbody>
            <tr>
              <td>
                <% if thisofferbox.box %>
                <%= thisofferbox.box.box_name %><br>
                <%= thisofferbox.box.boxdetails.last.box_article_quantity %> <%= thisofferbox.box.boxdetails.last.article.full_name %> 
                
                <% end %>
              </td>
              <td><%= thisofferbox.quantity if thisofferbox.quantity %> <%= t("offer.boxes") %><br>
                <%= thisofferbox.quantity * thisofferbox.box.boxdetails.last.box_article_quantity %> <%= t("offer.cups") %>
              </td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th><%= t("offer_article.article_name") %></th>
            <th><%= t("offer_article.quantity") %></th>
          </tr>
        </thead>
      
        <% @thisofferarticles.each do |thisofferarticle| %>
          <tbody>
            <tr>
              <td><%= thisofferarticle.article.article_name if thisofferarticle.article %>
                <%= link_to edit_offer_article_path(thisofferarticle) do %>
                  <span class="glyphicon glyphicon-pencil btn btn-default btn-xs" aria-hidden="true"></span>
                <% end %>
              </td>
              <td><%= thisofferarticle.quantity if thisofferarticle.quantity %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
    </div>

  </div>


<% end %>

<%= link_to t("menu.back"), offers_path, class: "btn btn-warning" %>


