<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @offer.event_id %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @offer.organizer_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
