<ul class="list-group">

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @eptwentyfive.full_name %>
			</div>
			<div class="col-md-4">
				<%= @eptwentyfive.total_february %> - <%= @eptwentyfive.total_march %> - 
				<%= @eptwentyfive.total_april %> - <%= @eptwentyfive.total_may %> - 
				<%= @eptwentyfive.total_june %> - <%= @eptwentyfive.total_july %>
			</div>			
		</div>
	</li>

</ul>

