<p id="notice"><%= notice %></p>

<h1>Listing Sorting Details</h1>

<table>
  <thead>
    <tr>
      <th>Sorting</th>
      <th>Article</th>
      <th>Box qtty</th>
      <th>Pile qtty</th>
      <th>Unit qtty</th>
      <th>Clean</th>
      <th>Very dirty</th>
      <th>Broken</th>
      <th>Handling</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sorting_details.each do |sorting_detail| %>
      <tr>
        <td><%= sorting_detail.sorting_id %></td>
        <td><%= sorting_detail.article_id %></td>
        <td><%= sorting_detail.box_qtty %></td>
        <td><%= sorting_detail.pile_qtty %></td>
        <td><%= sorting_detail.unit_qtty %></td>
        <td><%= sorting_detail.clean %></td>
        <td><%= sorting_detail.very_dirty %></td>
        <td><%= sorting_detail.broken %></td>
        <td><%= sorting_detail.handling %></td>
        <td><%= link_to 'Show', sorting_detail %></td>
        <td><%= link_to 'Edit', edit_sorting_detail_path(sorting_detail) %></td>
        <td><%= link_to 'Destroy', sorting_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sorting detail', new_sorting_detail_path %>
