<ul class="list-group">

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @bcc.full_name %>
			</div>
			<div class="col-md-4">
				<%= @bcc.total_february %> - <%= @bcc.total_march %> - 
				<%= @bcc.total_april %> - <%= @bcc.total_may %> - 
				<%= @bcc.total_june %> - <%= @bcc.total_july %>
			</div>			
		</div>
	</li>

</ul>

