<ul class="list-group">
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				Article
			</div>
			<div class="col-md-1">
				Février			
			</div>
			<div class="col-md-1">
				Mars		
			</div>
			<div class="col-md-1">
				Avril
			</div>
			<div class="col-md-1">
				Mai
			</div>
			<div class="col-md-1">
				Juin
			</div>					
		</div>		
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cctwenty.full_name %>
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_february %>
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_march %>
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @cctwenty.total_july %>						
			</div>					
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cctwentyfive.full_name %>
			</div>
			<div class="col-md-1">
				<%= @cctwentyfive.total_february %>
			</div>
			<div class="col-md-1">
				<%= @cctwentyfive.total_march %>
			</div>
			<div class="col-md-1">
				<%= @cctwentyfive.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @cctwentyfive.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @cctwentyfive.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @cctwentyfive.total_july %>						
			</div>					
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @ccforty.full_name %>
			</div>
			<div class="col-md-1">
				<%= @ccforty.total_february %>
			</div>
			<div class="col-md-1">
				<%= @ccforty.total_march %>
			</div>
			<div class="col-md-1">
				<%= @ccforty.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @ccforty.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @ccforty.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @ccforty.total_july %>						
			</div>					
		</div>
	</li>
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @ccfifty.full_name %>
			</div>
			<div class="col-md-1">
				<%= @ccfifty.total_february %>
			</div>
			<div class="col-md-1">
				<%= @ccfifty.total_march %>
			</div>
			<div class="col-md-1">
				<%= @ccfifty.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @ccfifty.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @ccfifty.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @ccfifty.total_july %>						
			</div>					
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cclitre.full_name %>
			</div>
			<div class="col-md-1">
				<%= @cclitre.total_february %>
			</div>
			<div class="col-md-1">
				<%= @cclitre.total_march %>
			</div>
			<div class="col-md-1">
				<%= @cclitre.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @cclitre.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @cclitre.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @cclitre.total_july %>						
			</div>					
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @llntwentyfive.full_name %>
			</div>
			<div class="col-md-1">
				<%= @llntwentyfive.total_february %>
			</div>
			<div class="col-md-1">
				<%= @llntwentyfive.total_march %>
			</div>
			<div class="col-md-1">
				<%= @llntwentyfive.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @llntwentyfive.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @llntwentyfive.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @llntwentyfive.total_july %>						
			</div>					
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @llnfifty.full_name %>
			</div>
			<div class="col-md-1">
				<%= @llnfifty.total_february %>
			</div>
			<div class="col-md-1">
				<%= @llnfifty.total_march %>
			</div>
			<div class="col-md-1">
				<%= @llnfifty.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @llnfifty.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @llnfifty.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @llnfifty.total_july %>						
			</div>					
		</div>
	</li>

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @llnlitre.full_name %>
			</div>
			<div class="col-md-1">
				<%= @llnlitre.total_february %>
			</div>
			<div class="col-md-1">
				<%= @llnlitre.total_march %>
			</div>
			<div class="col-md-1">
				<%= @llnlitre.total_april %>						
			</div>
			<div class="col-md-1">
				<%= @llnlitre.total_may %>					
			</div>
			<div class="col-md-1">
				<%= @llnlitre.total_june %>						
			</div>
			<div class="col-md-1">
				<%= @llnlitre.total_july %>						
			</div>					
		</div>
	</li>


</ul>

	
	<br>




<% @march.each do |sorting| %>

	<%= sorting.id %>
	<%= sorting.start_time.strftime('%d/%m/%Y') %><br>

<% end %>