<ul class="list-group">

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cava.full_name %>
			</div>
			<div class="col-md-4">
				<%= @cava.total_february %> - <%= @cava.total_march %> - 
				<%= @cava.total_april %> - <%= @cava.total_may %> - 
				<%= @cava.total_june %> - <%= @cava.total_july %>
			</div>			
		</div>
	</li>

</ul>

