<ul class="list-group">

	<li class="list-group-item">
		<div class="row">
			<div class="col-md-2">
				<%= @cctwentyfive.full_name %>
			</div>
			<div class="col-md-4">
				<%= @cctwentyfive.total_february %> - <%= @cctwentyfive.total_march %><br>
				<%= @cctwentyfive.total_april %> - <%= @cctwentyfive.total_may %><br>
				<%= @cctwentyfive.total_june %> - <%= @cctwentyfive.total_july %>
			</div>			
		</div>
	</li>

</ul>

