<p id="notice"><%= notice %></p>

<p>
  <strong>Sorting:</strong>
  <%= @sorting_detail.sorting_id %>
</p>

<p>
  <strong>Article:</strong>
  <%= @sorting_detail.article_id %>
</p>

<p>
  <strong>Box qtty:</strong>
  <%= @sorting_detail.box_qtty %>
</p>

<p>
  <strong>Pile qtty:</strong>
  <%= @sorting_detail.pile_qtty %>
</p>

<p>
  <strong>Unit qtty:</strong>
  <%= @sorting_detail.unit_qtty %>
</p>

<p>
  <strong>Clean:</strong>
  <%= @sorting_detail.clean %>
</p>

<p>
  <strong>Very dirty:</strong>
  <%= @sorting_detail.very_dirty %>
</p>

<p>
  <strong>Broken:</strong>
  <%= @sorting_detail.broken %>
</p>

<p>
  <strong>Handling:</strong>
  <%= @sorting_detail.handling %>
</p>

<%= link_to 'Edit', edit_sorting_detail_path(@sorting_detail) %> |
<%= link_to 'Back', sorting_details_path %>
