<ul class="list-group">
	<li class="list-group-item">
		<div class="row">
			<div class="col-md-1">
				<b>Date</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Electricité</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Photo</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Gaz</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Eau</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Gobelets Lavés</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Caisses Retour</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Heures prestées</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Gobelet par heure prestée</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Durée lavages</b>
			</div>
			<div class="col-md-1 text-center">
				<b>Lavages Manuels et Manutention</b>
			</div>
		</div>
	</li>


	<% @energies.each do |energy| %>

		<li class="list-group-item">
			<div class="row">
				<div class="col-md-1">
					<%= energy.created_at.strftime('%d/%m/%Y') %>
				</div>

				<div class="col-md-1 text-center">
					<%= energy.daily_electricity %>
				</div>

				<div class="col-md-1 text-center">
					<%= energy.daily_photo %>
				</div>

				<div class="col-md-1 text-center">
					<%= energy.daily_gaz %>
				</div>

				<div class="col-md-1 text-center">
					<%= energy.daily_water %>
				</div>

				<div class="col-md-1 text-center">
					<%= energy.total_cups %>
				</div>
				<div class="col-md-1 text-center">
					<%= energy.total_boxes %>
				</div>
				<div class="col-md-1 text-center">
					<%= energy.display_duration %>
				</div>
				<div class="col-md-1 text-center">
					<%= energy.cups_per_hour %>
				</div>
				<div class="col-md-1 text-center">
					<%= energy.display_total_wash %>
				</div>
				<div class="col-md-1 text-center">
					<%= energy.total_manual %>
				</div>
			</div>
		</li>


<% end %>


</ul>
