<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    Consommation énergétique
  </li>

  <% if @energies.any? %>

    <% if @energies.all.last.created_at.strftime("%d/%m/%Y") == Time.now.strftime("%d/%m/%Y") %>

      <h4>Déjà encodé pour aujourd'hui</h4>

    <% else %>

    <%= simple_form_for(@new_energy) do |f| %>
      <%= f.error_notification %>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= f.input :electricity %>
          </div>

          <div class="col-md-3">
            <%= f.input :two_electricity %>
          </div>

          <div class="col-md-3">
            <%= f.input :photo %>
          </div>
            
          <div class="col-md-3">
            <%= f.input :two_photo %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :gaz %>
          </div>

          <div class="col-md-6">
            <%= f.input :two_gaz %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">      
          <div class="col-md-3">
            <%= f.input :water %>
          </div>
            
          <div class="col-md-3">
            <%= f.input :two_water %>
          </div>

          <div class="col-md-3">
            <%= f.input :three_water %>
          </div>
            
          <div class="col-md-3">
            <%= f.input :four_water %>
          </div>

        </div>
      </li>

    </ul>
      
        <%= f.button :submit, class: "btn btn-lg btn-block btn-info" %>

    <% end %>

  <% end %>

  <% else %>

    <%= simple_form_for(@new_energy) do |f| %>
      <%= f.error_notification %>
<ul class="list-group">
      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= f.input :electricity %>
          </div>

          <div class="col-md-3">
            <%= f.input :two_electricity %>
          </div>

          <div class="col-md-3">
            <%= f.input :photo %>
          </div>
            
          <div class="col-md-3">
            <%= f.input :two_photo %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <%= f.input :gaz %>
          </div>

          <div class="col-md-6">
            <%= f.input :two_gaz %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">      
          <div class="col-md-3">
            <%= f.input :water %>
          </div>
            
          <div class="col-md-3">
            <%= f.input :two_water %>
          </div>

          <div class="col-md-3">
            <%= f.input :three_water %>
          </div>
            
          <div class="col-md-3">
            <%= f.input :four_water %>
          </div>

        </div>
      </li>

    </ul>
      
        <%= f.button :submit, class: "btn btn-lg btn-block btn-info" %>

    <% end %>

  <% end %>


<ul class="list-group more-padding">
  <li class="list-group-item list-group-item-warning">
    Consommation énergétique
  </li>


    <% @energies.each do |energy| %>

  <li class="list-group-item">

        <%= energy.created_at.strftime("%d/%m/%Y") if energy.created_at %>
  </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-3">
            <%= energy.electricity %>
          </div>

          <div class="col-md-3">
            <%= energy.two_electricity %>
          </div>

          <div class="col-md-3">
            <%= energy.photo %>
          </div>
            
          <div class="col-md-3">
            <%= energy.two_photo %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-md-6">
            <%= energy.gaz %>
          </div>

          <div class="col-md-6">
            <%= energy.two_gaz %>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">      
          <div class="col-md-3">
            <%= energy.water %>
          </div>
            
          <div class="col-md-3">
            <%= energy.two_water %>
          </div>

          <div class="col-md-3">
            <%= energy.three_water %>
          </div>
            
          <div class="col-md-3">
            <%= energy.four_water %>
          </div>

        </div>
      </li>
<% end %>
    </ul>
        
        
        

