<ul class="list-group">
  <li class="list-group-item">
    <div class="row">

      <div class="col-md-6">
        <%= link_to t("menu.back"), reporting_attendances_path, class: "btn btn-lg btn-block btn-default" %>
      </div>
      <div class="col-md-6">
        <%= render 'add_attendance' %>
      </div>
    </div>
  </li>
</ul>


<hr>


<ul class="list-group">
	<% User.staff.each do |user| %>
		<li class="list-group-item list-group-item-info">
        <div class="row">

          <div class="col-md-2">
            <%= user.full_name %>
          </div>
          <div class="col-md-2">
            Entrées
          </div>
          <div class="col-md-2">
            Sorties
          </div>
          <div class="col-md-2">
            Durée
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-2">

          </div>
        </div>

			
		</li>

		<% user.attendances.order('start_time DESC').last_thirty_days.each do |attendance| %>

			<li class="list-group-item">
				<div class="row">

					<div class="col-md-2">
						<%= attendance.start_time.strftime("%d/%m/%Y") %>
					</div>
					<div class="col-md-2">
						<%= attendance.start_time.strftime("%H:%M") %>
					</div>
					<div class="col-md-2">
						<%= attendance.end_time.strftime("%H:%M") if attendance.end_time %>
					</div>
					<div class="col-md-2">
						<%= attendance.display_duration %>
					</div>


					<div class="col-md-2">
              <!-- Large modal -->
              <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#attendance_<%= attendance.id %>">
              	<%= t("menu.edit") %>

              </button>

              <div class="modal fade" id="attendance_<%= attendance.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">

                    <%= simple_form_for attendance do |f| %>

                      <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                        </button>

                          <h4 class="modal-title" id="myModalLabel">

                          	<%= f.collection_select :user_id, User.staff.order('name ASC'), :id, :full_name, {prompt: false}, {class: "form-control styled-select"} %>
                           
                          </h4>
                      </div>

                      <div class="modal-body">
                      	<div class="text-center">

                             <%= f.input :start_time %><br>

                             <%= f.input :end_time %><br>

												</div>    
                      </div>

                      <div class="modal-footer">

                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <%= t("menu.close") %>
                        </button>
                
                          <%= f.button :submit, class: "btn btn-info" %>
          
                      </div>
                    <% end %>            
                  </div>
                </div>
              </div> <!-- End Modal -->


					</div>
          <div class="col-md-2">
          </div>
				</div>
			</li>

		<% end %>

	<% end %>

</ul>
