<% if user_signed_in? %>
  <li><%= link_to t("menu.edit_account"), edit_user_registration_path %></li>
  <li><%= link_to t("menu.edit_profile"), edit_user_path(@user) %></li>
  <li><%= link_to t("menu.events"), events_path %></li>
  <li><%= link_to t("menu.articles"), articles_path %></li>
  <li><%= link_to t("menu.sign_out"), destroy_user_session_path, :method=>'delete' %></li>
  	<% if current_user.admin %>
	  <li><%= link_to t("menu.users"), users_path %></li>
	<% end %>
<% else %>
  <li><%= link_to t("menu.sign_in"), new_user_session_path %></li>
  <li><%= link_to t("menu.sign_up"), new_user_registration_path %></li>
<% end %>

