<div id="wrapper">

  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="#">
          <%= link_to 'Rekwup', root_path, class: 'navbar-brand' %>
        </a>
      </li>

      <% if user_signed_in? %>

        <% if current_user.admin %>
          <li>
            <a href="#"><%= link_to t("menu.users"), users_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("user.is_lln"), lln_imports_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.presences"), reporting_attendances_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.events"), events_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.offers"), offers_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.invoices"), invoices_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.deliveries"), deliveries_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.returns"), return_boxes_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.washes"), washes_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.sortings"), sortings_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.parcels"), parcels_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.articles"), articles_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.prices"), prices_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.boxes"), boxes_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.energy"), energies_path %></a>
          </li>

        <% end %>

        <% if current_user.staff %>

          <% if Energy.any? %>

            <% if Energy.last.created_at <= Date.today %>

              <li>
                <a href="#"><%= link_to t("menu.energy"), energies_path %></a>
              </li>

            <% else %>
              <li>
                <a href="#"><%= link_to t("user.is_lln"), lln_imports_path %></a>
              </li>
              <li>
                <a href="#"><%= link_to t("menu.deliveries"), deliveries_path %></a>
              </li>
              <li>
                <a href="#"><%= link_to t("menu.returns"), return_boxes_path %></a>
              </li>
              <li>
                <a href="#"><%= link_to t("menu.washes"), washes_path %></a>
              </li>
              <li>
                <a href="#"><%= link_to t("menu.sortings"), sortings_path %></a>
              </li>
              <li>
                <a href="#"><%= link_to t("menu.parcels"), parcels_path %></a>
              </li>

            <% end %>

          <% else %>

              <li>
                <a href="#"><%= link_to t("menu.energy"), energies_path %></a>
              </li>

          <% end %>

        <% end %>


        <% if current_user.chauffeur %>
          <li>
            <a href="#"><%= link_to t("menu.deliveries"), deliveries_path %></a>
          </li>
          <li>
            <a href="#"><%= link_to t("menu.returns"), return_boxes_path %></a>
          </li>

        <% end %>

        <% if current_user.client %>
          <li>
            <a href="#"><%= link_to t("user.your_profile"), user_path(current_user) %></a>
          </li>

          <% if current_user.name.present? %>
            <li>
              <a href="#"><%= link_to t("event.your_events"), events_path %></a>
            </li>
          <% end %>

          <% if current_user.offers.any? %>
            <li>
              <a href="#"><%= link_to t("offer.yours"), offers_path %></a>
            </li>
          <% end %>

          <% if current_user.deliveries.any? %>
            <li>
              <a href="#"><%= link_to t("delivery.yours"), deliveries_path %></a>
            </li>
          <% end %>

          <li>
            <a href="#"><%= link_to t("menu.articles"), articles_path %></a>
          </li>
          
        <% end %>

      <% else %>

        <li>
          <a href="#"><%= link_to t("menu.sign_in"), new_user_session_path %></a>
        </li>
        <li>
          <a href="#"><%= link_to t("menu.sign_up"), new_user_registration_path %></a>
        </li>

      <% end %>
    </ul>

  </div>
  <!-- /#sidebar-wrapper -->

  <div id="page-content-wrapper">
  	<div class="container-fluid">

      <ul class="list-group">
        <li class="list-group-item list-group-item-info">
          <h5><%= t("menu.construction") %></h5>
        </li>
      </ul>

  		<div class="row">
  			<div class="col-md-6">
  				<a href="#menu-toggle" class="glyphicon glyphicon-menu-hamburger btn btn-default btn-md" aria-hidden="true" id="menu-toggle"></a>
  			</div>
  		</div>

  		
  	</div>
  <!-- Page Content -->