
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Circle</th>
      <th>lln_twentyfive</th>
      <th>lln_fifty</th>
      <th>lln_litre</th>
      <th>empty_box</th>
      <th>kpt_box</th>
      <th>return_box</th>
      <th>total delivery<th>

    </tr>
  </thead>
  <tbody>
    <% @lln_imports.each do |lln_import| %>
      <tr>
        <td><%= lln_import.id %>

        <%= link_to lln_import, method: :delete, data: { confirm: 'Are you sure?' } do %>
				<%= content_tag(:i, "", class: "fa fa-times btn btn-xs btn-default pull-right") %>
				<% end %>

			</td>
        <td><%= lln_import.circle %></td>
        <td><%= lln_import.lln_twentyfive %></td>
        <td><%= lln_import.lln_fifty %></td>
        <td><%= lln_import.lln_litre %></td>
        <td><%= lln_import.empty_box %></td>
        <td><%= lln_import.kpt_box %></td>
        <td><%= lln_import.return_box %></td>
        <td><%= lln_import.total_delivery %></td>
        <td><%= lln_import.current_year %></td>
        <td>
	   				<% if lln_import.total_delivery >= 1 %>

	  					<%= simple_form_for(@new_offer) do |f| %>
              	<%= f.error_notification %>

			          <%= f.hidden_field :event_id, :value => Event.is_lln.where(:lln_year => lln_import.current_year).last.id %>
			          <%= f.hidden_field :organizer_id, :value => User.is_lln.where(:lln_id => lln_import.id).last.id %>
			          <%= f.hidden_field :client_confirmation, :value => true %>
			          <%= f.hidden_field :admin_confirmation, :value => true %>
			          <%= f.hidden_field :lln_daily, :value => true %>

								<%= f.button :submit, class: "btn btn-success" %><br>

							<% end %>

						<% end %>

        </td>




      </tr>
    <% end %>
  </tbody>
</table>
<div>
<h3>Import a CSV File</h3>
  <%= form_tag import_lln_imports_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</div>

 
