<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    <strong>
      <div class="row text-center">
        <div class="col-md-1">
          Id
        </div>
        <div class="col-md-2">
        Circle
        </div>
        <div class="col-md-1">
        lln_twentyfive
        </div>
        <div class="col-md-1">
        lln_fifty
        </div>
        <div class="col-md-1">
        lln_litre
        </div>
        <div class="col-md-1">
        empty_box
        </div>
        <div class="col-md-1">
        kpt_box
        </div>
        <div class="col-md-1">
        return_box
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </strong>
  </li>
    <% @lln_imports.each do |lln_import| %>

  <li class="list-group-item ">
    <strong>
      <div class="row text-center">
        <div class="col-md-1">
          <%= lln_import.id %>
        </div>
        <div class="col-md-2">
        <%= lln_import.circle %>
        </div>
        <div class="col-md-1">
        <%= lln_import.lln_twentyfive %>
        </div>
        <div class="col-md-1">
        <%= lln_import.lln_fifty %>
        </div>
        <div class="col-md-1">
        <%= lln_import.lln_litre %>
        </div>
        <div class="col-md-1">
        <%= lln_import.empty_box %>
        </div>
        <div class="col-md-1">
        <%= lln_import.kpt_box %>
        </div>
        <div class="col-md-1">
        <%= lln_import.return_box %>
        </div>
        <div class="col-md-3">

            <% if lln_import.grand_total >= 1 %>

              <%= simple_form_for(@new_offer) do |f| %>
                <%= f.error_notification %>

                <%= f.hidden_field :event_id, :value => Event.is_lln.where(:lln_year => lln_import.current_year).last.id %>
                <%= f.hidden_field :organizer_id, :value => User.is_lln.where(:lln_id => lln_import.id).last.id %>
                <%= f.hidden_field :client_confirmation, :value => true %>
                <%= f.hidden_field :admin_confirmation, :value => true %>
                <%= f.hidden_field :lln_daily, :value => true %>

                <%= f.button :submit, class: "btn btn-success" %><br>

              <% end %>

            <% end %>


        </div>
      </div>
    </strong>
  </li>
        
    <% end %>

</ul>



<ul class="list-group">
  <li class="list-group-item list-group-item-warning">
    Import a CSV File
  </li>

  <%= form_tag import_lln_imports_path, multipart: true do %>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-6">
        <%= file_field_tag :file %>
      </div>
      <div class="col-md-6">
      <%= submit_tag "Import CSV", class: "btn btn-block btn-info" %>
      </div>
    </div>
  </li>
  <% end %>
</ul>

 
